<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.qixiaowei.strategy.cloud.mapper.businessDesign.BusinessDesignMapper">
    <!--    查询业务设计表-->
    <select id="selectBusinessDesignByBusinessDesignId"
            resultType="net.qixiaowei.strategy.cloud.api.dto.businessDesign.BusinessDesignDTO">
        SELECT
        bd.business_design_id,
        bd.plan_year,
        bd.plan_business_unit_id,
        bd.business_unit_decompose,
        bd.area_id,
        bd.department_id,
        bd.product_id,
        bd.industry_id,
        bd.delete_flag,
        bd.create_by,
        bd.create_time,
        bd.update_by,
        bd.update_time,
        pbu.business_unit_name
        FROM business_design bd
        LEFT JOIN plan_business_unit pbu
        ON pbu.plan_business_unit_id = bd.plan_business_unit_id
        AND pbu.delete_flag=0
        WHERE bd.business_design_id=#{businessDesignId}
        and bd.delete_flag=0
    </select>
    <!--    批量查询业务设计表-->
    <select id="selectBusinessDesignByBusinessDesignIds"
            resultType="net.qixiaowei.strategy.cloud.api.dto.businessDesign.BusinessDesignDTO">
        SELECT
        business_design_id,plan_year,plan_business_unit_id,business_unit_decompose,area_id,department_id,product_id,industry_id,delete_flag,create_by,create_time,update_by,update_time
        FROM business_design
        WHERE business_design_id in
        <foreach item="item"
                 collection="businessDesignIds"
                 index="index" open="(" separator="," close=")">
            #{item}
        </foreach>
        and delete_flag=0
    </select>
    <!--    查询业务设计表列表-->
    <select id="selectBusinessDesignList"
            resultType="net.qixiaowei.strategy.cloud.api.dto.businessDesign.BusinessDesignDTO">
        SELECT
        bd.business_design_id,
        bd.plan_year,
        bd.plan_business_unit_id,
        bd.business_unit_decompose,
        pbu.business_unit_name,
        pbu.business_unit_code,
        bd.area_id,
        bd.department_id,
        bd.product_id,
        bd.industry_id,
        bd.delete_flag,
        bd.create_by,
        bd.create_time,
        bd.update_by,
        bd.update_time
        FROM business_design bd
        LEFT JOIN plan_business_unit pbu
        ON pbu.plan_business_unit_id = bd.plan_business_unit_id
        AND pbu.delete_flag = 0
        WHERE bd.delete_flag=0
        <if test="businessDesign.businessDesignId != null">
            and bd.business_design_id=#{businessDesign.businessDesignId}
        </if>
        <if test="businessDesign.planYear != null">
            and bd.plan_year=#{businessDesign.planYear}
        </if>
        <if test="businessDesign.planBusinessUnitId != null">
            and bd.plan_business_unit_id=#{businessDesign.planBusinessUnitId}
        </if>
        <if test="businessDesign.businessUnitDecompose != null and businessDesign.businessUnitDecompose != ''">
            and bd.business_unit_decompose=#{businessDesign.businessUnitDecompose}
        </if>
        <if test="businessDesign.areaId != null">
            and bd.area_id=#{businessDesign.areaId}
        </if>
        <if test="businessDesign.departmentId != null">
            and bd.department_id=#{businessDesign.departmentId}
        </if>
        <if test="businessDesign.productId != null">
            and bd.product_id=#{businessDesign.productId}
        </if>
        <if test="businessDesign.industryId != null">
            and bd.industry_id=#{businessDesign.industryId}
        </if>
        <if test="businessDesign.deleteFlag != null">
            and bd.delete_flag=#{businessDesign.deleteFlag}
        </if>
        <if test="businessDesign.createBy != null">
            and bd.create_by=#{businessDesign.createBy}
        </if>
        <if test="businessDesign.createTime != null">
            and bd.create_time=#{businessDesign.createTime}
        </if>
        <if test="businessDesign.updateBy != null">
            and bd.update_by=#{businessDesign.updateBy}
        </if>
        <if test="businessDesign.updateTime != null">
            and bd.update_time=#{businessDesign.updateTime}
        </if>
        <!--    规划年份过滤-->
        <if test="businessDesign.params.planYearEqual != null and businessDesign.params.planYearEqual.size() > 0">
            and bd.plan_year IN
            <foreach item="item"
                     collection="businessDesign.params.planYearEqual"
                     index="index" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test="businessDesign.params.planYearNotEqual != null and businessDesign.params.planYearNotEqual.size() > 0">
            AND (bd.plan_year NOT IN
            <foreach item="item"
                     collection="businessDesign.params.planYearNotEqual"
                     index="index" open="(" separator="," close=")">
                #{item}
            </foreach>
            OR bd.plan_year IS NULL
            )
        </if>
        <if test="businessDesign.params.planYearBefore != null and businessDesign.params.planYearBefore != ''">
            AND bd.plan_year &lt; #{businessDesign.params.planYearBefore}
        </if>
        <if test="businessDesign.params.planYearNotBefore != null and businessDesign.params.planYearNotBefore != ''"><!-- 开始时间检索 -->
            AND bd.plan_year &gt;= #{businessDesign.params.planYearNotBefore}
        </if>
        <if test="businessDesign.params.planYearAfter != null and businessDesign.params.planYearAfter != ''"><!-- 开始时间检索 -->
            AND bd.plan_year &gt; #{businessDesign.params.planYearAfter}
        </if>
        <if test="businessDesign.params.planYearNotAfter != null and businessDesign.params.planYearNotAfter != ''"><!-- 结束时间检索 -->
            AND bd.plan_year &lt;= #{businessDesign.params.planYearNotAfter}
        </if>
        <if test="businessDesign.params.planYearStart != null and businessDesign.params.planYearStart != ''"><!-- 开始时间检索 -->
            AND bd.plan_year &gt;= #{businessDesign.params.planYearStart}
        </if>
        <if test="businessDesign.params.planYearEnd != null and businessDesign.params.planYearEnd != ''"><!-- 结束时间检索 -->
            AND bd.plan_year &lt;= #{businessDesign.params.planYearEnd}
        </if>
        <!-- 创建人等于过滤  -->
        <if test="businessDesign.params.createByList != null and businessDesign.params.createByList.size() > 0">
            AND bd.create_by IN
            <foreach item="item"
                     collection="businessDesign.params.createByList"
                     index="index" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <!--规划业务单元名称-->
        <if test="businessDesign.params.businessUnitName != null and businessDesign.params.businessUnitName != ''">
            and pbu.business_unit_name like concat('%', #{businessDesign.params.businessUnitName}, '%')
        </if>
        <!--年份过滤-->
        <if test="businessDesign.params.planYearEqual != null and businessDesign.params.planYearEqual.size() > 0">
            and bd.plan_year IN
            <foreach item="item"
                     collection="businessDesign.params.planYearEqual"
                     index="index" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test="businessDesign.params.planYearNotEqual != null and businessDesign.params.planYearNotEqual.size() > 0">
            AND (bd.plan_year NOT IN
            <foreach item="item"
                     collection="businessDesign.params.planYearNotEqual"
                     index="index" open="(" separator="," close=")">
                #{item}
            </foreach>
            OR bd.plan_year IS NULL
            )
        </if>
        <if test="businessDesign.params.planYearBefore != null and businessDesign.params.planYearBefore != ''">
            AND bd.plan_year &lt; #{businessDesign.params.planYearBefore}
        </if>
        <if test="businessDesign.params.planYearNotBefore != null and businessDesign.params.planYearNotBefore != ''"><!-- 开始时间检索 -->
            AND bd.plan_year &gt;= #{businessDesign.params.planYearNotBefore}
        </if>
        <if test="businessDesign.params.planYearAfter != null and businessDesign.params.planYearAfter != ''"><!-- 开始时间检索 -->
            AND bd.plan_year &gt; #{businessDesign.params.planYearAfter}
        </if>
        <if test="businessDesign.params.planYearNotAfter != null and businessDesign.params.planYearNotAfter != ''"><!-- 结束时间检索 -->
            AND bd.plan_year &lt;= #{businessDesign.params.planYearNotAfter}
        </if>
        <if test="businessDesign.params.planYearStart != null and businessDesign.params.planYearStart != ''"><!-- 开始时间检索 -->
            AND bd.plan_year &gt;= #{businessDesign.params.planYearStart}
        </if>
        <if test="businessDesign.params.planYearEnd != null and businessDesign.params.planYearEnd != ''"><!-- 结束时间检索 -->
            AND bd.plan_year &lt;= #{businessDesign.params.planYearEnd}
        </if>
        <!--规划业务单元名称高级搜索-->
        <if test="businessDesign.params.businessUnitNameEqual != null and businessDesign.params.businessUnitNameEqual.size() > 0">
            AND pbu.business_unit_name IN
            <foreach item="item"
                     collection="businessDesign.params.businessUnitNameEqual"
                     index="index" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test="businessDesign.params.businessUnitNameNotEqual != null and businessDesign.params.businessUnitNameNotEqual.size() > 0">
            AND (pbu.business_unit_name NOT IN
            <foreach item="item"
                     collection="businessDesign.params.businessUnitNameNotEqual"
                     index="index" open="(" separator="," close=")">
                #{item}
            </foreach>
            OR pbu.business_unit_name IS NULL
            )
        </if>
        <if test="businessDesign.params.businessUnitNameLike != null and businessDesign.params.businessUnitNameLike.size() > 0">
            AND
            <foreach item="item"
                     collection="businessDesign.params.businessUnitNameLike"
                     index="index" open="(" separator="OR" close=")">
                pbu.business_unit_name LIKE concat('%', #{item}, '%')
            </foreach>
        </if>
        <if test="businessDesign.params.businessUnitNameNotLike != null and businessDesign.params.businessUnitNameNotLike.size() > 0">
            AND
            <foreach item="item"
                     collection="businessDesign.params.businessUnitNameNotLike"
                     index="index" open="(" separator="AND" close=")">
                pbu.business_unit_name NOT LIKE concat('%', #{item}, '%')
            </foreach>
        </if>
        <!--行业-->
        <if test="businessDesign.params.industryIdEqual != null and businessDesign.params.industryIdEqual.size() > 0">
            and bd.industry_id IN
            <foreach item="item"
                     collection="businessDesign.params.industryIdEqual"
                     index="index" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test="businessDesign.params.industryIdNotEqual != null and businessDesign.params.industryIdNotEqual.size() > 0">
            AND (bd.industry_id NOT IN
            <foreach item="item"
                     collection="businessDesign.params.industryIdNotEqual"
                     index="index" open="(" separator="," close=")">
                #{item}
            </foreach>
            OR bd.industry_id IS NULL
            )
        </if>
        <!--区域-->
        <if test="businessDesign.params.areaIdEqual != null and businessDesign.params.areaIdEqual.size() > 0">
            and bd.area_id IN
            <foreach item="item"
                     collection="businessDesign.params.areaIdEqual"
                     index="index" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test="businessDesign.params.areaIdNotEqual != null and businessDesign.params.areaIdNotEqual.size() > 0">
            AND (bd.area_id NOT IN
            <foreach item="item"
                     collection="businessDesign.params.areaIdNotEqual"
                     index="index" open="(" separator="," close=")">
                #{item}
            </foreach>
            OR bd.area_id IS NULL
            )
        </if>
        <!--产品-->
        <if test="businessDesign.params.productIdEqual != null and businessDesign.params.productIdEqual.size() > 0">
            and bd.product_id IN
            <foreach item="item"
                     collection="businessDesign.params.productIdEqual"
                     index="index" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test="businessDesign.params.productIdNotEqual != null and businessDesign.params.productIdNotEqual.size() > 0">
            AND (bd.product_id NOT IN
            <foreach item="item"
                     collection="businessDesign.params.productIdNotEqual"
                     index="index" open="(" separator="," close=")">
                #{item}
            </foreach>
            OR bd.product_id IS NULL
            )
        </if>
        <!--部门-->
        <if test="businessDesign.params.departmentIdEqual != null and businessDesign.params.departmentIdEqual.size() > 0">
            and bd.department_id IN
            <foreach item="item"
                     collection="businessDesign.params.departmentIdEqual"
                     index="index" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test="businessDesign.params.departmentIdNotEqual != null and businessDesign.params.departmentIdNotEqual.size() > 0">
            AND (bd.department_id NOT IN
            <foreach item="item"
                     collection="businessDesign.params.departmentIdNotEqual"
                     index="index" open="(" separator="," close=")">
                #{item}
            </foreach>
            OR bd.department_id IS NULL
            )
        </if>
        GROUP BY bd.business_design_id
        ORDER BY bd.update_time ASC
    </select>
    <!--查询最近一次-->
    <select id="selectBusinessDesignRecently"
            resultType="net.qixiaowei.strategy.cloud.api.dto.businessDesign.BusinessDesignDTO">
        SELECT
        bd.business_design_id,
        bd.plan_year,
        bd.plan_business_unit_id,
        bd.business_unit_decompose,
        bd.area_id,
        bd.department_id,
        bd.product_id,
        bd.industry_id,
        bd.delete_flag,
        bd.create_by,
        bd.create_time,
        bd.update_by,
        bd.update_time,
        pbu.business_unit_name
        FROM business_design bd
        LEFT JOIN plan_business_unit pbu
        ON pbu.plan_business_unit_id = bd.plan_business_unit_id
        AND pbu.delete_flag=0
        WHERE bd.delete_flag=0
        AND bd.plan_year = #{planYear}
        ORDER BY bd.update_time DESC
        limit 1
    </select>
    <!--根据维度ID集合查询-->
    <select id="selectBusinessDesignByPlanBusinessUnitIds"
            resultType="net.qixiaowei.strategy.cloud.api.dto.businessDesign.BusinessDesignDTO">
        SELECT
        bd.business_design_id,
        bd.plan_year,
        bd.plan_business_unit_id,
        bd.business_unit_decompose,
        bd.area_id,
        bd.department_id,
        bd.product_id,
        bd.industry_id,
        bd.delete_flag,
        bd.create_by,
        bd.create_time,
        bd.update_by,
        bd.update_time,
        pbu.business_unit_name
        FROM business_design bd
        LEFT JOIN plan_business_unit pbu
        ON pbu.plan_business_unit_id = bd.plan_business_unit_id
        AND pbu.delete_flag=0
        WHERE bd.delete_flag=0
        AND bd.plan_business_unit_id IN
        <foreach item="item"
                 collection="planBusinessUnitIds"
                 index="index" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>
    <!--新增业务设计表-->
    <insert id="insertBusinessDesign" useGeneratedKeys="true" keyProperty="businessDesignId">
        INSERT INTO business_design
        (plan_year,plan_business_unit_id,business_unit_decompose,area_id,department_id,product_id,industry_id,delete_flag,create_by,create_time,update_by,update_time)
        VALUES
        (#{businessDesign.planYear},#{businessDesign.planBusinessUnitId},#{businessDesign.businessUnitDecompose},#{businessDesign.areaId},#{businessDesign.departmentId},#{businessDesign.productId},#{businessDesign.industryId},#{businessDesign.deleteFlag},#{businessDesign.createBy},#{businessDesign.createTime},#{businessDesign.updateBy},#{businessDesign.updateTime})
    </insert>
    <!--修改业务设计表-->
    <update id="updateBusinessDesign">
        UPDATE business_design
        SET
        <if test="businessDesign.planYear != null">
            plan_year=#{businessDesign.planYear},
        </if>
        <if test="businessDesign.planBusinessUnitId != null">
            plan_business_unit_id=#{businessDesign.planBusinessUnitId},
        </if>
        <if test="businessDesign.businessUnitDecompose != null and businessDesign.businessUnitDecompose != ''">
            business_unit_decompose=#{businessDesign.businessUnitDecompose},
        </if>
        <if test="businessDesign.areaId != null">
            area_id=#{businessDesign.areaId},
        </if>
        <if test="businessDesign.departmentId != null">
            department_id=#{businessDesign.departmentId},
        </if>
        <if test="businessDesign.productId != null">
            product_id=#{businessDesign.productId},
        </if>
        <if test="businessDesign.industryId != null">
            industry_id=#{businessDesign.industryId},
        </if>
        <if test="businessDesign.deleteFlag != null">
            delete_flag=#{businessDesign.deleteFlag},
        </if>
        <if test="businessDesign.createBy != null">
            create_by=#{businessDesign.createBy},
        </if>
        <if test="businessDesign.createTime != null">
            create_time=#{businessDesign.createTime},
        </if>
        <if test="businessDesign.updateBy != null">
            update_by=#{businessDesign.updateBy},
        </if>
        <if test="businessDesign.updateTime != null">
            update_time=#{businessDesign.updateTime}
        </if>
        WHERE
        business_design_id=#{businessDesign.businessDesignId}
    </update>
    <!--逻辑删除业务设计表-->
    <update id="logicDeleteBusinessDesignByBusinessDesignId">
        UPDATE business_design
        SET delete_flag= 1,
        update_by=#{businessDesign.updateBy},
        update_time=#{businessDesign.updateTime}
        WHERE
        business_design_id=#{businessDesign.businessDesignId}
    </update>
    <!--逻辑批量删除业务设计表-->
    <update id="logicDeleteBusinessDesignByBusinessDesignIds">
        UPDATE business_design
        SET delete_flag= 1,
        update_by=#{updateBy},
        update_time=#{updateTime}
        WHERE
        business_design_id IN
        <foreach item="item"
                 collection="businessDesignIds"
                 index="index" open="(" separator="," close=")">
            #{item}
        </foreach>
    </update>
    <!--批量新增业务设计表-->
    <insert id="batchBusinessDesign">
        INSERT INTO business_design
        (plan_year,plan_business_unit_id,business_unit_decompose,area_id,department_id,product_id,industry_id,delete_flag,create_by,create_time,update_by,update_time)
        VALUES
        <foreach item="item" index="index"
                 collection="businessDesigns"
                 separator=",">
            (#{item.planYear},#{item.planBusinessUnitId},#{item.businessUnitDecompose},#{item.areaId},#{item.departmentId},#{item.productId},#{item.industryId},#{item.deleteFlag},#{item.createBy},#{item.createTime},#{item.updateBy},#{item.updateTime})
        </foreach>
    </insert>

    <!--物理删除业务设计表-->
    <delete id="deleteBusinessDesignByBusinessDesignId">
        DELETE FROM business_design
        WHERE business_design_id=#{businessDesign}

    </delete>
    <!--物理批量删除业务设计表-->
    <delete id="deleteBusinessDesignByBusinessDesignIds">
        DELETE FROM business_design
        WHERE business_design_id IN
        <foreach item="item"
                 collection="businessDesignIds"
                 index="index" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>
    <!--批量修改业务设计表-->
    <update id="updateBusinessDesigns">
        update business_design
        <trim prefix="set" suffixOverrides=",">
            <trim prefix="plan_year=case" suffix="end,">
                <foreach collection="businessDesignList" item="item" index="index">
                    <if test="item.planYear != null">
                        when business_design_id=#{item.businessDesignId} then #{item.planYear}
                    </if>
                </foreach>
            </trim>
            <trim prefix="plan_business_unit_id=case" suffix="end,">
                <foreach collection="businessDesignList" item="item" index="index">
                    <if test="item.planBusinessUnitId != null">
                        when business_design_id=#{item.businessDesignId} then #{item.planBusinessUnitId}
                    </if>
                </foreach>
            </trim>
            <trim prefix="business_unit_decompose=case" suffix="end,">
                <foreach collection="businessDesignList" item="item" index="index">
                    <if test="item.businessUnitDecompose != null and item.businessUnitDecompose != ''">
                        when business_design_id=#{item.businessDesignId} then #{item.businessUnitDecompose}
                    </if>
                </foreach>
            </trim>
            <trim prefix="area_id=case" suffix="end,">
                <foreach collection="businessDesignList" item="item" index="index">
                    <if test="item.areaId != null">
                        when business_design_id=#{item.businessDesignId} then #{item.areaId}
                    </if>
                </foreach>
            </trim>
            <trim prefix="department_id=case" suffix="end,">
                <foreach collection="businessDesignList" item="item" index="index">
                    <if test="item.departmentId != null">
                        when business_design_id=#{item.businessDesignId} then #{item.departmentId}
                    </if>
                </foreach>
            </trim>
            <trim prefix="product_id=case" suffix="end,">
                <foreach collection="businessDesignList" item="item" index="index">
                    <if test="item.productId != null">
                        when business_design_id=#{item.businessDesignId} then #{item.productId}
                    </if>
                </foreach>
            </trim>
            <trim prefix="industry_id=case" suffix="end,">
                <foreach collection="businessDesignList" item="item" index="index">
                    <if test="item.industryId != null">
                        when business_design_id=#{item.businessDesignId} then #{item.industryId}
                    </if>
                </foreach>
            </trim>
            <trim prefix="delete_flag=case" suffix="end,">
                <foreach collection="businessDesignList" item="item" index="index">
                    <if test="item.deleteFlag != null">
                        when business_design_id=#{item.businessDesignId} then #{item.deleteFlag}
                    </if>
                </foreach>
            </trim>
            <trim prefix="create_by=case" suffix="end,">
                <foreach collection="businessDesignList" item="item" index="index">
                    <if test="item.createBy != null">
                        when business_design_id=#{item.businessDesignId} then #{item.createBy}
                    </if>
                </foreach>
            </trim>
            <trim prefix="create_time=case" suffix="end,">
                <foreach collection="businessDesignList" item="item" index="index">
                    <if test="item.createTime != null">
                        when business_design_id=#{item.businessDesignId} then #{item.createTime}
                    </if>
                </foreach>
            </trim>
            <trim prefix="update_by=case" suffix="end,">
                <foreach collection="businessDesignList" item="item" index="index">
                    <if test="item.updateBy != null">
                        when business_design_id=#{item.businessDesignId} then #{item.updateBy}
                    </if>
                </foreach>
            </trim>
            <trim prefix="update_time=case" suffix="end,">
                <foreach collection="businessDesignList" item="item" index="index">
                    <if test="item.updateTime != null">
                        when business_design_id=#{item.businessDesignId} then #{item.updateTime}
                    </if>
                </foreach>
            </trim>
        </trim>
        where
        <foreach collection="businessDesignList" separator="or" item="item" index="index">
            business_design_id=#{item.businessDesignId}
        </foreach>
    </update>
</mapper>


