<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.qixiaowei.system.manage.mapper.user.UserMapper">


    <select id="checkUserAccountUnique" parameterType="String" resultType="int">
        select count(1) FROM user WHERE user_account=#{userAccount} and delete_flag = 0 LIMIT 1
    </select>

    <select id="checkMobilePhoneUnique" parameterType="String"
            resultType="net.qixiaowei.system.manage.api.dto.user.UserDTO">
        SELECT user_id, mobile_phone FROM user WHERE mobile_phone=#{mobilePhone} and delete_flag = 0 LIMIT 1
    </select>

    <select id="checkEmailUnique" parameterType="String"
            resultType="net.qixiaowei.system.manage.api.dto.user.UserDTO">
        SELECT user_id, email FROM user WHERE email=#{email} and delete_flag = 0 LIMIT 1
    </select>

    <select id="checkUserUnique" resultType="net.qixiaowei.system.manage.api.dto.user.UserDTO">
        SELECT
        user_id, employee_id, user_account, mobile_phone, email
        FROM user
        WHERE delete_flag=0
        <if test="user.employeeId != null">
            and employee_id=#{user.employeeId}
        </if>
        <if test="user.userAccount != null and user.userAccount != ''">
            and user_account=#{user.userAccount}
        </if>
        <if test="user.mobilePhone != null and user.mobilePhone != ''">
            and mobile_phone=#{user.mobilePhone}
        </if>
        <if test="user.email != null and user.email != ''">
            and email=#{user.email}
        </if>
    </select>

    <select id="selectUserByUserAccount"
            resultType="net.qixiaowei.system.manage.api.dto.user.UserDTO">
        SELECT
        u.user_id, u.employee_id, u.user_account, u.password, u.user_name, u.mobile_phone, u.email, u.avatar, u.remark, u.status,
        u.delete_flag, u.create_by, u.create_time, u.update_by, u.update_time,e.employee_name
        FROM user u
        LEFT JOIN employee e ON e.employee_id = u.employee_id AND e.delete_flag = 0
        WHERE u.user_account=#{userAccount}
        and u.delete_flag = 0
    </select>

    <!--    查询用户表-->
    <select id="selectUserByUserId"
            resultType="net.qixiaowei.system.manage.api.dto.user.UserDTO">
        SELECT
        u.user_id, u.employee_id, u.user_account, u.password, u.user_name, u.mobile_phone, u.email, u.avatar, u.remark, u.status,
        u.delete_flag, u.create_by, u.create_time, u.update_by, u.update_time,e.employee_name
        FROM user u
        LEFT JOIN employee e ON e.employee_id=u.employee_id AND rm.delete_flag = 0
        WHERE u.user_id=#{userId}
        and u.delete_flag = 0
    </select>

    <select id="selectAllocatedList"
            resultType="net.qixiaowei.system.manage.api.dto.user.UserDTO">
        SELECT distinct
        u.user_id, u.employee_id, u.user_account, u.password, u.user_name, u.mobile_phone, u.email, u.avatar, u.remark, u.status,
        u.delete_flag, u.create_by, u.create_time, u.update_by, u.update_time,e.employee_name
        FROM user u
        LEFT JOIN employee e ON e.employee_id=u.employee_id AND e.delete_flag = 0
        LEFT JOIN user_role ur on ur.user_id = u.user_id AND ur.delete_flag = 0
        LEFT JOIN role r on ur.role_id = r.role_id AND r.delete_flag = 0
        WHERE u.delete_flag = 0 AND  r.role_id = #{user.params.roleId}
        <if test="user.userAccount != null and user.userAccount != ''">
            and  u.user_account LIKE concat('%', #{userAccount}, '%')
        </if>
        <if test="user.mobilePhone != null and user.mobilePhone != ''">
            and  u.mobile_phone LIKE concat('%', #{mobilePhone}, '%')
        </if>
        <if test="user.email != null and user.email != ''">
            and  u.email=#{user.email}
        </if>
        <if test="user.status != null">
            and  u.status=#{user.status}
        </if>
        <if test="user.params.employeeName != null and user.params.employeeName != ''">
            AND e.employee_name LIKE concat('%', #{user.params.employeeName}, '%')
        </if>
    </select>

    <!--    查询用户表列表-->
    <select id="selectUserList" resultType="net.qixiaowei.system.manage.api.dto.user.UserDTO">
        SELECT
        u.user_id, u.employee_id, u.user_account, u.password, u.user_name, u.mobile_phone, u.email, u.avatar, u.remark, u.status,
        u.delete_flag, u.create_by, u.create_time, u.update_by, u.update_time,e.employee_name
        FROM user u
        LEFT JOIN employee e ON e.employee_id=u.employee_id AND e.delete_flag = 0
        WHERE  u.delete_flag=0
        <if test="user.userId != null">
            and  u.user_id=#{user.userId}
        </if>
        <if test="user.userAccount != null and user.userAccount != ''">
            and  u.user_account LIKE concat('%', #{userAccount}, '%')
        </if>
        <if test="user.mobilePhone != null and user.mobilePhone != ''">
            and  u.mobile_phone LIKE concat('%', #{mobilePhone}, '%')
        </if>
        <if test="user.email != null and user.email != ''">
            and  u.email=#{user.email}
        </if>
        <if test="user.status != null">
            and  u.status=#{user.status}
        </if>
        <if test="user.params.employeeName != null and user.params.employeeName != ''">
            AND e.employee_name LIKE concat('%', #{user.params.employeeName}, '%')
        </if>
        <if test="user.params.createTimeStart != null and user.params.createTimeStart != ''"><!-- 开始时间检索 -->
            AND date_format(u.create_time,'%y%m%d') &gt;= date_format(#{user.params.createTimeStart},'%y%m%d')
        </if>
        <if test="user.params.createTimeEnd != null and user.params.createTimeEnd != ''"><!-- 结束时间检索 -->
            AND date_format(u.create_time,'%y%m%d') &lt;= date_format(#{user.params.createTimeEnd},'%y%m%d')
        </if>
    </select>

    <select id="selectUserListByUserIds" resultType="net.qixiaowei.system.manage.api.dto.user.UserDTO">
        SELECT
        u.user_id, u.employee_id, u.user_account, u.password, u.user_name, u.mobile_phone, u.email, u.avatar, u.remark, u.status,
        u.delete_flag, u.create_by, u.create_time, u.update_by, u.update_time,e.employee_name
        FROM user u
        LEFT JOIN employee e ON e.employee_id=u.employee_id AND e.delete_flag = 0
        WHERE  u.delete_flag = 0
        AND u.user_id IN
        <foreach item="item"
                 collection="userIds"
                 index="index" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>
<!--    根据人员查询用户表-->
    <select id="selectUserByEmployeeId" resultType="net.qixiaowei.system.manage.api.dto.user.UserDTO">
        SELECT
            user_id, employee_id, user_account, password, user_name, mobile_phone, email, avatar, remark, status,
            delete_flag, create_by, create_time, update_by, update_time
        FROM user
        WHERE employee_id=#{employeeId}
          and delete_flag=0
    </select>

    <!--新增用户表-->
    <insert id="insertUser" useGeneratedKeys="true" keyProperty="userId">
        INSERT INTO user
        (employee_id,user_account,password,user_name,mobile_phone,email,avatar,remark,status,delete_flag,create_by,create_time,update_by,update_time)
        VALUES
        (#{user.employeeId},#{user.userAccount},#{user.password},#{user.userName},#{user.mobilePhone},#{user.email},#{user.avatar},#{user.remark},#{user.status},#{user.deleteFlag},#{user.createBy},#{user.createTime},#{user.updateBy},#{user.updateTime})
    </insert>
    <!--修改用户表-->
    <update id="updateUser">
        UPDATE user
        SET
        <if test="user.employeeId != null">
            employee_id=#{user.employeeId},
        </if>
        <if test="user.userAccount != null and user.userAccount != ''">
            user_account=#{user.userAccount},
        </if>
        <if test="user.password != null and user.password != ''">
            password=#{user.password},
        </if>
        <if test="user.userName != null and user.userName != ''">
            user_name=#{user.userName},
        </if>
        <if test="user.mobilePhone != null and user.mobilePhone != ''">
            mobile_phone=#{user.mobilePhone},
        </if>
        <if test="user.email != null and user.email != ''">
            email=#{user.email},
        </if>
        <if test="user.avatar != null and user.avatar != ''">
            avatar=#{user.avatar},
        </if>
        <if test="user.remark != null and user.remark != ''">
            remark=#{user.remark},
        </if>
        <if test="user.status != null">
            status=#{user.status},
        </if>
        <if test="user.deleteFlag != null">
            delete_flag=#{user.deleteFlag},
        </if>
        <if test="user.createBy != null">
            create_by=#{user.createBy},
        </if>
        <if test="user.createTime != null">
            create_time=#{user.createTime},
        </if>
        <if test="user.updateBy != null">
            update_by=#{user.updateBy},
        </if>
        <if test="user.updateTime != null">
            update_time=#{user.updateTime}
        </if>
        WHERE
        user_id=#{user.userId}
    </update>
    <!--逻辑删除用户表-->
    <update id="logicDeleteUserByUserId">
        UPDATE user
        SET delete_flag= 1,
        update_by=#{user.updateBy},
        update_time=#{user.updateTime}
        WHERE
        user_id=#{user.userId}
    </update>
    <!--逻辑批量删除用户表-->
    <update id="logicDeleteUserByUserIds">
        UPDATE user
        SET delete_flag= 1,
        update_by=#{updateBy},
        update_time=#{updateTime}
        WHERE
        user_id IN
        <foreach item="item"
                 collection="userIds"
                 index="index" open="(" separator="," close=")">
            #{item}
        </foreach>
    </update>
    <!--批量新增用户表-->
    <insert id="batchUser">
        INSERT INTO user
        (employee_id,user_account,password,user_name,mobile_phone,email,avatar,remark,status,delete_flag,create_by,create_time,update_by,update_time)
        VALUES
        <foreach item="item" index="index"
                 collection="users"
                 separator=",">
            (#{item.employeeId},#{item.userAccount},#{item.password},#{item.userName},#{item.mobilePhone},#{item.email},#{item.avatar},#{item.remark},#{item.status},#{item.deleteFlag},#{item.createBy},#{item.createTime},#{item.updateBy},#{item.updateTime})
        </foreach>
    </insert>

    <!--物理删除用户表-->
    <delete id="deleteUserByUserId">
        DELETE FROM user
        WHERE user_id=#{user}

    </delete>
    <!--物理批量删除用户表-->
    <delete id="deleteUserByUserIds">
        DELETE FROM user
        WHERE user_id IN
        <foreach item="item"
                 collection="userIds"
                 index="index" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>
    <!--批量修改用户表-->
    <update id="updateUsers">
        update user
        <trim prefix="set" suffixOverrides=",">
            <trim prefix="employee_id=case" suffix="end,">
                <foreach collection="userList" item="item" index="index">
                    <if test="item.employeeId != null">
                        when user_id=#{item.userId} then #{item.employeeId}
                    </if>
                </foreach>
            </trim>
            <trim prefix="user_account=case" suffix="end,">
                <foreach collection="userList" item="item" index="index">
                    <if test="item.userAccount != null and item.userAccount != ''">
                        when user_id=#{item.userId} then #{item.userAccount}
                    </if>
                </foreach>
            </trim>
            <trim prefix="password=case" suffix="end,">
                <foreach collection="userList" item="item" index="index">
                    <if test="item.password != null and item.password != ''">
                        when user_id=#{item.userId} then #{item.password}
                    </if>
                </foreach>
            </trim>
            <trim prefix="user_name=case" suffix="end,">
                <foreach collection="userList" item="item" index="index">
                    <if test="item.userName != null and item.userName != ''">
                        when user_id=#{item.userId} then #{item.userName}
                    </if>
                </foreach>
            </trim>
            <trim prefix="mobile_phone=case" suffix="end,">
                <foreach collection="userList" item="item" index="index">
                    <if test="item.mobilePhone != null and item.mobilePhone != ''">
                        when user_id=#{item.userId} then #{item.mobilePhone}
                    </if>
                </foreach>
            </trim>
            <trim prefix="email=case" suffix="end,">
                <foreach collection="userList" item="item" index="index">
                    <if test="item.email != null and item.email != ''">
                        when user_id=#{item.userId} then #{item.email}
                    </if>
                </foreach>
            </trim>
            <trim prefix="avatar=case" suffix="end,">
                <foreach collection="userList" item="item" index="index">
                    <if test="item.avatar != null and item.avatar != ''">
                        when user_id=#{item.userId} then #{item.avatar}
                    </if>
                </foreach>
            </trim>
            <trim prefix="remark=case" suffix="end,">
                <foreach collection="userList" item="item" index="index">
                    <if test="item.remark != null and item.remark != ''">
                        when user_id=#{item.userId} then #{item.remark}
                    </if>
                </foreach>
            </trim>
            <trim prefix="status=case" suffix="end,">
                <foreach collection="userList" item="item" index="index">
                    <if test="item.status != null">
                        when user_id=#{item.userId} then #{item.status}
                    </if>
                </foreach>
            </trim>
            <trim prefix="delete_flag=case" suffix="end,">
                <foreach collection="userList" item="item" index="index">
                    <if test="item.deleteFlag != null">
                        when user_id=#{item.userId} then #{item.deleteFlag}
                    </if>
                </foreach>
            </trim>
            <trim prefix="create_by=case" suffix="end,">
                <foreach collection="userList" item="item" index="index">
                    <if test="item.createBy != null">
                        when user_id=#{item.userId} then #{item.createBy}
                    </if>
                </foreach>
            </trim>
            <trim prefix="create_time=case" suffix="end,">
                <foreach collection="userList" item="item" index="index">
                    <if test="item.createTime != null">
                        when user_id=#{item.userId} then #{item.createTime}
                    </if>
                </foreach>
            </trim>
            <trim prefix="update_by=case" suffix="end,">
                <foreach collection="userList" item="item" index="index">
                    <if test="item.updateBy != null">
                        when user_id=#{item.userId} then #{item.updateBy}
                    </if>
                </foreach>
            </trim>
            <trim prefix="update_time=case" suffix="end,">
                <foreach collection="userList" item="item" index="index">
                    <if test="item.updateTime != null">
                        when user_id=#{item.userId} then #{item.updateTime}
                    </if>
                </foreach>
            </trim>
        </trim>
        where
        <foreach collection="userList" separator="or" item="item" index="index">
            user_id=#{item.userId}
        </foreach>
    </update>
</mapper>


