<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.qixiaowei.strategy.cloud.mapper.marketInsight.MarketInsightMacroMapper">
    <!--    查询市场洞察宏观表-->
    <select id="selectMarketInsightMacroByMarketInsightMacroId"
            resultType="net.qixiaowei.strategy.cloud.api.dto.marketInsight.MarketInsightMacroDTO">
        SELECT
        market_insight_macro_id,plan_year,plan_business_unit_id,business_unit_decompose,area_id,department_id,product_id,industry_id,delete_flag,create_by,create_time,update_by,update_time
        FROM market_insight_macro
        WHERE  market_insight_macro_id=#{marketInsightMacroId}
        and delete_flag=0
    </select>

    <!--    批量查询市场洞察宏观表-->
    <select id="selectMarketInsightMacroByMarketInsightMacroIds"
            resultType="net.qixiaowei.strategy.cloud.api.dto.marketInsight.MarketInsightMacroDTO">
        SELECT
        market_insight_macro_id,plan_year,plan_business_unit_id,business_unit_decompose,area_id,department_id,product_id,industry_id,delete_flag,create_by,create_time,update_by,update_time
        FROM market_insight_macro
        WHERE  market_insight_macro_id in
            <foreach item="item"
                     collection="marketInsightMacroIds"
                     index="index" open="(" separator="," close=")">
                #{item}
            </foreach>
        and delete_flag=0
    </select>

    <!--    查询市场洞察宏观表列表-->
    <select id="selectMarketInsightMacroList" resultType="net.qixiaowei.strategy.cloud.api.dto.marketInsight.MarketInsightMacroDTO">
        select
        mim.market_insight_macro_id,
        mim.plan_year,
        mim.plan_business_unit_id,
        pbu.business_unit_name,
        mim.business_unit_decompose,
        mim.area_id,
        mim.department_id,
        mim.product_id,
        mim.industry_id,
        mim.delete_flag,
        mim.create_by,
        mim.create_time,
        mim.update_by,
        mim.update_time
        from
        market_insight_macro mim
        left join plan_business_unit pbu
        on pbu.plan_business_unit_id=mim.plan_business_unit_id
        and pbu.delete_flag =0
        where
        mim.delete_flag = 0
        <!-- 规划年度过滤  -->
        <if test="marketInsightMacro.params.planYearEqual != null and marketInsightMacro.params.planYearEqual.size() > 0">
            AND mim.plan_year IN
            <foreach item="item"
                     collection="marketInsightMacro.params.planYearEqual"
                     index="index" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test="marketInsightMacro.params.planYearNotEqual != null and marketInsightMacro.params.planYearNotEqual.size() > 0">
            AND mim.plan_year NOT IN
            <foreach item="item"
                     collection="marketInsightMacro.params.planYearNotEqual"
                     index="index" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test="marketInsightMacro.params.planYearBefore != null and marketInsightMacro.params.planYearBefore != ''">
            AND mim.plan_year &lt; #{marketInsightMacro.params.planYearBefore}
        </if>
        <if test="marketInsightMacro.params.planYearNotBefore != null and marketInsightMacro.params.planYearNotBefore != ''"><!-- 开始时间检索 -->
            AND mim.plan_year &gt;= #{marketInsightMacro.params.planYearNotBefore}
        </if>
        <if test="marketInsightMacro.params.planYearAfter != null and marketInsightMacro.params.planYearAfter != ''"><!-- 开始时间检索 -->
            AND mim.plan_year &gt; #{marketInsightMacro.params.planYearAfter}
        </if>
        <if test="marketInsightMacro.params.planYearNotAfter != null and marketInsightMacro.params.planYearNotAfter != ''"><!-- 结束时间检索 -->
            AND mim.plan_year &lt;= #{marketInsightMacro.params.planYearNotAfter}
        </if>
        <if test="marketInsightMacro.params.planYearStart != null and marketInsightMacro.params.planYearStart != ''"><!-- 开始时间检索 -->
            AND mim.plan_year &gt;= #{marketInsightMacro.params.planYearStart}
        </if>
        <if test="marketInsightMacro.params.planYearEnd != null and marketInsightMacro.params.planYearEnd != ''"><!-- 结束时间检索 -->
            AND mim.plan_year &lt;= #{marketInsightMacro.params.planYearEnd}
        </if>
        <!-- 规划业务单元  -->
        <if test="marketInsightMacro.params.planBusinessUnitNameLike != null and marketInsightMacro.params.planBusinessUnitNameLike.size() > 0">
            AND
            <foreach item="item"
                     collection="marketInsightMacro.params.planBusinessUnitNameLike"
                     index="index" open="(" separator="AND" close=")">
                pbu.business_unit_name LIKE concat('%', #{item}, '%')
            </foreach>
        </if>
        <if test="marketInsightMacro.params.planBusinessUnitNameNotLike != null and marketInsightMacro.params.planBusinessUnitNameNotLike.size() > 0">
            AND
            <foreach item="item"
                     collection="marketInsightMacro.params.planBusinessUnitNameNotLike"
                     index="index" open="(" separator="AND" close=")">
                pbu.business_unit_name NOT LIKE concat('%', #{item}, '%')
            </foreach>
        </if>
        <!-- 区域ID过滤  -->
        <if test="marketInsightMacro.params.areaIdEqual != null and marketInsightMacro.params.areaIdEqual.size() > 0">
            AND mim.area_id IN
            <foreach item="item"
                     collection="marketInsightMacro.params.areaIdEqual"
                     index="index" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test="marketInsightMacro.params.areaIdNotEqual != null and marketInsightMacro.params.areaIdNotEqual.size() > 0">
            AND mim.area_id NOT IN
            <foreach item="item"
                     collection="marketInsightMacro.params.areaIdNotEqual"
                     index="index" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <!-- 部门ID过滤  -->
        <if test="marketInsightMacro.params.departmentIdEqual != null and marketInsightMacro.params.departmentIdEqual.size() > 0">
            AND mim.department_id IN
            <foreach item="item"
                     collection="marketInsightMacro.params.departmentIdEqual"
                     index="index" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test="marketInsightMacro.params.departmentIdNotEqual != null and marketInsightMacro.params.departmentIdNotEqual.size() > 0">
            AND mim.department_id NOT IN
            <foreach item="item"
                     collection="marketInsightMacro.params.departmentIdNotEqual"
                     index="index" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <!-- 产品ID过滤  -->
        <if test="marketInsightMacro.params.productIdEqual != null and marketInsightMacro.params.productIdEqual.size() > 0">
            AND mim.product_id IN
            <foreach item="item"
                     collection="marketInsightMacro.params.productIdEqual"
                     index="index" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test="marketInsightMacro.params.productIdNotEqual != null and marketInsightMacro.params.productIdNotEqual.size() > 0">
            AND mim.product_id NOT IN
            <foreach item="item"
                     collection="marketInsightMacro.params.productIdNotEqual"
                     index="index" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <!-- 行业ID过滤  -->
        <if test="marketInsightMacro.params.industryIdEqual != null and marketInsightMacro.params.industryIdEqual.size() > 0">
            AND mim.industry_id IN
            <foreach item="item"
                     collection="marketInsightMacro.params.industryIdEqual"
                     index="index" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test="marketInsightMacro.params.industryIdNotEqual != null and marketInsightMacro.params.industryIdNotEqual.size() > 0">
            AND mim.industry_id NOT IN
            <foreach item="item"
                     collection="marketInsightMacro.params.industryIdNotEqual"
                     index="index" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <!-- 创建人等于过滤  -->
        <if test="marketInsightMacro.params.createByNameEqual != null">
            <!-- 创建人等于过滤  -->
            <if test="marketInsightMacro.params.createBys != null and marketInsightMacro.params.createBys.size() > 0">
                AND mim.create_by IN
                <foreach item="item"
                         collection="marketInsightMacro.params.createBys"
                         index="index" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
            <!-- 创建人等于过滤  -->
            <if test="marketInsightMacro.params.createBys == null">
                AND  (mim.create_by ='' or mim.create_by is null)
            </if>
        </if>
        <!-- 创建人不等于过滤  -->
        <if test=" marketInsightMacro.params.createByNameNotEqual != null">
            <!-- 创建人不等于过滤  -->
            <if test="marketInsightMacro.params.createBys != null and marketInsightMacro.params.createBys.size() > 0">
                AND (mim.create_by IN
                <foreach item="item"
                         collection="marketInsightMacro.params.createBys"
                         index="index" open="(" separator="," close=")">
                    #{item}
                </foreach> or (mim.create_by ='' or mim.create_by is null))
            </if>

            <!-- 创建人不等于过滤  -->
            <if test="marketInsightMacro.params.createBys == null">
                AND  (mim.create_by ='' or mim.create_by is null)
            </if>
        </if>
        <!-- 创建人包含过滤  -->
        <if test="marketInsightMacro.params.createByNameLike != null">
            <!-- 创建人包含过滤  -->
            <if test="marketInsightMacro.params.createBys != null and marketInsightMacro.params.createBys.size() > 0">
                AND mim.create_by IN
                <foreach item="item"
                         collection="marketInsightMacro.params.createBys"
                         index="index" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
            <!-- 创建人包含过滤  -->
            <if test="marketInsightMacro.params.createBys == null">
                AND  (mim.create_by ='' or mim.create_by is null)
            </if>
        </if>
        <!-- 创建人不包含过滤  -->
        <if test=" marketInsightMacro.params.createByNameNotLike != null">
            <!-- 创建人不包含过滤  -->
            <if test="marketInsightMacro.params.createBys != null and marketInsightMacro.params.createBys.size() > 0">
                AND (mim.create_by IN
                <foreach item="item"
                         collection="marketInsightMacro.params.createBys"
                         index="index" open="(" separator="," close=")">
                    #{item}
                </foreach> or (mim.create_by ='' or mim.create_by is null))
            </if>

            <!-- 创建人不包含过滤  -->
            <if test="marketInsightMacro.params.createBys == null">
                AND  (mim.create_by ='' or mim.create_by is null)
            </if>
        </if>

        <!-- 创建时间过滤  -->
        <if test="marketInsightMacro.params.createTimeEqual != null and marketInsightMacro.params.createTimeEqual.size() > 0">
            AND mim.create_time IN
            <foreach item="item"
                     collection="marketInsightMacro.params.createTimeEqual"
                     index="index" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test="marketInsightMacro.params.createTimeNotEqual != null and marketInsightMacro.params.createTimeNotEqual.size() > 0">
            AND mim.create_time NOT IN
            <foreach item="item"
                     collection="marketInsightMacro.params.createTimeNotEqual"
                     index="index" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test="marketInsightMacro.params.createTimeBefore != null and marketInsightMacro.params.createTimeBefore != ''">
            AND mim.create_time &lt; #{marketInsightMacro.params.createTimeBefore}
        </if>
        <if test="marketInsightMacro.params.createTimeNotBefore != null and marketInsightMacro.params.createTimeNotBefore != ''"><!-- 开始时间检索 -->
            AND mim.create_time &gt;= #{marketInsightMacro.params.createTimeNotBefore}
        </if>
        <if test="marketInsightMacro.params.createTimeAfter != null and marketInsightMacro.params.createTimeAfter != ''"><!-- 开始时间检索 -->
            AND mim.create_time &gt; #{marketInsightMacro.params.createTimeAfter}
        </if>
        <if test="marketInsightMacro.params.createTimeNotAfter != null and marketInsightMacro.params.createTimeNotAfter != ''"><!-- 结束时间检索 -->
            AND mim.create_time &lt;= #{marketInsightMacro.params.createTimeNotAfter}
        </if>
        <if test="marketInsightMacro.params.createTimeStart != null and marketInsightMacro.params.createTimeStart != ''"><!-- 开始时间检索 -->
            AND mim.create_time &gt;= #{marketInsightMacro.params.createTimeStart}
        </if>
        <if test="marketInsightMacro.params.createTimeEnd != null and marketInsightMacro.params.createTimeEnd != ''"><!-- 结束时间检索 -->
            AND mim.create_time &lt;= #{marketInsightMacro.params.createTimeEnd}
        </if>

                        <if test="marketInsightMacro.marketInsightMacroId != null">
                            and mim.market_insight_macro_id=#{marketInsightMacro.marketInsightMacroId}
                        </if>
                        <if test="marketInsightMacro.planYear != null">
                            and mim.plan_year=#{marketInsightMacro.planYear}
                        </if>
                        <if test="marketInsightMacro.planBusinessUnitId != null">
                            and mim.plan_business_unit_id=#{marketInsightMacro.planBusinessUnitId}
                        </if>
                        <if test="marketInsightMacro.businessUnitDecompose != null and marketInsightMacro.businessUnitDecompose != ''">
                            and mim.business_unit_decompose=#{marketInsightMacro.businessUnitDecompose}
                        </if>
                        <if test="marketInsightMacro.areaId != null">
                            and mim.area_id=#{marketInsightMacro.areaId}
                        </if>
                        <if test="marketInsightMacro.departmentId != null">
                            and mim.department_id=#{marketInsightMacro.departmentId}
                        </if>
                        <if test="marketInsightMacro.productId != null">
                            and mim.product_id=#{marketInsightMacro.productId}
                        </if>
                        <if test="marketInsightMacro.industryId != null">
                            and mim.industry_id=#{marketInsightMacro.industryId}
                        </if>
                        <if test="marketInsightMacro.deleteFlag != null">
                            and mim.delete_flag=#{marketInsightMacro.deleteFlag}
                        </if>
                        <if test="marketInsightMacro.createBy != null">
                            and mim.create_by=#{marketInsightMacro.createBy}
                        </if>
                        <if test="marketInsightMacro.createTime != null">
                            and mim.create_time=#{marketInsightMacro.createTime}
                        </if>
                        <if test="marketInsightMacro.updateBy != null">
                            and mim.update_by=#{marketInsightMacro.updateBy}
                        </if>
                        <if test="marketInsightMacro.updateTime != null">
                            and mim.update_time=#{marketInsightMacro.updateTime}
                        </if>
    </select>
    <!--新增市场洞察宏观表-->
    <insert id="insertMarketInsightMacro" useGeneratedKeys="true" keyProperty="marketInsightMacroId">
        INSERT INTO market_insight_macro (plan_year,plan_business_unit_id,business_unit_decompose,area_id,department_id,product_id,industry_id,delete_flag,create_by,create_time,update_by,update_time)
        VALUES
        (#{marketInsightMacro.planYear},#{marketInsightMacro.planBusinessUnitId},#{marketInsightMacro.businessUnitDecompose},#{marketInsightMacro.areaId},#{marketInsightMacro.departmentId},#{marketInsightMacro.productId},#{marketInsightMacro.industryId},#{marketInsightMacro.deleteFlag},#{marketInsightMacro.createBy},#{marketInsightMacro.createTime},#{marketInsightMacro.updateBy},#{marketInsightMacro.updateTime})
    </insert>
    <!--修改市场洞察宏观表-->
    <update id="updateMarketInsightMacro">
        UPDATE market_insight_macro
        SET
                    <if test="marketInsightMacro.planYear != null">
                        plan_year=#{marketInsightMacro.planYear},
                    </if>
                    <if test="marketInsightMacro.planBusinessUnitId != null">
                        plan_business_unit_id=#{marketInsightMacro.planBusinessUnitId},
                    </if>
                    <if test="marketInsightMacro.businessUnitDecompose != null and marketInsightMacro.businessUnitDecompose != ''">
                        business_unit_decompose=#{marketInsightMacro.businessUnitDecompose},
                    </if>
                    <if test="marketInsightMacro.areaId != null">
                        area_id=#{marketInsightMacro.areaId},
                    </if>
                    <if test="marketInsightMacro.departmentId != null">
                        department_id=#{marketInsightMacro.departmentId},
                    </if>
                    <if test="marketInsightMacro.productId != null">
                        product_id=#{marketInsightMacro.productId},
                    </if>
                    <if test="marketInsightMacro.industryId != null">
                        industry_id=#{marketInsightMacro.industryId},
                    </if>
                    <if test="marketInsightMacro.deleteFlag != null">
                        delete_flag=#{marketInsightMacro.deleteFlag},
                    </if>
                    <if test="marketInsightMacro.createBy != null">
                        create_by=#{marketInsightMacro.createBy},
                    </if>
                    <if test="marketInsightMacro.createTime != null">
                        create_time=#{marketInsightMacro.createTime},
                    </if>
                    <if test="marketInsightMacro.updateBy != null">
                        update_by=#{marketInsightMacro.updateBy},
                    </if>
                    <if test="marketInsightMacro.updateTime != null">
                        update_time=#{marketInsightMacro.updateTime}
                    </if>
        WHERE
                 market_insight_macro_id=#{marketInsightMacro.marketInsightMacroId}
    </update>
    <!--逻辑删除市场洞察宏观表-->
    <update id="logicDeleteMarketInsightMacroByMarketInsightMacroId">
        UPDATE market_insight_macro
        SET     delete_flag= 1,
                update_by=#{marketInsightMacro.updateBy},
                update_time=#{marketInsightMacro.updateTime}
        WHERE
                market_insight_macro_id=#{marketInsightMacro.marketInsightMacroId}
    </update>
    <!--逻辑批量删除市场洞察宏观表-->
    <update id="logicDeleteMarketInsightMacroByMarketInsightMacroIds">
        UPDATE market_insight_macro
        SET     delete_flag= 1,
                update_by=#{updateBy},
                update_time=#{updateTime}
        WHERE
         market_insight_macro_id IN
            <foreach item="item"
                     collection="marketInsightMacroIds"
                     index="index" open="(" separator="," close=")">
                #{item}
            </foreach>
    </update>
    <!--批量新增市场洞察宏观表-->
    <insert id="batchMarketInsightMacro" useGeneratedKeys="true" keyProperty="marketInsightMacroId">
        INSERT INTO market_insight_macro (plan_year,plan_business_unit_id,business_unit_decompose,area_id,department_id,product_id,industry_id,delete_flag,create_by,create_time,update_by,update_time)
        VALUES
        <foreach item="item" index="index"
                 collection="marketInsightMacros"
                 separator=",">
            (#{item.planYear},#{item.planBusinessUnitId},#{item.businessUnitDecompose},#{item.areaId},#{item.departmentId},#{item.productId},#{item.industryId},#{item.deleteFlag},#{item.createBy},#{item.createTime},#{item.updateBy},#{item.updateTime})
        </foreach>
    </insert>

    <!--物理删除市场洞察宏观表-->
    <delete id="deleteMarketInsightMacroByMarketInsightMacroId">
        DELETE FROM market_insight_macro
        WHERE  market_insight_macro_id=#{marketInsightMacro}

    </delete>
    <!--物理批量删除市场洞察宏观表-->
    <delete id="deleteMarketInsightMacroByMarketInsightMacroIds">
        DELETE FROM market_insight_macro
        WHERE  market_insight_macro_id IN
            <foreach item="item"
                     collection="marketInsightMacroIds"
                     index="index" open="(" separator="," close=")">
                #{item}
            </foreach>
    </delete>
    <!--批量修改市场洞察宏观表-->
    <update id="updateMarketInsightMacros">
        update market_insight_macro
        <trim prefix="set" suffixOverrides=",">
                <trim prefix="plan_year=case" suffix="end,">
                        <foreach collection="marketInsightMacroList" item="item" index="index">
                                <if test="item.planYear != null">
                                    when market_insight_macro_id=#{item.marketInsightMacroId} then #{item.planYear}
                                </if>
                        </foreach>
                </trim>
                <trim prefix="plan_business_unit_id=case" suffix="end,">
                        <foreach collection="marketInsightMacroList" item="item" index="index">
                                <if test="item.planBusinessUnitId != null">
                                    when market_insight_macro_id=#{item.marketInsightMacroId} then #{item.planBusinessUnitId}
                                </if>
                        </foreach>
                </trim>
                <trim prefix="business_unit_decompose=case" suffix="end,">
                        <foreach collection="marketInsightMacroList" item="item" index="index">
                                <if test="item.businessUnitDecompose != null and item.businessUnitDecompose != ''">
                                    when market_insight_macro_id=#{item.marketInsightMacroId} then #{item.businessUnitDecompose}
                                </if>
                        </foreach>
                </trim>
                <trim prefix="area_id=case" suffix="end,">
                        <foreach collection="marketInsightMacroList" item="item" index="index">
                                <if test="item.areaId != null">
                                    when market_insight_macro_id=#{item.marketInsightMacroId} then #{item.areaId}
                                </if>
                        </foreach>
                </trim>
                <trim prefix="department_id=case" suffix="end,">
                        <foreach collection="marketInsightMacroList" item="item" index="index">
                                <if test="item.departmentId != null">
                                    when market_insight_macro_id=#{item.marketInsightMacroId} then #{item.departmentId}
                                </if>
                        </foreach>
                </trim>
                <trim prefix="product_id=case" suffix="end,">
                        <foreach collection="marketInsightMacroList" item="item" index="index">
                                <if test="item.productId != null">
                                    when market_insight_macro_id=#{item.marketInsightMacroId} then #{item.productId}
                                </if>
                        </foreach>
                </trim>
                <trim prefix="industry_id=case" suffix="end,">
                        <foreach collection="marketInsightMacroList" item="item" index="index">
                                <if test="item.industryId != null">
                                    when market_insight_macro_id=#{item.marketInsightMacroId} then #{item.industryId}
                                </if>
                        </foreach>
                </trim>
                <trim prefix="delete_flag=case" suffix="end,">
                        <foreach collection="marketInsightMacroList" item="item" index="index">
                                <if test="item.deleteFlag != null">
                                    when market_insight_macro_id=#{item.marketInsightMacroId} then #{item.deleteFlag}
                                </if>
                        </foreach>
                </trim>
                <trim prefix="create_by=case" suffix="end,">
                        <foreach collection="marketInsightMacroList" item="item" index="index">
                                <if test="item.createBy != null">
                                    when market_insight_macro_id=#{item.marketInsightMacroId} then #{item.createBy}
                                </if>
                        </foreach>
                </trim>
                <trim prefix="create_time=case" suffix="end,">
                        <foreach collection="marketInsightMacroList" item="item" index="index">
                                <if test="item.createTime != null">
                                    when market_insight_macro_id=#{item.marketInsightMacroId} then #{item.createTime}
                                </if>
                        </foreach>
                </trim>
                <trim prefix="update_by=case" suffix="end,">
                        <foreach collection="marketInsightMacroList" item="item" index="index">
                                <if test="item.updateBy != null">
                                    when market_insight_macro_id=#{item.marketInsightMacroId} then #{item.updateBy}
                                </if>
                        </foreach>
                </trim>
                <trim prefix="update_time=case" suffix="end,">
                        <foreach collection="marketInsightMacroList" item="item" index="index">
                                <if test="item.updateTime != null">
                                    when market_insight_macro_id=#{item.marketInsightMacroId} then #{item.updateTime}
                                </if>
                        </foreach>
                </trim>
        </trim>
        where
        <foreach collection="marketInsightMacroList" separator="or" item="item" index="index">
                    market_insight_macro_id=#{item.marketInsightMacroId}
        </foreach>
    </update>
</mapper>


