<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.qixiaowei.strategy.cloud.mapper.marketInsight.MarketInsightMacroMapper">
    <!--    查询市场洞察宏观表-->
    <select id="selectMarketInsightMacroByMarketInsightMacroId"
            resultType="net.qixiaowei.strategy.cloud.api.dto.marketInsight.MarketInsightMacroDTO">
        SELECT
        market_insight_macro_id,plan_year,plan_business_unit_id,business_unit_decompose,area_id,department_id,product_id,industry_id,delete_flag,create_by,create_time,update_by,update_time
        FROM market_insight_macro
        WHERE  market_insight_macro_id=#{marketInsightMacroId}
        and delete_flag=0
    </select>

    <!--    批量查询市场洞察宏观表-->
    <select id="selectMarketInsightMacroByMarketInsightMacroIds"
            resultType="net.qixiaowei.strategy.cloud.api.dto.marketInsight.MarketInsightMacroDTO">
        SELECT
        market_insight_macro_id,plan_year,plan_business_unit_id,business_unit_decompose,area_id,department_id,product_id,industry_id,delete_flag,create_by,create_time,update_by,update_time
        FROM market_insight_macro
        WHERE  market_insight_macro_id in
            <foreach item="item"
                     collection="marketInsightMacroIds"
                     index="index" open="(" separator="," close=")">
                #{item}
            </foreach>
        and delete_flag=0
    </select>

    <!--    查询市场洞察宏观表列表-->
    <select id="selectMarketInsightMacroList" resultType="net.qixiaowei.strategy.cloud.api.dto.marketInsight.MarketInsightMacroDTO">
        SELECT
        market_insight_macro_id,plan_year,plan_business_unit_id,business_unit_decompose,area_id,department_id,product_id,industry_id,delete_flag,create_by,create_time,update_by,update_time
        FROM market_insight_macro
        WHERE delete_flag=0
                        <if test="marketInsightMacro.marketInsightMacroId != null">
                            and market_insight_macro_id=#{marketInsightMacro.marketInsightMacroId}
                        </if>
                        <if test="marketInsightMacro.planYear != null">
                            and plan_year=#{marketInsightMacro.planYear}
                        </if>
                        <if test="marketInsightMacro.planBusinessUnitId != null">
                            and plan_business_unit_id=#{marketInsightMacro.planBusinessUnitId}
                        </if>
                        <if test="marketInsightMacro.businessUnitDecompose != null and marketInsightMacro.businessUnitDecompose != ''">
                            and business_unit_decompose=#{marketInsightMacro.businessUnitDecompose}
                        </if>
                        <if test="marketInsightMacro.areaId != null">
                            and area_id=#{marketInsightMacro.areaId}
                        </if>
                        <if test="marketInsightMacro.departmentId != null">
                            and department_id=#{marketInsightMacro.departmentId}
                        </if>
                        <if test="marketInsightMacro.productId != null">
                            and product_id=#{marketInsightMacro.productId}
                        </if>
                        <if test="marketInsightMacro.industryId != null">
                            and industry_id=#{marketInsightMacro.industryId}
                        </if>
                        <if test="marketInsightMacro.deleteFlag != null">
                            and delete_flag=#{marketInsightMacro.deleteFlag}
                        </if>
                        <if test="marketInsightMacro.createBy != null">
                            and create_by=#{marketInsightMacro.createBy}
                        </if>
                        <if test="marketInsightMacro.createTime != null">
                            and create_time=#{marketInsightMacro.createTime}
                        </if>
                        <if test="marketInsightMacro.updateBy != null">
                            and update_by=#{marketInsightMacro.updateBy}
                        </if>
                        <if test="marketInsightMacro.updateTime != null">
                            and update_time=#{marketInsightMacro.updateTime}
                        </if>
    </select>
    <!--新增市场洞察宏观表-->
    <insert id="insertMarketInsightMacro" useGeneratedKeys="true" keyProperty="marketInsightMacroId">
        INSERT INTO market_insight_macro (plan_year,plan_business_unit_id,business_unit_decompose,area_id,department_id,product_id,industry_id,delete_flag,create_by,create_time,update_by,update_time)
        VALUES
        (#{marketInsightMacro.planYear},#{marketInsightMacro.planBusinessUnitId},#{marketInsightMacro.businessUnitDecompose},#{marketInsightMacro.areaId},#{marketInsightMacro.departmentId},#{marketInsightMacro.productId},#{marketInsightMacro.industryId},#{marketInsightMacro.deleteFlag},#{marketInsightMacro.createBy},#{marketInsightMacro.createTime},#{marketInsightMacro.updateBy},#{marketInsightMacro.updateTime})
    </insert>
    <!--修改市场洞察宏观表-->
    <update id="updateMarketInsightMacro">
        UPDATE market_insight_macro
        SET
                    <if test="marketInsightMacro.planYear != null">
                        plan_year=#{marketInsightMacro.planYear},
                    </if>
                    <if test="marketInsightMacro.planBusinessUnitId != null">
                        plan_business_unit_id=#{marketInsightMacro.planBusinessUnitId},
                    </if>
                    <if test="marketInsightMacro.businessUnitDecompose != null and marketInsightMacro.businessUnitDecompose != ''">
                        business_unit_decompose=#{marketInsightMacro.businessUnitDecompose},
                    </if>
                    <if test="marketInsightMacro.areaId != null">
                        area_id=#{marketInsightMacro.areaId},
                    </if>
                    <if test="marketInsightMacro.departmentId != null">
                        department_id=#{marketInsightMacro.departmentId},
                    </if>
                    <if test="marketInsightMacro.productId != null">
                        product_id=#{marketInsightMacro.productId},
                    </if>
                    <if test="marketInsightMacro.industryId != null">
                        industry_id=#{marketInsightMacro.industryId},
                    </if>
                    <if test="marketInsightMacro.deleteFlag != null">
                        delete_flag=#{marketInsightMacro.deleteFlag},
                    </if>
                    <if test="marketInsightMacro.createBy != null">
                        create_by=#{marketInsightMacro.createBy},
                    </if>
                    <if test="marketInsightMacro.createTime != null">
                        create_time=#{marketInsightMacro.createTime},
                    </if>
                    <if test="marketInsightMacro.updateBy != null">
                        update_by=#{marketInsightMacro.updateBy},
                    </if>
                    <if test="marketInsightMacro.updateTime != null">
                        update_time=#{marketInsightMacro.updateTime}
                    </if>
        WHERE
                 market_insight_macro_id=#{marketInsightMacro.marketInsightMacroId}
    </update>
    <!--逻辑删除市场洞察宏观表-->
    <update id="logicDeleteMarketInsightMacroByMarketInsightMacroId">
        UPDATE market_insight_macro
        SET     delete_flag= 1,
                update_by=#{marketInsightMacro.updateBy},
                update_time=#{marketInsightMacro.updateTime}
        WHERE
                market_insight_macro_id=#{marketInsightMacro.marketInsightMacroId}
    </update>
    <!--逻辑批量删除市场洞察宏观表-->
    <update id="logicDeleteMarketInsightMacroByMarketInsightMacroIds">
        UPDATE market_insight_macro
        SET     delete_flag= 1,
                update_by=#{updateBy},
                update_time=#{updateTime}
        WHERE
         market_insight_macro_id IN
            <foreach item="item"
                     collection="marketInsightMacroIds"
                     index="index" open="(" separator="," close=")">
                #{item}
            </foreach>
    </update>
    <!--批量新增市场洞察宏观表-->
    <insert id="batchMarketInsightMacro">
        INSERT INTO market_insight_macro (plan_year,plan_business_unit_id,business_unit_decompose,area_id,department_id,product_id,industry_id,delete_flag,create_by,create_time,update_by,update_time)
        VALUES
        <foreach item="item" index="index"
                 collection="marketInsightMacros"
                 separator=",">
            (#{item.planYear},#{item.planBusinessUnitId},#{item.businessUnitDecompose},#{item.areaId},#{item.departmentId},#{item.productId},#{item.industryId},#{item.deleteFlag},#{item.createBy},#{item.createTime},#{item.updateBy},#{item.updateTime})
        </foreach>
    </insert>

    <!--物理删除市场洞察宏观表-->
    <delete id="deleteMarketInsightMacroByMarketInsightMacroId">
        DELETE FROM market_insight_macro
        WHERE  market_insight_macro_id=#{marketInsightMacro}

    </delete>
    <!--物理批量删除市场洞察宏观表-->
    <delete id="deleteMarketInsightMacroByMarketInsightMacroIds">
        DELETE FROM market_insight_macro
        WHERE  market_insight_macro_id IN
            <foreach item="item"
                     collection="marketInsightMacroIds"
                     index="index" open="(" separator="," close=")">
                #{item}
            </foreach>
    </delete>
    <!--批量修改市场洞察宏观表-->
    <update id="updateMarketInsightMacros">
        update market_insight_macro
        <trim prefix="set" suffixOverrides=",">
                <trim prefix="plan_year=case" suffix="end,">
                        <foreach collection="marketInsightMacroList" item="item" index="index">
                                <if test="item.planYear != null">
                                    when market_insight_macro_id=#{item.marketInsightMacroId} then #{item.planYear}
                                </if>
                        </foreach>
                </trim>
                <trim prefix="plan_business_unit_id=case" suffix="end,">
                        <foreach collection="marketInsightMacroList" item="item" index="index">
                                <if test="item.planBusinessUnitId != null">
                                    when market_insight_macro_id=#{item.marketInsightMacroId} then #{item.planBusinessUnitId}
                                </if>
                        </foreach>
                </trim>
                <trim prefix="business_unit_decompose=case" suffix="end,">
                        <foreach collection="marketInsightMacroList" item="item" index="index">
                                <if test="item.businessUnitDecompose != null and item.businessUnitDecompose != ''">
                                    when market_insight_macro_id=#{item.marketInsightMacroId} then #{item.businessUnitDecompose}
                                </if>
                        </foreach>
                </trim>
                <trim prefix="area_id=case" suffix="end,">
                        <foreach collection="marketInsightMacroList" item="item" index="index">
                                <if test="item.areaId != null">
                                    when market_insight_macro_id=#{item.marketInsightMacroId} then #{item.areaId}
                                </if>
                        </foreach>
                </trim>
                <trim prefix="department_id=case" suffix="end,">
                        <foreach collection="marketInsightMacroList" item="item" index="index">
                                <if test="item.departmentId != null">
                                    when market_insight_macro_id=#{item.marketInsightMacroId} then #{item.departmentId}
                                </if>
                        </foreach>
                </trim>
                <trim prefix="product_id=case" suffix="end,">
                        <foreach collection="marketInsightMacroList" item="item" index="index">
                                <if test="item.productId != null">
                                    when market_insight_macro_id=#{item.marketInsightMacroId} then #{item.productId}
                                </if>
                        </foreach>
                </trim>
                <trim prefix="industry_id=case" suffix="end,">
                        <foreach collection="marketInsightMacroList" item="item" index="index">
                                <if test="item.industryId != null">
                                    when market_insight_macro_id=#{item.marketInsightMacroId} then #{item.industryId}
                                </if>
                        </foreach>
                </trim>
                <trim prefix="delete_flag=case" suffix="end,">
                        <foreach collection="marketInsightMacroList" item="item" index="index">
                                <if test="item.deleteFlag != null">
                                    when market_insight_macro_id=#{item.marketInsightMacroId} then #{item.deleteFlag}
                                </if>
                        </foreach>
                </trim>
                <trim prefix="create_by=case" suffix="end,">
                        <foreach collection="marketInsightMacroList" item="item" index="index">
                                <if test="item.createBy != null">
                                    when market_insight_macro_id=#{item.marketInsightMacroId} then #{item.createBy}
                                </if>
                        </foreach>
                </trim>
                <trim prefix="create_time=case" suffix="end,">
                        <foreach collection="marketInsightMacroList" item="item" index="index">
                                <if test="item.createTime != null">
                                    when market_insight_macro_id=#{item.marketInsightMacroId} then #{item.createTime}
                                </if>
                        </foreach>
                </trim>
                <trim prefix="update_by=case" suffix="end,">
                        <foreach collection="marketInsightMacroList" item="item" index="index">
                                <if test="item.updateBy != null">
                                    when market_insight_macro_id=#{item.marketInsightMacroId} then #{item.updateBy}
                                </if>
                        </foreach>
                </trim>
                <trim prefix="update_time=case" suffix="end,">
                        <foreach collection="marketInsightMacroList" item="item" index="index">
                                <if test="item.updateTime != null">
                                    when market_insight_macro_id=#{item.marketInsightMacroId} then #{item.updateTime}
                                </if>
                        </foreach>
                </trim>
        </trim>
        where
        <foreach collection="marketInsightMacroList" separator="or" item="item" index="index">
                    market_insight_macro_id=#{item.marketInsightMacroId}
        </foreach>
    </update>
</mapper>


