<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.qixiaowei.operate.cloud.mapper.targetManager.TargetDecomposeMapper">
    <!--    查询销售订单目标分解表-->
    <select id="selectTargetDecomposeByTargetDecomposeId"
            resultType="net.qixiaowei.operate.cloud.api.dto.targetManager.TargetDecomposeDTO">
        SELECT IFNULL(ts.challenge_value, 0) as challenge_value,
        IFNULL(ts.guaranteed_value, 0) as guaranteed_value,
        IFNULL(ts.target_value, 0) as target_value,
        td.target_decompose_id,
        td.target_decompose_type,
        td.indicator_id,
        td.target_year,
        td.target_decompose_dimension_id,
        td.decomposition_dimension,
        td.time_dimension,
        IFNULL(td.decompose_target, 0) as decompose_target,
        IFNULL(td.forecast_year, 0) as forecast_year,
        IFNULL(td.actual_total, 0) as actual_total,
        td.status,
        td.delete_flag,
        td.create_by,
        td.create_time,
        td.update_by,
        td.update_time
        FROM target_decompose td
        left join target_setting ts
        on td.indicator_id = ts.indicator_id
        and td.target_year = ts.target_year
        and ts.delete_flag = 0
        WHERE td.target_decompose_id = #{targetDecomposeId}
        and td.delete_flag = 0
    </select>

    <!--    批量查询销售订单目标分解表-->
    <select id="selectTargetDecomposeByTargetDecomposeIds"
            resultType="net.qixiaowei.operate.cloud.api.dto.targetManager.TargetDecomposeDTO">
        SELECT
        target_decompose_id, target_decompose_type, indicator_id, target_year, target_decompose_dimension_id,
        decomposition_dimension, time_dimension, decompose_target, forecast_year, actual_total, status, delete_flag,
        create_by, create_time, update_by, update_time
        FROM target_decompose
        WHERE target_decompose_id in
        <foreach item="item"
                 collection="targetDecomposeIds"
                 index="index" open="(" separator="," close=")">
            #{item}
        </foreach>
        and delete_flag=0
    </select>

    <!--    查询销售订单目标分解表列表-->
    <select id="selectTargetDecomposeList"
            resultType="net.qixiaowei.operate.cloud.api.dto.targetManager.TargetDecomposeDTO">
        SELECT
        td.target_year,
        td.decomposition_dimension,
        td.time_dimension,
        ifnull(ts.target_value,0) as target_value,
        ifnull(td.decompose_target,0) as decompose_target,
        td.target_decompose_id,
        td.target_decompose_type,
        td.indicator_id,
        td.target_decompose_dimension_id,
        td.forecast_year,
        td.actual_total,
        td.status,
        td.create_by,
        td.create_time
        FROM target_decompose td
        left join target_setting ts
        on td.target_year = ts.target_year
        and td.indicator_id = ts.indicator_id
        and ts.target_setting_type=#{targetDecompose.targetDecomposeType}
        and ts.delete_flag= 0
        WHERE td.delete_flag = 0
        <if test="targetDecompose.targetDecomposeIds != null and targetDecompose.targetDecomposeIds.size() != 0">
            and td.target_decompose_id in
            <foreach item="item"
                     collection="targetDecompose.targetDecomposeIds"
                     index="index" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test="targetDecompose.targetDecomposeId != null">
            and td.target_decompose_id=#{targetDecompose.targetDecomposeId}
        </if>
        <if test="targetDecompose.targetDecomposeType != null">
            and td.target_decompose_type=#{targetDecompose.targetDecomposeType}
        </if>
        <if test="targetDecompose.indicatorId != null">
            and td.indicator_id=#{targetDecompose.indicatorId}
        </if>
        <if test="targetDecompose.targetYear != null">
            and td.target_year =#{targetDecompose.targetYear}
        </if>
        <if test="targetDecompose.targetDecomposeDimensionId != null">
            and td.target_decompose_dimension_id=#{targetDecompose.targetDecomposeDimensionId}
        </if>
        <if test="targetDecompose.decompositionDimension != null and targetDecompose.decompositionDimension != ''">
            and td.decomposition_dimension like '%${targetDecompose.decompositionDimension}%'
        </if>
        <if test="targetDecompose.timeDimension != null">
            and td.time_dimension = #{targetDecompose.timeDimension}
        </if>
        <if test="targetDecompose.decomposeTarget != null">
            and td.decompose_target=#{targetDecompose.decomposeTarget}
        </if>
        <if test="targetDecompose.forecastYear != null">
            and td.forecast_year=#{targetDecompose.forecastYear}
        </if>
        <if test="targetDecompose.actualTotal != null">
            and td.actual_total=#{targetDecompose.actualTotal}
        </if>
        <if test="targetDecompose.status != null">
            and td.status=#{targetDecompose.status}
        </if>
        <if test="targetDecompose.deleteFlag != null">
            and td.delete_flag=#{targetDecompose.deleteFlag}
        </if>
        <if test="targetDecompose.createBy != null">
            and td.create_by=#{targetDecompose.createBy}
        </if>
        <if test="targetDecompose.createTime != null">
            and td.create_time=#{targetDecompose.createTime}
        </if>
        <if test="targetDecompose.updateBy != null">
            and td.update_by=#{targetDecompose.updateBy}
        </if>
        <if test="targetDecompose.updateTime != null">
            and td.update_time=#{targetDecompose.updateTime}
        </if>
        <!-- 数据范围过滤 -->
        ${targetDecompose.params.dataScope}
        ORDER BY td.create_time DESC
    </select>
    <!--    联合主键查询目标分解表-->
    <select id="selectTargetDecomposeUniteId"
            resultType="net.qixiaowei.operate.cloud.api.dto.targetManager.TargetDecomposeDTO">
        SELECT target_decompose_id,
        target_decompose_type,
        indicator_id,
        target_year,
        target_decompose_dimension_id,
        decomposition_dimension,
        time_dimension,
        decompose_target,
        forecast_year,
        actual_total,
        status,
        delete_flag,
        create_by,
        create_time,
        update_by,
        update_time
        FROM target_decompose
        WHERE target_year = #{targetDecompose.targetYear}
        and target_decompose_dimension_id = #{targetDecompose.targetDecomposeDimensionId}
        and time_dimension = #{targetDecompose.timeDimension}
        <if test="targetDecompose.indicatorId != null">
            and indicator_id=#{targetDecompose.indicatorId}
        </if>
        and target_decompose_type = #{targetDecompose.targetDecomposeType}
        and delete_flag = 0
    </select>
    <!--    查询滚动预测列表-->
    <select id="selectRollPageList"
            resultType="net.qixiaowei.operate.cloud.api.dto.targetManager.TargetDecomposeDTO">
        SELECT
        td.target_year,
        td.decomposition_dimension,
        td.time_dimension,
        ts.target_value,
        td.decompose_target,
        td.target_decompose_id,
        td.target_decompose_type,
        td.indicator_id,
        td.target_decompose_dimension_id,
        td.forecast_year,
        td.actual_total,
        td.status,
        td.create_by,
        td.create_time
        FROM target_decompose td
        left join target_setting ts
        on td.target_year = ts.target_year
        and td.indicator_id = ts.indicator_id
        and ts.delete_flag= 0
        WHERE td.delete_flag = 0
        and td.indicator_id in
        <foreach item="item"
                 collection="targetDecompose.indicatorIds"
                 index="index" open="(" separator="," close=")">
            #{item}
        </foreach>
        <!-- 目标年度过滤  -->
        <if test="targetDecompose.params.targetYearEqual != null and targetDecompose.params.targetYearEqual.size() > 0">
            AND td.target_year IN
            <foreach item="item"
                     collection="targetDecompose.params.targetYearEqual"
                     index="index" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test="targetDecompose.params.targetYearNotEqual != null and targetDecompose.params.targetYearNotEqual.size() > 0">
            AND td.target_year NOT IN
            <foreach item="item"
                     collection="targetDecompose.params.targetYearNotEqual"
                     index="index" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test="targetDecompose.params.targetYearBefore != null and targetDecompose.params.targetYearBefore != ''">
            AND td.target_year &lt; #{targetDecompose.params.targetYearBefore}
        </if>
        <if test="targetDecompose.params.targetYearNotBefore != null and targetDecompose.params.targetYearNotBefore != ''"><!-- 开始时间检索 -->
            AND td.target_year &gt;= #{targetDecompose.params.targetYearNotBefore}
        </if>
        <if test="targetDecompose.params.targetYearAfter != null and targetDecompose.params.targetYearAfter != ''"><!-- 开始时间检索 -->
            AND td.target_year &gt; #{targetDecompose.params.targetYearAfter}
        </if>
        <if test="targetDecompose.params.targetYearNotAfter != null and targetDecompose.params.targetYearNotAfter != ''"><!-- 结束时间检索 -->
            AND td.target_year &lt;= #{targetDecompose.params.targetYearNotAfter}
        </if>
        <if test="targetDecompose.params.targetYearStart != null and targetDecompose.params.targetYearStart != ''"><!-- 开始时间检索 -->
            AND td.target_year &gt;= #{targetDecompose.params.targetYearStart}
        </if>
        <if test="targetDecompose.params.targetYearEnd != null and targetDecompose.params.targetYearEnd != ''"><!-- 结束时间检索 -->
            AND td.target_year &lt;= #{targetDecompose.params.targetYearEnd}
        </if>
        <!-- 指标名称过滤  -->
        <if test="targetDecompose.params.indicatorNameEqual != null">
            <!-- 指标名称过滤  -->
            <if test="targetDecompose.params.indicatorIds != null and targetDecompose.params.indicatorIds.size() > 0">
                AND td.indicator_id IN
                <foreach item="item"
                         collection="targetDecompose.params.indicatorIds"
                         index="index" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
            <!-- 指标名称过滤  -->
            <if test="targetDecompose.params.indicatorIds == null">
                AND (td.indicator_id='' or td.indicator_id is null)
            </if>
        </if>
        <!-- 指标名称过滤  -->
        <if test=" targetDecompose.params.indicatorNameNotEqual != null">
            <!-- 指标名称过滤  -->
            <if test="targetDecompose.params.indicatorIds != null and targetDecompose.params.indicatorIds.size() > 0">
                AND (td.indicator_id IN
                <foreach item="item"
                         collection="targetDecompose.params.indicatorIds"
                         index="index" open="(" separator="," close=")">
                    #{item}
                </foreach>
                or (td.indicator_id='' or td.indicator_id is null))
            </if>
            <!-- 指标名称过滤  -->
            <if test="targetDecompose.params.indicatorIds == null">
                AND (td.indicator_id='' or td.indicator_id is null)
            </if>
        </if>
        <!-- 分解维度过滤  -->
        <if test="targetDecompose.params.targetDecomposeDimensionIdEqual != null and targetDecompose.params.targetDecomposeDimensionIdEqual.size() > 0">
            AND td.target_decompose_dimension_id IN
            <foreach item="item"
                     collection="targetDecompose.params.targetDecomposeDimensionIdEqual"
                     index="index" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test="targetDecompose.params.targetDecomposeDimensionIdNotEqual != null and targetDecompose.params.targetDecomposeDimensionIdNotEqual.size() > 0">
            AND td.target_decompose_dimension_id NOT IN
            <foreach item="item"
                     collection="targetDecompose.params.targetDecomposeDimensionIdNotEqual"
                     index="index" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <!-- 时间维度过滤  -->
        <if test="targetDecompose.params.timeDimensionEqual != null and targetDecompose.params.timeDimensionEqual.size() > 0">
            AND td.time_dimension IN
            <foreach item="item"
                     collection="targetDecompose.params.timeDimensionEqual"
                     index="index" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test="targetDecompose.params.timeDimensionNotEqual != null and targetDecompose.params.timeDimensionNotEqual.size() > 0">
            AND td.time_dimension NOT IN
            <foreach item="item"
                     collection="targetDecompose.params.timeDimensionNotEqual"
                     index="index" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>

        <!-- 普通指标名称过滤  -->
        <if test="targetDecompose.remoteIndicatorIds != null and targetDecompose.remoteIndicatorIds.size() > 0">
            AND td.indicator_id IN
            <foreach item="item"
                     collection="targetDecompose.remoteIndicatorIds"
                     index="index" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>

        <if test="targetDecompose.targetDecomposeId != null">
            and td.target_decompose_id=#{targetDecompose.targetDecomposeId}
        </if>
        <if test="targetDecompose.targetDecomposeType != null">
            and td.target_decompose_type in (1,2,3)
        </if>
        <if test="targetDecompose.targetYear != null">
            and td.target_year like '%${targetDecompose.targetYear}%'
        </if>
        <if test="targetDecompose.targetDecomposeDimensionId != null">
            and td.target_decompose_dimension_id=#{targetDecompose.targetDecomposeDimensionId}
        </if>
        <if test="targetDecompose.decompositionDimension != null and targetDecompose.decompositionDimension != ''">
            and td.decomposition_dimension like '%${targetDecompose.decompositionDimension}%'
        </if>
        <if test="targetDecompose.timeDimension != null">
            and td.time_dimension like '%${targetDecompose.timeDimension}%'
        </if>
        <if test="targetDecompose.decomposeTarget != null">
            and td.decompose_target=#{targetDecompose.decomposeTarget}
        </if>
        <if test="targetDecompose.forecastYear != null">
            and td.forecast_year=#{targetDecompose.forecastYear}
        </if>
        <if test="targetDecompose.actualTotal != null">
            and td.actual_total=#{targetDecompose.actualTotal}
        </if>
        <if test="targetDecompose.status != null">
            and td.status=#{targetDecompose.status}
        </if>
        <if test="targetDecompose.deleteFlag != null">
            and td.delete_flag=#{targetDecompose.deleteFlag}
        </if>
        <if test="targetDecompose.createBy != null">
            and td.create_by=#{targetDecompose.createBy}
        </if>
        <if test="targetDecompose.createTime != null">
            and td.create_time=#{targetDecompose.createTime}
        </if>
        <if test="targetDecompose.updateBy != null">
            and td.update_by=#{targetDecompose.updateBy}
        </if>
        <if test="targetDecompose.updateTime != null">
            and td.update_time=#{targetDecompose.updateTime}
        </if>
        <!-- 数据范围过滤 -->
        ${targetDecompose.params.dataScope}
        ORDER BY td.create_time DESC
    </select>
    <!--    根据时间维度查询目标分解所有数据-->
    <select id="selectCronCreateHistoryList"
            resultType="net.qixiaowei.operate.cloud.api.dto.targetManager.TargetDecomposeDTO">
        SELECT target_decompose_id,
        target_decompose_type,
        indicator_id,
        target_year,
        target_decompose_dimension_id,
        decomposition_dimension,
        time_dimension,
        decompose_target,
        forecast_year,
        actual_total,
        status,
        delete_flag,
        create_by,
        create_time,
        update_by,
        update_time
        FROM target_decompose
        where time_dimension = #{timeDimension}
        and target_decompose_type in (1, 2, 3)
        and delete_flag= 0
        for update
    </select>
    <!--    查询经营结果分析报表列表-->
    <select id="selectResultList"
            resultType="net.qixiaowei.operate.cloud.api.dto.targetManager.TargetDecomposeDTO">
        SELECT
        td.target_year,
        td.decomposition_dimension,
        td.time_dimension,
        IFNULL(ts.target_value,0) as target_value,
        IFNULL((select sum(cycle_target) from target_decompose_details tdd left join decompose_detail_cycles ddc on
        ddc.target_decompose_details_id =tdd.target_decompose_details_id and ddc .delete_flag =0 and ddc.tenant_id
        =#{targetDecompose.tenantId} where
        td.target_decompose_id = tdd.target_decompose_id and tdd.delete_flag=0 and tdd.tenant_id
        =#{targetDecompose.tenantId}),0) as decompose_target,
        td.target_decompose_id,
        td.target_decompose_type,
        td.indicator_id,
        td.target_decompose_dimension_id,
        IFNULL(td.forecast_year,0) as forecast_year,
        IFNULL((select sum(cycle_actual) from target_decompose_details tdd left join decompose_detail_cycles ddc on
        ddc.target_decompose_details_id =tdd.target_decompose_details_id and ddc .delete_flag =0 and ddc.tenant_id
        =#{targetDecompose.tenantId} where
        td.target_decompose_id = tdd.target_decompose_id and tdd.delete_flag=0 and tdd.tenant_id
        =#{targetDecompose.tenantId}),0) as actual_total,
        td.status
        FROM target_decompose td
        left join target_setting ts
        on td.target_year = ts.target_year
        and td.indicator_id = ts.indicator_id
        and ts.delete_flag= 0
        WHERE td.delete_flag = 0
        and td.indicator_id in
        <foreach item="item"
                 collection="targetDecompose.indicatorIds"
                 index="index" open="(" separator="," close=")">
            #{item}
        </foreach>
        <if test="targetDecompose.targetDecomposeId != null">
            and td.target_decompose_id=#{targetDecompose.targetDecomposeId}
        </if>
        <if test="targetDecompose.targetDecomposeType != null">
            and td.target_decompose_type=#{targetDecompose.targetDecomposeType}
        </if>
        <if test="targetDecompose.targetYear != null">
            and td.target_year like '%${targetDecompose.targetYear}%'
        </if>
        <if test="targetDecompose.targetDecomposeDimensionId != null">
            and td.target_decompose_dimension_id=#{targetDecompose.targetDecomposeDimensionId}
        </if>
        <if test="targetDecompose.decompositionDimension != null and targetDecompose.decompositionDimension != ''">
            and td.decomposition_dimension like '%$#{targetDecompose.decompositionDimension}%'
        </if>
        <if test="targetDecompose.timeDimension != null">
            and td.time_dimension like '%${targetDecompose.timeDimension}%'
        </if>
        <if test="targetDecompose.decomposeTarget != null">
            and td.decompose_target=#{targetDecompose.decomposeTarget}
        </if>
        <if test="targetDecompose.forecastYear != null">
            and td.forecast_year=#{targetDecompose.forecastYear}
        </if>
        <if test="targetDecompose.actualTotal != null">
            and td.actual_total=#{targetDecompose.actualTotal}
        </if>
        <if test="targetDecompose.status != null">
            and td.status=#{targetDecompose.status}
        </if>
        <if test="targetDecompose.deleteFlag != null">
            and td.delete_flag=#{targetDecompose.deleteFlag}
        </if>
        <if test="targetDecompose.createBy != null">
            and td.create_by=#{targetDecompose.createBy}
        </if>
        <if test="targetDecompose.createTime != null">
            and td.create_time=#{targetDecompose.createTime}
        </if>
        <if test="targetDecompose.updateBy != null">
            and td.update_by=#{targetDecompose.updateBy}
        </if>
        <if test="targetDecompose.updateTime != null">
            and td.update_time=#{targetDecompose.updateTime}
        </if>
    </select>
    <!--    目标分解是否被引用-->
    <select id="queryDeptDecompose"
            resultType="net.qixiaowei.operate.cloud.api.domain.targetManager.TargetDecompose">
        SELECT tdd.target_decompose_details_id,
        tdd.target_decompose_id,
        tdd.employee_id,
        tdd.area_id,
        tdd.department_id,
        tdd.product_id,
        tdd.region_id,
        tdd.industry_id,
        tdd.principal_employee_id,
        tdd.amount_target,
        tdd.delete_flag,
        tdd.create_by,
        tdd.create_time,
        tdd.update_by,
        tdd.update_time,
        td.indicator_id
        FROM target_decompose_details tdd
        left join target_decompose td
        on td.target_decompose_id = tdd.target_decompose_id
        and td.delete_flag = 0
        where tdd.department_id = #{departmentId}
        and tdd.delete_flag = 0
    </select>
    <!--    查询目标分解预制数据年份-->
    <select id="selectMaxYear"
            resultType="net.qixiaowei.operate.cloud.api.dto.targetManager.TargetDecomposeDTO">
        SELECT
        target_setting_id,
        target_setting_type,
        indicator_id,
        target_year,
        percentage,
        challenge_value,
        target_value,
        guaranteed_value,
        sort,
        delete_flag,
        create_by,
        create_time,
        update_by,
        update_time
        FROM target_setting
        where target_setting_type=#{targetDecompose.targetDecomposeType}
        <if test="targetDecompose.targetYear != null">
            and target_year=#{targetDecompose.targetYear}
        </if>
        <if test="targetDecompose.indicatorId != null">
            and indicator_id=#{targetDecompose.indicatorId}
        </if>
        and delete_flag = 0
        order by target_year desc
        limit 1
    </select>
    <select id="selectByIndicatorIds"
            resultType="net.qixiaowei.operate.cloud.api.dto.targetManager.TargetDecomposeDTO">
        SELECT
        target_setting_id,
        target_setting_type,
        indicator_id,
        target_year,
        percentage,
        challenge_value,
        target_value,
        guaranteed_value,
        sort,
        delete_flag,
        create_by,
        create_time,
        update_by,
        update_time
        FROM target_setting
        where indicator_id
        IN
        <foreach collection="indicatorIds" separator="," open="(" close=")" item="item" index="index">
            #{item}
        </foreach>
        and delete_flag = 0
    </select>
    <!--    获取目标分解的指标数据-->
    <select id="selectTargetDecomposeIndicator"
            resultType="net.qixiaowei.operate.cloud.api.dto.targetManager.TargetDecomposeDTO">
        SELECT
        td.target_decompose_id,
        td.target_decompose_type,
        td.indicator_id,
        td.target_year,
        td.target_decompose_dimension_id,
        td.decomposition_dimension,
        td.time_dimension,
        IFNULL( td.decompose_target, 0 ) AS decompose_target,
        IFNULL( td.forecast_year, 0 ) AS forecast_year,
        IFNULL( td.actual_total, 0 ) AS actual_total,
        td.STATUS,
        td.delete_flag,
        td.create_by,
        td.create_time,
        td.update_by,
        td.update_time
        FROM
        target_decompose td
        WHERE
        td.delete_flag = 0
        ORDER BY
        td.update_time DESC
    </select>
    <!--取最近一次分解维度-->
    <select id="selectRecentDecompose"
            resultType="net.qixiaowei.operate.cloud.api.dto.dashboard.TargetAchieveAnalysisDTO">
        SELECT
        td.target_decompose_id,
        td.target_year,
        td.indicator_id,
        td.update_time,
        td.target_decompose_dimension_id,
        td.decomposition_dimension,
        td.time_dimension,
        tdd.target_decompose_details_id,
        ddc.decompose_detail_cycles_id,
        ddc.cycle_number,
        IFNULL( ddc.cycle_target, 0 ) as cycle_target,
        IFNULL( ddc.cycle_forecast, 0 ) as cycle_forecast,
        IFNULL( ddc.cycle_actual, 0 ) as cycle_actual
        FROM
        (
        SELECT
        target_decompose_id,
        target_year,
        target_decompose_dimension_id,
        decomposition_dimension,
        time_dimension,
        indicator_id,
        delete_flag,
        update_time
        FROM
        target_decompose
        WHERE
        delete_flag = 0
        AND time_dimension != 5
        ORDER BY
        update_time DESC
        LIMIT 1
        ) td
        LEFT JOIN target_decompose_details tdd ON td.target_decompose_id = tdd.target_decompose_id
        AND tdd.delete_flag = 0
        LEFT JOIN decompose_detail_cycles ddc ON ddc.target_decompose_details_id = tdd.target_decompose_details_id
        AND ddc.delete_flag = 0
    </select>
    <!--获取分解维度数据-->
    <select id="selectAchieveAnalysisDecompose"
            resultType="net.qixiaowei.operate.cloud.api.dto.dashboard.TargetAchieveAnalysisDTO">
        SELECT
        td.target_decompose_id,
        td.target_year,
        td.indicator_id,
        td.update_time,
        td.target_decompose_dimension_id,
        td.decomposition_dimension,
        td.time_dimension,
        tdd.target_decompose_details_id,
        tdd.employee_id,
        tdd.area_id,
        tdd.department_id,
        tdd.product_id,
        tdd.region_id,
        tdd.industry_id,
        ddc.decompose_detail_cycles_id,
        ddc.cycle_number,
        a.area_name,
        p.product_name,
        IFNULL( ddc.cycle_target, 0 ) as cycle_target,
        IFNULL( ddc.cycle_forecast, 0 ) as cycle_forecast,
        IFNULL( ddc.cycle_actual, 0 ) as cycle_actual
        FROM
        (
        SELECT
        target_decompose_id,
        target_year,
        target_decompose_dimension_id,
        decomposition_dimension,
        time_dimension,
        indicator_id,
        delete_flag,
        update_time
        FROM
        target_decompose
        WHERE
        delete_flag = 0
        <if test="targetDecomposeDTO.targetYear!= null">
            AND target_year = #{targetDecomposeDTO.targetYear}
        </if>
        <if test="targetDecomposeDTO.timeDimension!= null">
            AND time_dimension = #{targetDecomposeDTO.timeDimension}
        </if>
        <if test="targetDecomposeDTO.indicatorId!= null">
            AND indicator_id = #{targetDecomposeDTO.indicatorId}
        </if>
        <if test="targetDecomposeDTO.targetDecomposeDimensionId!= null">
            AND target_decompose_dimension_id = #{targetDecomposeDTO.targetDecomposeDimensionId}
        </if>
        <if test="targetDecomposeDTO.params.targetYears!= null and targetDecomposeDTO.params.targetYears.size()>0">
            AND target_year IN
            <foreach item="item"
                     collection="targetDecomposeDTO.params.targetYears"
                     index="index" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        ) td
        LEFT JOIN target_decompose_details tdd ON td.target_decompose_id = tdd.target_decompose_id
        AND tdd.delete_flag = 0
        LEFT JOIN decompose_detail_cycles ddc ON ddc.target_decompose_details_id = tdd.target_decompose_details_id
        AND ddc.delete_flag = 0
        LEFT JOIN area a ON a.area_id = tdd.area_id
        AND a.delete_flag =0
        LEFT JOIN product p ON p.product_id = tdd.product_id
        AND p.delete_flag =0
        <if test="targetDecomposeDTO.params.timeStart!=null and targetDecomposeDTO.params.timeEnd!=null">
            WHERE ddc.cycle_number &lt;= #{targetDecomposeDTO.params.timeEnd}
            AND ddc.cycle_number &gt;= #{targetDecomposeDTO.params.timeStart}
        </if>
        ORDER BY ddc.cycle_number
    </select>
    <!--查询关键经营指标排行榜列表-->
    <select id="selectLeaderboardDecompose"
            resultType="net.qixiaowei.operate.cloud.api.dto.dashboard.TargetLeaderboardDTO">
        SELECT
        td.target_decompose_id,
        td.target_year,
        td.indicator_id,
        td.update_time,
        td.target_decompose_dimension_id,
        td.decomposition_dimension,
        td.time_dimension,
        tdd.target_decompose_details_id,
        tdd.employee_id,
        tdd.area_id,
        tdd.department_id,
        tdd.product_id,
        tdd.region_id,
        tdd.industry_id,
        ddc.decompose_detail_cycles_id,
        ddc.cycle_number,
        a.area_name,
        p.product_name,
        IFNULL( ddc.cycle_target, 0 ) as cycle_target,
        IFNULL( ddc.cycle_forecast, 0 ) as cycle_forecast,
        IFNULL( ddc.cycle_actual, 0 ) as cycle_actual
        FROM
        (
        SELECT
        target_decompose_id,
        target_year,
        target_decompose_dimension_id,
        decomposition_dimension,
        time_dimension,
        indicator_id,
        delete_flag,
        update_time
        FROM
        target_decompose
        WHERE
        delete_flag = 0
        <if test="targetDecomposeDTO.targetYear!= null">
            AND target_year = #{targetDecomposeDTO.targetYear}
        </if>
        <if test="targetDecomposeDTO.timeDimension!= null">
            AND time_dimension = #{targetDecomposeDTO.timeDimension}
        </if>
        <if test="targetDecomposeDTO.indicatorId!= null">
            AND indicator_id = #{targetDecomposeDTO.indicatorId}
        </if>
        <if test="targetDecomposeDTO.targetDecomposeDimensionId!= null">
            AND target_decompose_dimension_id = #{targetDecomposeDTO.targetDecomposeDimensionId}
        </if>
        <if test="targetDecomposeDTO.params.targetYears!= null and targetDecomposeDTO.params.targetYears.size()>0">
            AND target_year IN
            <foreach item="item"
                     collection="targetDecomposeDTO.params.targetYears"
                     index="index" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        ) td
        LEFT JOIN target_decompose_details tdd ON td.target_decompose_id = tdd.target_decompose_id
        AND tdd.delete_flag = 0
        LEFT JOIN decompose_detail_cycles ddc ON ddc.target_decompose_details_id = tdd.target_decompose_details_id
        AND ddc.delete_flag = 0
        LEFT JOIN area a ON a.area_id = tdd.area_id
        AND a.delete_flag =0
        LEFT JOIN product p ON p.product_id = tdd.product_id
        AND p.delete_flag =0
        <if test="targetDecomposeDTO.params.timeStart!=null and targetDecomposeDTO.params.timeEnd!=null">
            WHERE ddc.cycle_number &lt;= #{targetDecomposeDTO.params.timeEnd}
            AND ddc.cycle_number &gt;= #{targetDecomposeDTO.params.timeStart}
        </if>
        ORDER BY ddc.cycle_number
    </select>
    <!--取最近一次分解维度的数据-->
    <select id="selectRecentDecompose2"
            resultType="net.qixiaowei.operate.cloud.api.dto.dashboard.TargetLeaderboardDTO">
        SELECT
        td.target_decompose_id,
        td.target_year,
        td.indicator_id,
        td.update_time,
        td.target_decompose_dimension_id,
        td.decomposition_dimension,
        td.time_dimension,
        tdd.target_decompose_details_id,
        tdd.employee_id,
        tdd.area_id,
        tdd.department_id,
        tdd.product_id,
        tdd.region_id,
        tdd.industry_id,
        ddc.decompose_detail_cycles_id,
        ddc.cycle_number,
        a.area_name,
        p.product_name,
        IFNULL( ddc.cycle_target, 0 ) as cycle_target,
        IFNULL( ddc.cycle_forecast, 0 ) as cycle_forecast,
        IFNULL( ddc.cycle_actual, 0 ) as cycle_actual
        FROM
        (
        SELECT
        target_decompose_id,
        target_year,
        target_decompose_dimension_id,
        decomposition_dimension,
        time_dimension,
        indicator_id,
        delete_flag,
        update_time
        FROM
        target_decompose
        WHERE
        delete_flag = 0
        AND time_dimension != 5
        ORDER BY
        update_time DESC
        LIMIT 1
        ) td
        LEFT JOIN target_decompose_details tdd ON td.target_decompose_id = tdd.target_decompose_id
        AND tdd.delete_flag = 0
        LEFT JOIN decompose_detail_cycles ddc ON ddc.target_decompose_details_id = tdd.target_decompose_details_id
        AND ddc.delete_flag = 0
        LEFT JOIN area a ON a.area_id = tdd.area_id
        AND a.delete_flag =0
        LEFT JOIN product p ON p.product_id = tdd.product_id
        AND p.delete_flag =0
    </select>
    <!--引用校验-->
    <select id="selectListByTargetDecomposeDimensionIds"
            resultType="net.qixiaowei.operate.cloud.api.dto.targetManager.TargetDecomposeDTO">
        SELECT
        target_decompose_id, target_decompose_type, indicator_id, target_year, target_decompose_dimension_id,
        decomposition_dimension, time_dimension, decompose_target, forecast_year, actual_total, status, delete_flag,
        create_by, create_time, update_by, update_time
        FROM target_decompose
        WHERE target_decompose_dimension_id in
        <foreach item="item"
                 collection="targetDecomposeDimensionIds"
                 index="index" open="(" separator="," close=")">
            #{item}
        </foreach>
        and delete_flag=0
    </select>
    <!--新增销售订单目标分解表-->
    <insert id="insertTargetDecompose" useGeneratedKeys="true" keyProperty="targetDecomposeId">
        INSERT INTO target_decompose (target_decompose_type, indicator_id, target_year, target_decompose_dimension_id,
        decomposition_dimension, time_dimension, decompose_target, forecast_year,
        actual_total, status, delete_flag, create_by, create_time, update_by, update_time)
        VALUES (#{targetDecompose.targetDecomposeType}, #{targetDecompose.indicatorId}, #{targetDecompose.targetYear},
        #{targetDecompose.targetDecomposeDimensionId}, #{targetDecompose.decompositionDimension},
        #{targetDecompose.timeDimension}, #{targetDecompose.decomposeTarget}, #{targetDecompose.forecastYear},
        #{targetDecompose.actualTotal}, #{targetDecompose.status}, #{targetDecompose.deleteFlag},
        #{targetDecompose.createBy}, #{targetDecompose.createTime}, #{targetDecompose.updateBy},
        #{targetDecompose.updateTime})
    </insert>
    <!--修改销售订单目标分解表-->
    <update id="updateTargetDecompose">
        UPDATE target_decompose
        SET
        <if test="targetDecompose.targetDecomposeType != null">
            target_decompose_type=#{targetDecompose.targetDecomposeType},
        </if>
        <if test="targetDecompose.indicatorId != null">
            indicator_id=#{targetDecompose.indicatorId},
        </if>
        <if test="targetDecompose.targetYear != null">
            target_year=#{targetDecompose.targetYear},
        </if>
        <if test="targetDecompose.targetDecomposeDimensionId != null">
            target_decompose_dimension_id=#{targetDecompose.targetDecomposeDimensionId},
        </if>
        <if test="targetDecompose.decompositionDimension != null and targetDecompose.decompositionDimension != ''">
            decomposition_dimension=#{targetDecompose.decompositionDimension},
        </if>
        <if test="targetDecompose.timeDimension != null">
            time_dimension=#{targetDecompose.timeDimension},
        </if>
        <if test="targetDecompose.decomposeTarget != null">
            decompose_target=#{targetDecompose.decomposeTarget},
        </if>
        <if test="targetDecompose.forecastYear != null">
            forecast_year=#{targetDecompose.forecastYear},
        </if>
        <if test="targetDecompose.actualTotal != null">
            actual_total=#{targetDecompose.actualTotal},
        </if>
        <if test="targetDecompose.status != null">
            status=#{targetDecompose.status},
        </if>
        <if test="targetDecompose.deleteFlag != null">
            delete_flag=#{targetDecompose.deleteFlag},
        </if>
        <if test="targetDecompose.createBy != null">
            create_by=#{targetDecompose.createBy},
        </if>
        <if test="targetDecompose.createTime != null">
            create_time=#{targetDecompose.createTime},
        </if>
        <if test="targetDecompose.updateBy != null">
            update_by=#{targetDecompose.updateBy},
        </if>
        <if test="targetDecompose.updateTime != null">
            update_time=#{targetDecompose.updateTime}
        </if>
        WHERE
        target_decompose_id=#{targetDecompose.targetDecomposeId}
    </update>
    <!--逻辑删除销售订单目标分解表-->
    <update id="logicDeleteTargetDecomposeByTargetDecomposeId">
        UPDATE target_decompose
        SET delete_flag= 1,
        update_by=#{targetDecompose.updateBy},
        update_time=#{targetDecompose.updateTime}
        WHERE target_decompose_id = #{targetDecompose.targetDecomposeId}
    </update>
    <!--逻辑批量删除销售订单目标分解表-->
    <update id="logicDeleteTargetDecomposeByTargetDecomposeIds">
        UPDATE target_decompose
        SET delete_flag= 1,
        update_by=#{updateBy},
        update_time=#{updateTime}
        WHERE
        target_decompose_id IN
        <foreach item="item"
                 collection="targetDecomposeIds"
                 index="index" open="(" separator="," close=")">
            #{item}
        </foreach>
    </update>
    <!--批量新增销售订单目标分解表-->
    <insert id="batchTargetDecompose">
        INSERT INTO target_decompose
        (target_decompose_type,indicator_id,target_year,target_decompose_dimension_id,decomposition_dimension,time_dimension,decompose_target,forecast_year,actual_total,status,delete_flag,create_by,create_time,update_by,update_time)
        VALUES
        <foreach item="item" index="index"
                 collection="targetDecomposes"
                 separator=",">
            (#{item.targetDecomposeType},#{item.indicatorId},#{item.targetYear},#{item.targetDecomposeDimensionId},#{item.decompositionDimension},#{item.timeDimension},#{item.decomposeTarget},#{item.forecastYear},#{item.actualTotal},#{item.status},#{item.deleteFlag},#{item.createBy},#{item.createTime},#{item.updateBy},#{item.updateTime})
        </foreach>
    </insert>

    <!--批量修改销售订单目标分解表-->
    <update id="updateTargetDecomposes">
        update target_decompose
        <trim prefix="set" suffixOverrides=",">
            <trim prefix="target_decompose_type=case" suffix="end,">
                <foreach collection="targetDecomposeList" item="item" index="index">
                    <if test="item.targetDecomposeType != null">
                        when target_decompose_id=#{item.targetDecomposeId} then #{item.targetDecomposeType}
                    </if>
                </foreach>
            </trim>
            <trim prefix="indicator_id=case" suffix="end,">
                <foreach collection="targetDecomposeList" item="item" index="index">
                    <if test="item.indicatorId != null">
                        when target_decompose_id=#{item.targetDecomposeId} then #{item.indicatorId}
                    </if>
                </foreach>
            </trim>
            <trim prefix="target_year=case" suffix="end,">
                <foreach collection="targetDecomposeList" item="item" index="index">
                    <if test="item.targetYear != null">
                        when target_decompose_id=#{item.targetDecomposeId} then #{item.targetYear}
                    </if>
                </foreach>
            </trim>
            <trim prefix="target_decompose_dimension_id=case" suffix="end,">
                <foreach collection="targetDecomposeList" item="item" index="index">
                    <if test="item.targetDecomposeDimensionId != null">
                        when target_decompose_id=#{item.targetDecomposeId} then #{item.targetDecomposeDimensionId}
                    </if>
                </foreach>
            </trim>
            <trim prefix="decomposition_dimension=case" suffix="end,">
                <foreach collection="targetDecomposeList" item="item" index="index">
                    <if test="item.decompositionDimension != null and item.decompositionDimension != ''">
                        when target_decompose_id=#{item.targetDecomposeId} then #{item.decompositionDimension}
                    </if>
                </foreach>
            </trim>
            <trim prefix="time_dimension=case" suffix="end,">
                <foreach collection="targetDecomposeList" item="item" index="index">
                    <if test="item.timeDimension != null">
                        when target_decompose_id=#{item.targetDecomposeId} then #{item.timeDimension}
                    </if>
                </foreach>
            </trim>
            <trim prefix="decompose_target=case" suffix="end,">
                <foreach collection="targetDecomposeList" item="item" index="index">
                    <if test="item.decomposeTarget != null">
                        when target_decompose_id=#{item.targetDecomposeId} then #{item.decomposeTarget}
                    </if>
                </foreach>
            </trim>
            <trim prefix="forecast_year=case" suffix="end,">
                <foreach collection="targetDecomposeList" item="item" index="index">
                    <if test="item.forecastYear != null">
                        when target_decompose_id=#{item.targetDecomposeId} then #{item.forecastYear}
                    </if>
                </foreach>
            </trim>
            <trim prefix="actual_total=case" suffix="end,">
                <foreach collection="targetDecomposeList" item="item" index="index">
                    <if test="item.actualTotal != null">
                        when target_decompose_id=#{item.targetDecomposeId} then #{item.actualTotal}
                    </if>
                </foreach>
            </trim>
            <trim prefix="status=case" suffix="end,">
                <foreach collection="targetDecomposeList" item="item" index="index">
                    <if test="item.status != null">
                        when target_decompose_id=#{item.targetDecomposeId} then #{item.status}
                    </if>
                </foreach>
            </trim>
            <trim prefix="delete_flag=case" suffix="end,">
                <foreach collection="targetDecomposeList" item="item" index="index">
                    <if test="item.deleteFlag != null">
                        when target_decompose_id=#{item.targetDecomposeId} then #{item.deleteFlag}
                    </if>
                </foreach>
            </trim>
            <trim prefix="create_by=case" suffix="end,">
                <foreach collection="targetDecomposeList" item="item" index="index">
                    <if test="item.createBy != null">
                        when target_decompose_id=#{item.targetDecomposeId} then #{item.createBy}
                    </if>
                </foreach>
            </trim>
            <trim prefix="create_time=case" suffix="end,">
                <foreach collection="targetDecomposeList" item="item" index="index">
                    <if test="item.createTime != null">
                        when target_decompose_id=#{item.targetDecomposeId} then #{item.createTime}
                    </if>
                </foreach>
            </trim>
            <trim prefix="update_by=case" suffix="end,">
                <foreach collection="targetDecomposeList" item="item" index="index">
                    <if test="item.updateBy != null">
                        when target_decompose_id=#{item.targetDecomposeId} then #{item.updateBy}
                    </if>
                </foreach>
            </trim>
            <trim prefix="update_time=case" suffix="end,">
                <foreach collection="targetDecomposeList" item="item" index="index">
                    <if test="item.updateTime != null">
                        when target_decompose_id=#{item.targetDecomposeId} then #{item.updateTime}
                    </if>
                </foreach>
            </trim>
        </trim>
        where
        <foreach collection="targetDecomposeList" separator="or" item="item" index="index">
            target_decompose_id=#{item.targetDecomposeId}
        </foreach>
    </update>
</mapper>


