<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.qixiaowei.operate.cloud.mapper.targetManager.TargetOutcomeMapper">
    <!--    查询目标结果表-->
    <select id="selectTargetOutcomeByTargetOutcomeId"
            resultType="net.qixiaowei.operate.cloud.api.dto.targetManager.TargetOutcomeDTO">
        SELECT target_outcome_id,
        target_year,
        delete_flag,
        create_by,
        create_time,
        update_by,
        update_time
        FROM target_outcome
        WHERE target_outcome_id = #{targetOutcomeId}
        and delete_flag = 0
    </select>

    <!--    批量查询目标结果表-->
    <select id="selectTargetOutcomeByTargetOutcomeIds"
            resultType="net.qixiaowei.operate.cloud.api.dto.targetManager.TargetOutcomeDTO">
        SELECT
        target_outcome_id, target_year, delete_flag, create_by, create_time, update_by, update_time
        FROM target_outcome
        WHERE target_outcome_id in
        <foreach item="item"
                 collection="targetOutcomeIds"
                 index="index" open="(" separator="," close=")">
            #{item}
        </foreach>
        and delete_flag=0
    </select>

    <!--    查询目标结果表列表-->
    <select id="selectTargetOutcomeList"
            resultType="net.qixiaowei.operate.cloud.api.dto.targetManager.TargetOutcomeDTO">
        SELECT
        target_outcome_id, target_year, delete_flag, create_by, create_time, update_by, update_time
        FROM target_outcome
        WHERE delete_flag=0
        <if test="targetOutcome.targetOutcomeId != null">
            and target_outcome_id=#{targetOutcome.targetOutcomeId}
        </if>
        <if test="targetOutcome.targetYear != null">
            and target_year=#{targetOutcome.targetYear}
        </if>
        <if test="targetOutcome.updateBy != null">
            and update_by=#{targetOutcome.updateBy}
        </if>
        <if test="targetOutcome.createTime != null">
            and DATE_FORMAT( create_time, '%Y%m%d' ) = DATE_FORMAT( #{targetOutcome.createTime}, '%Y%m%d' )
        </if>
        <if test="targetOutcome.params.createTimeStart != null and targetOutcome.params.createTimeEnd != null ">
            and create_time &gt; #{targetOutcome.params.createTimeStart}
            and create_time &lt; #{targetOutcome.params.createTimeEnd}
        </if>
        ORDER BY target_year ASC
    </select>
    <!--通过targetYear查找Target Outcome DTO-->
    <select id="selectTargetOutcomeByTargetYear"
            resultType="net.qixiaowei.operate.cloud.api.dto.targetManager.TargetOutcomeDTO">
        SELECT target_outcome_id,
        target_year,
        delete_flag,
        create_by,
        create_time,
        update_by,
        update_time
        FROM target_outcome
        WHERE delete_flag = 0
        AND target_year = #{targetYear}
    </select>
    <!--通过targetYear列表查找Target Outcome DTO-->
    <select id="selectTargetOutcomeByTargetYears"
            resultType="net.qixiaowei.operate.cloud.api.dto.targetManager.TargetOutcomeDetailsDTO">
        SELECT
        come.target_outcome_id,
        come.target_year,
        detail.actual_total
        FROM target_outcome_details detail
        LEFT JOIN target_outcome come ON come.target_outcome_id = detail.target_outcome_id
        WHERE
        detail.delete_flag = 0
        AND come.delete_flag = 0
        AND indicator_id = #{indicatorId}
        AND come.target_year IN
        <foreach collection="targetYears" open="(" close=")" item="item" index="index" separator=",">
            #{item}
        </foreach>
    </select>
    <!--    根据年份和指标id查询当年数据和前一年数据-->
    <select id="selectDrivingFactor"
            resultType="net.qixiaowei.operate.cloud.api.dto.targetManager.TargetOutcomeDetailsDTO">
        SELECT
        to2.target_year,
        tod.indicator_id,
        IFNULL(tod.actual_january,0) as actual_january,
        IFNULL(tod.actual_february,0) as actual_february,
        IFNULL(tod.actual_march,0) as actual_march,
        IFNULL(tod.actual_april,0) as actual_april,
        IFNULL(tod.actual_may,0) as actual_may,
        IFNULL(tod.actual_june,0) as actual_june,
        IFNULL(tod.actual_july,0) as actual_july,
        IFNULL(tod.actual_august,0) as actual_august,
        IFNULL(tod.actual_september,0) as actual_september,
        IFNULL(tod.actual_october,0) as actual_october,
        IFNULL(tod.actual_november,0) as actual_november,
        IFNULL(tod.actual_december,0) as actual_december
        from target_outcome to2
        left join target_outcome_details tod
        on to2.target_outcome_id = tod.target_outcome_id
        and tod.delete_flag =0
        WHERE to2.delete_flag = 0
        and tod.indicator_id in
        <foreach item="item"
                 collection="targetOutcome.indicatorIds"
                 index="index" open="(" separator="," close=")">
            #{item}
        </foreach>
        and to2.target_year &lt;= #{targetOutcome.targetYear}
        order by to2.target_year desc
        LIMIT #{targetOutcome.limitYear}
    </select>
    <!--关键经营结果中的销售收入的年度实际值-->
    <select id="selectTargetOutcomeValue"
            resultType="net.qixiaowei.operate.cloud.api.dto.targetManager.TargetOutcomeDetailsDTO">
        SELECT tod.actual_total, t.target_year
        FROM target_outcome_details tod
        LEFT JOIN target_outcome t
        ON t.target_outcome_id = tod.target_outcome_id
        AND t.delete_flag = 0
        WHERE tod.indicator_id = #{indicatorId}
        AND t.target_year = #{targetYear}
        AND tod.delete_flag = 0
    </select>
    <select id="selectTargetOutcomeByCreateBys"
            resultType="net.qixiaowei.operate.cloud.api.dto.targetManager.TargetOutcomeDTO">
        SELECT tao.target_outcome_id,
        tao.target_year,
        tao.delete_flag,
        tao.create_by,
        tao.create_time,
        tao.update_by,
        tao.update_time
        FROM target_outcome tao
        WHERE tao.delete_flag = 0
        <if test="targetOutcome.targetOutcomeId != null">
            and tao.target_outcome_id=#{targetOutcome.targetOutcomeId}
        </if>
        <if test="targetOutcome.targetYear != null">
            and tao.target_year=#{targetOutcome.targetYear}
        </if>
        <if test="targetOutcome.updateBy != null">
            and tao.update_by=#{targetOutcome.updateBy}
        </if>
        <if test="targetOutcome.updateTime != null">
            and tao.update_time=#{targetOutcome.updateTime}
        </if>
        <if test="targetOutcome.params.createTimeStart != null and targetOutcome.params.createTimeEnd != null ">
            and tao.create_time &gt; #{targetOutcome.params.createTimeStart}
            and tao.create_time &lt; #{targetOutcome.params.createTimeEnd}
        </if>
        <if test="targetOutcome.params.createBys != null and targetOutcome.params.createBys.size() > 0">
            AND tao.create_by IN
            <foreach collection="targetOutcome.params.createBys" index="index" item="item" separator="," open="("
                     close=")">
                #{item}
            </foreach>
        </if>
        ORDER BY tao.target_year ASC
    </select>
    <!--    查询结果应用详情列表-->
    <select id="selectTargetOutcomeDetailList"
            resultType="net.qixiaowei.operate.cloud.api.dto.targetManager.TargetOutcomeDTO">
        SELECT
        come.target_outcome_id,
        come.target_year,
        detail.actual_total
        FROM target_outcome come
        LEFT JOIN target_outcome_details detail
        ON come.target_outcome_id = detail.target_outcome_id
        WHERE detail.delete_flag = 0
        AND come.delete_flag = 0
        AND come.target_year =#{targetOutcome.targetYear}
    </select>
<!--    战略云获取指标实际值-->
    <select id="getResultIndicator"
            resultType="net.qixiaowei.operate.cloud.api.dto.targetManager.TargetOutcomeDetailsDTO">
        select
        to2.target_year ,
        tod.target_outcome_details_id,
        tod.target_outcome_id,
        tod.indicator_id,
        tod.actual_total,
        tod.actual_january,
        tod.actual_february,
        tod.actual_march,
        tod.actual_april,
        tod.actual_may,
        tod.actual_june,
        tod.actual_july,
        tod.actual_august,
        tod.actual_september,
        tod.actual_october,
        tod.actual_november,
        tod.actual_december,
        tod.delete_flag,
        tod.create_by,
        tod.create_time,
        tod.update_by,
        tod.update_time,
        tod.tenant_id
        from
        target_outcome_details tod
        left join target_outcome to2
        on
        to2.target_outcome_id = tod.target_outcome_id
        and to2.delete_flag = 0
        where
        tod.delete_flag = 0
        and indicator_id in
        <foreach item="item"
                 collection="strategyIntentOperateVO.indicatorIds"
                 index="index" open="(" separator="," close=")">
            #{item}
        </foreach>
        and to2.target_year in
        <foreach item="item"
                 collection="strategyIntentOperateVO.targetYears"
                 index="index" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>
    <!--新增目标结果表-->
    <insert id="insertTargetOutcome" useGeneratedKeys="true" keyProperty="targetOutcomeId">
        INSERT INTO target_outcome (target_year, delete_flag, create_by, create_time, update_by, update_time)
        VALUES (#{targetOutcome.targetYear}, #{targetOutcome.deleteFlag}, #{targetOutcome.createBy},
        #{targetOutcome.createTime}, #{targetOutcome.updateBy}, #{targetOutcome.updateTime})
    </insert>
    <!--修改目标结果表-->
    <update id="updateTargetOutcome">
        UPDATE target_outcome
        SET
        <if test="targetOutcome.targetYear != null">
            target_year=#{targetOutcome.targetYear},
        </if>
        <if test="targetOutcome.deleteFlag != null">
            delete_flag=#{targetOutcome.deleteFlag},
        </if>
        <if test="targetOutcome.createBy != null">
            create_by=#{targetOutcome.createBy},
        </if>
        <if test="targetOutcome.createTime != null">
            create_time=#{targetOutcome.createTime},
        </if>
        <if test="targetOutcome.updateBy != null">
            update_by=#{targetOutcome.updateBy},
        </if>
        <if test="targetOutcome.updateTime != null">
            update_time=#{targetOutcome.updateTime}
        </if>
        WHERE
        target_outcome_id=#{targetOutcome.targetOutcomeId}
    </update>
    <!--逻辑删除目标结果表-->
    <update id="logicDeleteTargetOutcomeByTargetOutcomeId">
        UPDATE target_outcome
        SET delete_flag= 1,
        update_by=#{targetOutcome.updateBy},
        update_time=#{targetOutcome.updateTime}
        WHERE target_outcome_id = #{targetOutcome.targetOutcomeId}
    </update>
    <!--逻辑批量删除目标结果表-->
    <update id="logicDeleteTargetOutcomeByTargetOutcomeIds">
        UPDATE target_outcome
        SET delete_flag= 1,
        update_by=#{updateBy},
        update_time=#{updateTime}
        WHERE
        target_outcome_id IN
        <foreach item="item"
                 collection="targetOutcomeIds"
                 index="index" open="(" separator="," close=")">
            #{item}
        </foreach>
    </update>
    <!--批量新增目标结果表-->
    <insert id="batchTargetOutcome">
        INSERT INTO target_outcome (target_year,delete_flag,create_by,create_time,update_by,update_time)
        VALUES
        <foreach item="item" index="index"
                 collection="targetOutcomes"
                 separator=",">
            (#{item.targetYear},#{item.deleteFlag},#{item.createBy},#{item.createTime},#{item.updateBy},#{item.updateTime})
        </foreach>
    </insert>

    <!--物理删除目标结果表-->
    <delete id="deleteTargetOutcomeByTargetOutcomeId">
        DELETE
        FROM target_outcome
        WHERE target_outcome_id = #{targetOutcome}

    </delete>
    <!--物理批量删除目标结果表-->
    <delete id="deleteTargetOutcomeByTargetOutcomeIds">
        DELETE FROM target_outcome
        WHERE target_outcome_id IN
        <foreach item="item"
                 collection="targetOutcomeIds"
                 index="index" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>
    <!--批量修改目标结果表-->
    <update id="updateTargetOutcomes">
        update target_outcome
        <trim prefix="set" suffixOverrides=",">
            <trim prefix="target_year=case" suffix="end,">
                <foreach collection="targetOutcomeList" item="item" index="index">
                    <if test="item.targetYear != null">
                        when target_outcome_id=#{item.targetOutcomeId} then #{item.targetYear}
                    </if>
                </foreach>
            </trim>
            <trim prefix="delete_flag=case" suffix="end,">
                <foreach collection="targetOutcomeList" item="item" index="index">
                    <if test="item.deleteFlag != null">
                        when target_outcome_id=#{item.targetOutcomeId} then #{item.deleteFlag}
                    </if>
                </foreach>
            </trim>
            <trim prefix="create_by=case" suffix="end,">
                <foreach collection="targetOutcomeList" item="item" index="index">
                    <if test="item.createBy != null">
                        when target_outcome_id=#{item.targetOutcomeId} then #{item.createBy}
                    </if>
                </foreach>
            </trim>
            <trim prefix="create_time=case" suffix="end,">
                <foreach collection="targetOutcomeList" item="item" index="index">
                    <if test="item.createTime != null">
                        when target_outcome_id=#{item.targetOutcomeId} then #{item.createTime}
                    </if>
                </foreach>
            </trim>
            <trim prefix="update_by=case" suffix="end,">
                <foreach collection="targetOutcomeList" item="item" index="index">
                    <if test="item.updateBy != null">
                        when target_outcome_id=#{item.targetOutcomeId} then #{item.updateBy}
                    </if>
                </foreach>
            </trim>
            <trim prefix="update_time=case" suffix="end,">
                <foreach collection="targetOutcomeList" item="item" index="index">
                    <if test="item.updateTime != null">
                        when target_outcome_id=#{item.targetOutcomeId} then #{item.updateTime}
                    </if>
                </foreach>
            </trim>
        </trim>
        where
        <foreach collection="targetOutcomeList" separator="or" item="item" index="index">
            target_outcome_id=#{item.targetOutcomeId}
        </foreach>
    </update>
</mapper>


