<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.qixiaowei.operate.cloud.mapper.targetManager.TargetSettingOrderMapper">
    <!--    查询目标制定订单表-->
    <select id="selectTargetSettingOrderByTargetSettingOrderId"
            resultType="net.qixiaowei.operate.cloud.api.dto.targetManager.TargetSettingOrderDTO">
        SELECT
        target_setting_order_id, target_setting_id, history_year, history_actual, delete_flag, create_by, create_time,
        update_by, update_time
        FROM target_setting_order
        WHERE target_setting_order_id=#{targetSettingOrderId}
        and delete_flag=0
    </select>

    <!--    批量查询目标制定订单表-->
    <select id="selectTargetSettingOrderByTargetSettingOrderIds"
            resultType="net.qixiaowei.operate.cloud.api.dto.targetManager.TargetSettingOrderDTO">
        SELECT
        target_setting_order_id, target_setting_id, history_year, history_actual, delete_flag, create_by, create_time,
        update_by, update_time
        FROM target_setting_order
        WHERE target_setting_order_id in
        <foreach item="item"
                 collection="targetSettingOrderIds"
                 index="index" open="(" separator="," close=")">
            #{item}
        </foreach>
        and delete_flag=0
    </select>
    <select id="selectTargetSettingOrderByTargetSettingId"
            resultType="net.qixiaowei.operate.cloud.api.dto.targetManager.TargetSettingOrderDTO">
        SELECT
        target_setting_order_id, target_setting_id, history_year, history_actual, delete_flag, create_by, create_time,
        update_by, update_time
        FROM target_setting_order
        WHERE delete_flag=0
        AND target_setting_id = #{targetSettingId}
    </select>
    <!--    查询目标制定订单表列表-->
    <select id="selectTargetSettingOrderList"
            resultType="net.qixiaowei.operate.cloud.api.dto.targetManager.TargetSettingOrderDTO">
        SELECT
        target_setting_order_id, target_setting_id, history_year, history_actual, delete_flag, create_by, create_time,
        update_by, update_time
        FROM target_setting_order
        WHERE delete_flag=0
        AND target_setting_id = #{targetSettingId}
        AND history_year
        IN
        <foreach collection="historyYears" separator="," index="index" item="item" close=")" open="(">
            #{item}
        </foreach>
    </select>
    <!--新增目标制定订单表-->
    <insert id="insertTargetSettingOrder" useGeneratedKeys="true" keyProperty="targetSettingOrderId">
        INSERT INTO target_setting_order
        (target_setting_id,history_year,history_actual,delete_flag,create_by,create_time,update_by,update_time)
        VALUES
        (#{targetSettingOrder.targetSettingId},#{targetSettingOrder.historyYear},#{targetSettingOrder.historyActual},#{targetSettingOrder.deleteFlag},#{targetSettingOrder.createBy},#{targetSettingOrder.createTime},#{targetSettingOrder.updateBy},#{targetSettingOrder.updateTime})
    </insert>
    <!--修改目标制定订单表-->
    <update id="updateTargetSettingOrder">
        UPDATE target_setting_order
        SET
        <if test="targetSettingOrder.targetSettingId != null">
            target_setting_id=#{targetSettingOrder.targetSettingId},
        </if>
        <if test="targetSettingOrder.historyYear != null">
            history_year=#{targetSettingOrder.historyYear},
        </if>
        <if test="targetSettingOrder.historyActual != null">
            history_actual=#{targetSettingOrder.historyActual},
        </if>
        <if test="targetSettingOrder.deleteFlag != null">
            delete_flag=#{targetSettingOrder.deleteFlag},
        </if>
        <if test="targetSettingOrder.createBy != null">
            create_by=#{targetSettingOrder.createBy},
        </if>
        <if test="targetSettingOrder.createTime != null">
            create_time=#{targetSettingOrder.createTime},
        </if>
        <if test="targetSettingOrder.updateBy != null">
            update_by=#{targetSettingOrder.updateBy},
        </if>
        <if test="targetSettingOrder.updateTime != null">
            update_time=#{targetSettingOrder.updateTime}
        </if>
        WHERE
        target_setting_order_id=#{targetSettingOrder.targetSettingOrderId}
    </update>
    <!--逻辑删除目标制定订单表-->
    <update id="logicDeleteTargetSettingOrderByTargetSettingOrderId">
        UPDATE target_setting_order
        SET delete_flag= 1,
        update_by=#{targetSettingOrder.updateBy},
        update_time=#{targetSettingOrder.updateTime}
        WHERE
        target_setting_order_id=#{targetSettingOrder.targetSettingOrderId}
    </update>
    <!--逻辑批量删除目标制定订单表-->
    <update id="logicDeleteTargetSettingOrderByTargetSettingOrderIds">
        UPDATE target_setting_order
        SET delete_flag= 1,
        update_by=#{updateBy},
        update_time=#{updateTime}
        WHERE
        target_setting_order_id IN
        <foreach item="item"
                 collection="targetSettingOrderIds"
                 index="index" open="(" separator="," close=")">
            #{item}
        </foreach>
    </update>
    <!--批量新增目标制定订单表-->
    <insert id="batchTargetSettingOrder">
        INSERT INTO target_setting_order
        (target_setting_id,history_year,history_actual,delete_flag,create_by,create_time,update_by,update_time)
        VALUES
        <foreach item="item" index="index"
                 collection="targetSettingOrders"
                 separator=",">
            (#{item.targetSettingId},#{item.historyYear},#{item.historyActual},#{item.deleteFlag},#{item.createBy},#{item.createTime},#{item.updateBy},#{item.updateTime})
        </foreach>
    </insert>

    <!--物理删除目标制定订单表-->
    <delete id="deleteTargetSettingOrderByTargetSettingOrderId">
        DELETE FROM target_setting_order
        WHERE target_setting_order_id=#{targetSettingOrder}

    </delete>
    <!--物理批量删除目标制定订单表-->
    <delete id="deleteTargetSettingOrderByTargetSettingOrderIds">
        DELETE FROM target_setting_order
        WHERE target_setting_order_id IN
        <foreach item="item"
                 collection="targetSettingOrderIds"
                 index="index" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>
    <!--批量修改目标制定订单表-->
    <update id="updateTargetSettingOrders">
        update target_setting_order
        <trim prefix="set" suffixOverrides=",">
            <trim prefix="target_setting_id=case" suffix="end,">
                <foreach collection="targetSettingOrderList" item="item" index="index">
                    <if test="item.targetSettingId != null">
                        when target_setting_order_id=#{item.targetSettingOrderId} then #{item.targetSettingId}
                    </if>
                </foreach>
            </trim>
            <trim prefix="history_actual=case" suffix="end,">
                <foreach collection="targetSettingOrderList" item="item" index="index">
                    <if test="item.historyActual != null">
                        when target_setting_order_id=#{item.targetSettingOrderId} then #{item.historyActual}
                    </if>
                </foreach>
            </trim>
            <trim prefix="delete_flag=case" suffix="end,">
                <foreach collection="targetSettingOrderList" item="item" index="index">
                    <if test="item.deleteFlag != null">
                        when target_setting_order_id=#{item.targetSettingOrderId} then #{item.deleteFlag}
                    </if>
                </foreach>
            </trim>
            <trim prefix="create_by=case" suffix="end,">
                <foreach collection="targetSettingOrderList" item="item" index="index">
                    <if test="item.createBy != null">
                        when target_setting_order_id=#{item.targetSettingOrderId} then #{item.createBy}
                    </if>
                </foreach>
            </trim>
            <trim prefix="create_time=case" suffix="end,">
                <foreach collection="targetSettingOrderList" item="item" index="index">
                    <if test="item.createTime != null">
                        when target_setting_order_id=#{item.targetSettingOrderId} then #{item.createTime}
                    </if>
                </foreach>
            </trim>
            <trim prefix="update_by=case" suffix="end,">
                <foreach collection="targetSettingOrderList" item="item" index="index">
                    <if test="item.updateBy != null">
                        when target_setting_order_id=#{item.targetSettingOrderId} then #{item.updateBy}
                    </if>
                </foreach>
            </trim>
            <trim prefix="update_time=case" suffix="end,">
                <foreach collection="targetSettingOrderList" item="item" index="index">
                    <if test="item.updateTime != null">
                        when target_setting_order_id=#{item.targetSettingOrderId} then #{item.updateTime}
                    </if>
                </foreach>
            </trim>
        </trim>
        where
        <foreach collection="targetSettingOrderList" separator="or" item="item" index="index">
            target_setting_order_id=#{item.targetSettingOrderId}
        </foreach>
    </update>
</mapper>


