<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.qixiaowei.operate.cloud.mapper.performance.PerformancePercentageMapper">
    <!--    查询绩效比例表-->
    <select id="selectPerformancePercentageByPerformancePercentageId"
            resultType="net.qixiaowei.operate.cloud.api.dto.performance.PerformancePercentageDTO">
        SELECT
        performance_percentage_id, performance_percentage_name, org_performance_rank_id, person_performance_rank_id,
        delete_flag, create_by, create_time, update_by, update_time
        FROM performance_percentage
        WHERE performance_percentage_id=#{performancePercentageId}
        and delete_flag=0
    </select>

    <!--    查询绩效比例表列表-->
    <select id="selectPerformancePercentageList"
            resultType="net.qixiaowei.operate.cloud.api.dto.performance.PerformancePercentageDTO">
        SELECT
        t1.performance_percentage_id, t1.performance_percentage_name, t1.delete_flag, t1.create_by, t1.create_time,
        t1.update_by, t1.update_time,
        t1.org_performance_rank_id,t1.person_performance_rank_id,
        t2.performance_rank_name as org_performance_rank_name,
        t2.delete_flag AS org_delete_flag,
        t3.performance_rank_name as person_performance_rank_name,
        t3.delete_flag AS person_delete_flag
        FROM
        performance_percentage t1
        LEFT JOIN performance_rank t2 ON t1.org_performance_rank_id = t2.performance_rank_id
        LEFT JOIN performance_rank t3 ON t1.person_performance_rank_id = t3.performance_rank_id
        WHERE t1.delete_flag = 0
        <!--        AND t2.delete_flag = 0-->
        <!--        AND t3.delete_flag = 0-->
        <if test="performancePercentageDTO.performancePercentageId != null">
            and performance_percentage_id=#{performancePercentageDTO.performancePercentageId}
        </if>
        <if test="performancePercentageDTO.performancePercentageName != null and performancePercentageDTO.performancePercentageName != ''">
            and t1.performance_percentage_name like concat('%', #{performancePercentageDTO.performancePercentageName}, '%')
        </if>
        <if test="performancePercentageDTO.orgPerformanceRankName != null and performancePercentageDTO.orgPerformanceRankName != ''">
            and t2.performance_rank_name like concat('%', #{performancePercentageDTO.orgPerformanceRankName}, '%')
        </if>
        <if test="performancePercentageDTO.personPerformanceRankName != null and performancePercentageDTO.personPerformanceRankName != ''">
            and t3.performance_rank_name like concat('%', #{performancePercentageDTO.personPerformanceRankName}, '%')
        </if>
        <if test="performancePercentageDTO.orgPerformanceRankId != null">
            and t2.org_performance_rank_id=#{performancePercentageDTO.orgPerformanceRankId}
        </if>
        <if test="performancePercentageDTO.personPerformanceRankId != null">
            and t3.person_performance_rank_id=#{performancePercentageDTO.personPerformanceRankId}
        </if>
        <if test="performancePercentageDTO.deleteFlag != null">
            and delete_flag=#{performancePercentageDTO.deleteFlag}
        </if>
        <if test="performancePercentageDTO.createBy != null">
            and create_by=#{performancePercentageDTO.createBy}
        </if>
        <if test="performancePercentageDTO.createTime != null">
            and create_time=#{performancePercentageDTO.createTime}
        </if>
        <if test="performancePercentageDTO.updateBy != null">
            and update_by=#{performancePercentageDTO.updateBy}
        </if>
        <if test="performancePercentageDTO.updateTime != null">
            and update_time=#{performancePercentageDTO.updateTime}
        </if>
    </select>
    <!--performancePercentageName唯一性校验-->
    <select id="isUnique" resultType="java.lang.Integer">
        SELECT COUNT(performance_percentage_name) FROM performance_percentage
        WHERE performance_percentage_name = #{performancePercentageName}
        AND delete_flag = 0
    </select>
    <!--引用校验-->
    <select id="isQuote" resultType="java.lang.Integer">
        SELECT COUNT(performance_percentage_id) FROM performance_percentage
        WHERE delete_flag = 0
        <if test="performanceRankCategory = 1">
            AND org_performance_rank_id = #{performanceRankId}
        </if>
        <if test="performanceRankCategory = 2">
            AND person_performance_rank_id = #{performanceRankId}
        </if>
    </select>
    <select id="selectPerformancePercentageByPerformancePercentageIds"
            resultType="net.qixiaowei.operate.cloud.api.dto.performance.PerformancePercentageDTO">
        SELECT
        performance_percentage_id, performance_percentage_name, org_performance_rank_id, person_performance_rank_id,
        delete_flag, create_by, create_time, update_by, update_time
        FROM performance_percentage
        WHERE delete_flag=0
        AND performance_percentage_id IN
        <foreach collection="performancePercentageIds" separator="," open="(" close=")" index="index" item="item">
            #{item}
        </foreach>
    </select>
    <select id="selectPerformancePercentageByPerformancePercentageName"
            resultType="net.qixiaowei.operate.cloud.api.dto.performance.PerformancePercentageDTO">
        SELECT
        performance_percentage_id, performance_percentage_name, org_performance_rank_id, person_performance_rank_id,
        delete_flag, create_by, create_time, update_by, update_time
        FROM performance_percentage
        WHERE delete_flag=0
        AND performance_percentage_name = #{performancePercentageName}
    </select>
    <select id="selectPerformancePercentageByPersonId"
            resultType="net.qixiaowei.operate.cloud.api.dto.performance.PerformancePercentageDTO">
        SELECT
        performance_percentage_id, performance_percentage_name, org_performance_rank_id, person_performance_rank_id,
        delete_flag, create_by, create_time, update_by, update_time
        FROM performance_percentage
        WHERE delete_flag=0
        AND person_performance_rank_id = #{performanceRankId}
    </select>
    <!--新增绩效比例表-->
    <insert id="insertPerformancePercentage" useGeneratedKeys="true" keyProperty="performancePercentageId">
        INSERT INTO performance_percentage
        (performance_percentage_name,org_performance_rank_id,person_performance_rank_id,delete_flag,create_by,create_time,update_by,update_time)
        VALUES
        (#{performancePercentage.performancePercentageName},#{performancePercentage.orgPerformanceRankId},#{performancePercentage.personPerformanceRankId},#{performancePercentage.deleteFlag},#{performancePercentage.createBy},#{performancePercentage.createTime},#{performancePercentage.updateBy},#{performancePercentage.updateTime})
    </insert>
    <!--修改绩效比例表-->
    <update id="updatePerformancePercentage">
        UPDATE performance_percentage
        SET
        <if test="performancePercentage.performancePercentageName != null and performancePercentage.performancePercentageName != ''">
            performance_percentage_name=#{performancePercentage.performancePercentageName},
        </if>
        <if test="performancePercentage.orgPerformanceRankId != null">
            org_performance_rank_id=#{performancePercentage.orgPerformanceRankId},
        </if>
        <if test="performancePercentage.personPerformanceRankId != null">
            person_performance_rank_id=#{performancePercentage.personPerformanceRankId},
        </if>
        <if test="performancePercentage.deleteFlag != null">
            delete_flag=#{performancePercentage.deleteFlag},
        </if>
        <if test="performancePercentage.createBy != null">
            create_by=#{performancePercentage.createBy},
        </if>
        <if test="performancePercentage.createTime != null">
            create_time=#{performancePercentage.createTime},
        </if>
        <if test="performancePercentage.updateBy != null">
            update_by=#{performancePercentage.updateBy},
        </if>
        <if test="performancePercentage.updateTime != null">
            update_time=#{performancePercentage.updateTime}
        </if>
        WHERE
        performance_percentage_id=#{performancePercentage.performancePercentageId}
    </update>
    <!--逻辑删除绩效比例表-->
    <update id="logicDeletePerformancePercentageByPerformancePercentageId">
        UPDATE performance_percentage
        SET delete_flag= 1,
        update_by=#{performancePercentage.updateBy},
        update_time=#{performancePercentage.updateTime}
        WHERE
        performance_percentage_id=#{performancePercentage.performancePercentageId}
    </update>
    <!--逻辑批量删除绩效比例表-->
    <update id="logicDeletePerformancePercentageByPerformancePercentageIds">
        UPDATE performance_percentage
        SET delete_flag= 1,
        update_by=#{updateBy},
        update_time=#{updateTime}
        WHERE
        performance_percentage_id IN
        <foreach item="item"
                 collection="performancePercentageIds"
                 index="index" open="(" separator="," close=")">
            #{item}
        </foreach>
    </update>
    <!--批量新增绩效比例表-->
    <insert id="batchPerformancePercentage">
        INSERT INTO performance_percentage
        (performance_percentage_name,org_performance_rank_id,person_performance_rank_id,delete_flag,create_by,create_time,update_by,update_time)
        VALUES
        <foreach item="item" index="index"
                 collection="performancePercentages"
                 separator=",">
            (#{item.performancePercentageName},#{item.orgPerformanceRankId},#{item.personPerformanceRankId},#{item.deleteFlag},#{item.createBy},#{item.createTime},#{item.updateBy},#{item.updateTime})
        </foreach>
    </insert>

    <!--物理删除绩效比例表-->
    <delete id="deletePerformancePercentageByPerformancePercentageId">
        DELETE FROM performance_percentage
        WHERE performance_percentage_id=#{performancePercentage}

    </delete>
    <!--物理批量删除绩效比例表-->
    <delete id="deletePerformancePercentageByPerformancePercentageIds">
        DELETE FROM performance_percentage
        WHERE performance_percentage_id IN
        <foreach item="item"
                 collection="performancePercentageIds"
                 index="index" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>
    <!--批量修改绩效比例表-->
    <update id="updatePerformancePercentages">
        update performance_percentage
        <trim prefix="set" suffixOverrides=",">
            <trim prefix="performance_percentage_name=case" suffix="end,">
                <foreach collection="performancePercentageList" item="item" index="index">
                    <if test="item.performancePercentageName != null and item.performancePercentageName != ''">
                        when performance_percentage_id=#{item.performancePercentageId} then
                        #{item.performancePercentageName}
                    </if>
                </foreach>
            </trim>
            <trim prefix="org_performance_rank_id=case" suffix="end,">
                <foreach collection="performancePercentageList" item="item" index="index">
                    <if test="item.orgPerformanceRankId != null">
                        when performance_percentage_id=#{item.performancePercentageId} then #{item.orgPerformanceRankId}
                    </if>
                </foreach>
            </trim>
            <trim prefix="person_performance_rank_id=case" suffix="end,">
                <foreach collection="performancePercentageList" item="item" index="index">
                    <if test="item.personPerformanceRankId != null">
                        when performance_percentage_id=#{item.performancePercentageId} then
                        #{item.personPerformanceRankId}
                    </if>
                </foreach>
            </trim>
            <trim prefix="delete_flag=case" suffix="end,">
                <foreach collection="performancePercentageList" item="item" index="index">
                    <if test="item.deleteFlag != null">
                        when performance_percentage_id=#{item.performancePercentageId} then #{item.deleteFlag}
                    </if>
                </foreach>
            </trim>
            <trim prefix="create_by=case" suffix="end,">
                <foreach collection="performancePercentageList" item="item" index="index">
                    <if test="item.createBy != null">
                        when performance_percentage_id=#{item.performancePercentageId} then #{item.createBy}
                    </if>
                </foreach>
            </trim>
            <trim prefix="create_time=case" suffix="end,">
                <foreach collection="performancePercentageList" item="item" index="index">
                    <if test="item.createTime != null">
                        when performance_percentage_id=#{item.performancePercentageId} then #{item.createTime}
                    </if>
                </foreach>
            </trim>
            <trim prefix="update_by=case" suffix="end,">
                <foreach collection="performancePercentageList" item="item" index="index">
                    <if test="item.updateBy != null">
                        when performance_percentage_id=#{item.performancePercentageId} then #{item.updateBy}
                    </if>
                </foreach>
            </trim>
            <trim prefix="update_time=case" suffix="end,">
                <foreach collection="performancePercentageList" item="item" index="index">
                    <if test="item.updateTime != null">
                        when performance_percentage_id=#{item.performancePercentageId} then #{item.updateTime}
                    </if>
                </foreach>
            </trim>
        </trim>
        where
        <foreach collection="performancePercentageList" separator="or" item="item" index="index">
            performance_percentage_id=#{item.performancePercentageId}
        </foreach>
    </update>
</mapper>


