<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.qixiaowei.operate.cloud.mapper.performance.PerformanceAppraisalMapper">
    <!--    查询绩效考核表-->
    <select id="selectPerformanceAppraisalByPerformanceAppraisalId"
            resultType="net.qixiaowei.operate.cloud.api.dto.performance.PerformanceAppraisalDTO">
        SELECT
        performance_appraisal_id, performance_rank_id, performance_rank_name, appraisal_year, appraisal_name,
        cycle_flag, cycle_type, cycle_number, appraisal_start_date, appraisal_end_date, filing_date, appraisal_flow,
        appraisal_object, self_defined_columns_flag, appraisal_status, delete_flag, create_by, create_time, update_by,
        update_time
        FROM performance_appraisal
        WHERE performance_appraisal_id=#{performanceAppraisalId}
        and delete_flag=0
    </select>

    <!--    批量查询绩效考核表-->
    <select id="selectPerformanceAppraisalByPerformanceAppraisalIds"
            resultType="net.qixiaowei.operate.cloud.api.dto.performance.PerformanceAppraisalDTO">
        SELECT
        performance_appraisal_id, performance_rank_id, performance_rank_name, appraisal_year, appraisal_name,
        cycle_flag, cycle_type, cycle_number, appraisal_start_date, appraisal_end_date, filing_date, appraisal_flow,
        appraisal_object, self_defined_columns_flag, appraisal_status, delete_flag, create_by, create_time, update_by,
        update_time
        FROM performance_appraisal
        WHERE performance_appraisal_id in
        <foreach item="item"
                 collection="performanceAppraisalIds"
                 index="index" open="(" separator="," close=")">
            #{item}
        </foreach>
        and delete_flag=0
    </select>

    <!--    查询绩效考核表列表-->
    <select id="selectPerformanceAppraisalList"
            resultType="net.qixiaowei.operate.cloud.api.dto.performance.PerformanceAppraisalDTO">
        SELECT
        pa.performance_appraisal_id,
        pa.performance_rank_id,
        pa.performance_rank_name,
        pa.appraisal_year,
        pa.appraisal_name,
        pa.cycle_flag,
        pa.cycle_type,
        pa.cycle_number,
        pa.appraisal_start_date,
        pa.appraisal_end_date,
        pa.filing_date,
        pa.appraisal_flow,
        pa.appraisal_object,
        pa.self_defined_columns_flag,
        pa.appraisal_status,
        pa.delete_flag,
        pa.create_by,
        pa.create_time,
        pa.update_by,
        pa.update_time
        FROM performance_appraisal pa
        WHERE pa.delete_flag=0
        <if test="performanceAppraisal.performanceAppraisalId != null">
            and pa.performance_appraisal_id=#{performanceAppraisal.performanceAppraisalId}
        </if>
        <if test="performanceAppraisal.performanceRankId != null">
            and pa.performance_rank_id=#{performanceAppraisal.performanceRankId}
        </if>
        <if test="performanceAppraisal.performanceRankName != null and performanceAppraisal.performanceRankName != ''">
            and pa.performance_rank_name like concat('%', #{performanceAppraisal.performanceRankName}, '%')
        </if>
        <if test="performanceAppraisal.appraisalYear != null">
            and pa.appraisal_year=#{performanceAppraisal.appraisalYear}
        </if>
        <if test="performanceAppraisal.appraisalName != null and performanceAppraisal.appraisalName != ''">
            and pa.appraisal_name like concat('%', #{performanceAppraisal.appraisalName}, '%')
        </if>
        <if test="performanceAppraisal.cycleFlag != null">
            and pa.cycle_flag=#{performanceAppraisal.cycleFlag}
        </if>
        <if test="performanceAppraisal.cycleType != null">
            and pa.cycle_type=#{performanceAppraisal.cycleType}
        </if>
        <if test="performanceAppraisal.cycleNumber != null">
            and pa.cycle_number=#{performanceAppraisal.cycleNumber}
        </if>
        <if test="performanceAppraisal.appraisalStartDate != null">
            and pa.appraisal_start_date=#{performanceAppraisal.appraisalStartDate}
        </if>
        <if test="performanceAppraisal.appraisalEndDate != null">
            and pa.appraisal_end_date=#{performanceAppraisal.appraisalEndDate}
        </if>
        <if test="performanceAppraisal.filingDate != null">
            and pa.filing_date=#{performanceAppraisal.filingDate}
        </if>
        <if test="performanceAppraisal.appraisalFlow != null">
            and pa.appraisal_flow=#{performanceAppraisal.appraisalFlow}
        </if>
        <if test="performanceAppraisal.appraisalObject != null">
            and pa.appraisal_object=#{performanceAppraisal.appraisalObject}
        </if>
        <if test="performanceAppraisal.selfDefinedColumnsFlag != null">
            and pa.self_defined_columns_flag=#{performanceAppraisal.selfDefinedColumnsFlag}
        </if>
        <if test="performanceAppraisal.appraisalStatus != null">
            and pa.appraisal_status=#{performanceAppraisal.appraisalStatus}
        </if>
        <if test="performanceAppraisal.deleteFlag != null">
            and pa.delete_flag=#{performanceAppraisal.deleteFlag}
        </if>
        <if test="performanceAppraisal.createBy != null">
            and pa.create_by=#{performanceAppraisal.createBy}
        </if>
        <if test="performanceAppraisal.createTime != null">
            and pa.create_time=#{performanceAppraisal.createTime}
        </if>
        <if test="performanceAppraisal.updateBy != null">
            and pa.update_by=#{performanceAppraisal.updateBy}
        </if>
        <if test="performanceAppraisal.updateTime != null">
            and pa.update_time=#{performanceAppraisal.updateTime}
        </if>
        ORDER BY pa.appraisal_year,pa.cycle_number
    </select>
    <select id="selectRankFactorByAppraisalId"
            resultType="net.qixiaowei.operate.cloud.api.dto.performance.PerformanceRankFactorDTO">
        SELECT
        pa.performance_appraisal_id,
        pa.self_defined_columns_flag,
        pf.performance_rank_factor_id,
        pf.performance_rank_id,
        pf.performance_rank_name,
        pf.bonus_factor,
        pf.sort,
        pf.delete_flag,
        pf.create_by,
        pf.create_time,
        pf.update_by,
        pf.update_time
        FROM performance_appraisal pa
        LEFT JOIN performance_rank_factor pf
        ON pf.performance_rank_id = pa.performance_rank_id
        AND pf.delete_flag = 0
        WHERE
        pf.delete_flag = 0
        AND pa.performance_appraisal_id = #{appraisalId}
        ORDER BY pf.sort ASC
    </select>
    <select id="selectPerformanceAppraisalListByName"
            resultType="net.qixiaowei.operate.cloud.api.dto.performance.PerformanceAppraisalDTO">
        SELECT
        performance_appraisal_id, performance_rank_id, appraisal_year, appraisal_name, cycle_flag, cycle_type,
        cycle_number, appraisal_start_date, appraisal_end_date, filing_date, appraisal_flow, appraisal_object,
        self_defined_columns_flag, appraisal_status, delete_flag, create_by, create_time, update_by, update_time
        FROM performance_appraisal
        WHERE delete_flag=0
        AND appraisal_name = #{appraisalName}
    </select>
    <!--查询绩效考核表列表-组织-制定-->
    <select id="selectOrgAppraisalObjectList"
            resultType="net.qixiaowei.operate.cloud.api.dto.performance.PerformanceAppraisalObjectsDTO">
        SELECT
        pao.perform_appraisal_objects_id,
        pao.performance_appraisal_id,
        pao.appraisal_object_id,
        pao.appraisal_principal_id,
        IFNULL( pao.evaluation_score, 0.00 ) AS evaluation_score,
        pao.appraisal_result_id,
        pao.sort,
        pao.appraisal_object_status,
        pao.appraisal_principal_name,
        pao.create_by,
        pao.create_time,
        pao.update_by,
        pao.update_time,
        pas.appraisal_object_name,
        pas.appraisal_object_code,
        pas.department_id,
        pas.department_name,
        pas.post_id,
        pas.post_name,
        pas.official_rank_system_id,
        pas.official_rank,
        pas.official_rank_name,
        pa.appraisal_name,
        pa.appraisal_year,
        pa.cycle_type,
        pa.cycle_number,
        pa.appraisal_status,
        pas.appraisal_object_name,
        pao.appraisal_principal_name
        FROM
        performance_appraisal_objects pao
        LEFT JOIN perform_appraisal_object_snap pas ON pao.perform_appraisal_objects_id =
        pas.perform_appraisal_objects_id
        AND pas.delete_flag = 0
        LEFT JOIN performance_appraisal pa ON pa.performance_appraisal_id = pao.performance_appraisal_id
        AND pa.delete_flag = 0
        WHERE pao.delete_flag = 0
        <if test="performanceAppraisalObjectsDTO.appraisalName!=null and ''!= performanceAppraisalObjectsDTO.appraisalName">
            and pa.appraisal_name like concat('%', #{performanceAppraisalObjectsDTO.appraisalName}, '%')
        </if>
        <if test="performanceAppraisalObjectsDTO.appraisalYear!=null">
            and pa.appraisal_year=#{performanceAppraisalObjectsDTO.appraisalYear}
        </if>
        <if test="performanceAppraisalObjectsDTO.cycleType!=null">
            and pa.cycle_type=#{performanceAppraisalObjectsDTO.cycleType}
        </if>
        <if test="performanceAppraisalObjectsDTO.cycleNumber!=null">
            and pa.cycle_number=#{performanceAppraisalObjectsDTO.cycleNumber}
        </if>
        <if test="performanceAppraisalObjectsDTO.departmentName!=null and ''!= performanceAppraisalObjectsDTO.departmentName">
            and pas.department_name like concat('%', #{performanceAppraisalObjectsDTO.departmentName}, '%')
        </if>
        <if test="performanceAppraisalObjectsDTO.appraisalPrincipalName!=null and ''!= performanceAppraisalObjectsDTO.appraisalPrincipalName">
            and pao.appraisal_principal_name like concat('%', #{performanceAppraisalObjectsDTO.appraisalPrincipalName},
            '%')
        </if>
        AND pao.appraisal_object_status IN
        <foreach collection="performanceAppraisalObjectsDTO.appraisalObjectStatusList" item="item" index="index"
                 separator="," open="(" close=")">
            #{item}
        </foreach>
        AND pao.performance_appraisal_id IN
        <foreach collection="performanceAppraisalObjectsDTO.performanceAppraisalIds" item="item" index="index"
                 separator="," open="(" close=")">
            #{item}
        </foreach>
        ORDER BY
        pao.evaluation_score,
        pao.sort
    </select>
    <select id="selectOrgAppraisalObjectByObjectId"
            resultType="net.qixiaowei.operate.cloud.api.dto.performance.PerformanceAppraisalObjectsDTO">
        SELECT
        pao.perform_appraisal_objects_id,
        pao.performance_appraisal_id,
        pao.appraisal_object_id,
        pao.appraisal_principal_id,
        IFNULL( pao.evaluation_score, 0.00 ) AS evaluation_score,
        pao.appraisal_result_id,
        pao.sort,
        pao.appraisal_object_status,
        pao.appraisal_principal_name,
        pao.create_by,
        pao.create_time,
        pao.update_by,
        pao.update_time,
        pa.appraisal_name,
        pa.appraisal_year,
        pa.cycle_type,
        pa.cycle_number,
        pa.appraisal_status,
        pas.appraisal_object_name,
        pao.appraisal_principal_name
        FROM
        performance_appraisal_objects pao
        LEFT JOIN perform_appraisal_object_snap pas ON pao.perform_appraisal_objects_id =
        pas.perform_appraisal_objects_id
        AND pas.delete_flag = 0
        LEFT JOIN performance_appraisal pa ON pa.performance_appraisal_id = pao.performance_appraisal_id
        AND pa.delete_flag = 0
        WHERE pao.delete_flag = 0
        AND pao.perform_appraisal_objects_id = #{performAppraisalObjectsId}
        ORDER BY
        pao.evaluation_score,
        pao.sort
    </select>
    <!--新增绩效考核表-->
    <insert id="insertPerformanceAppraisal" useGeneratedKeys="true" keyProperty="performanceAppraisalId">
        INSERT INTO performance_appraisal
        (performance_rank_id,performance_rank_name,appraisal_year,appraisal_name,cycle_flag,cycle_type,cycle_number,appraisal_start_date,appraisal_end_date,filing_date,appraisal_flow,appraisal_object,self_defined_columns_flag,appraisal_status,delete_flag,create_by,create_time,update_by,update_time)
        VALUES
        (#{performanceAppraisal.performanceRankId},#{performanceAppraisal.performanceRankName},#{performanceAppraisal.appraisalYear},#{performanceAppraisal.appraisalName},#{performanceAppraisal.cycleFlag},#{performanceAppraisal.cycleType},#{performanceAppraisal.cycleNumber},#{performanceAppraisal.appraisalStartDate},#{performanceAppraisal.appraisalEndDate},#{performanceAppraisal.filingDate},#{performanceAppraisal.appraisalFlow},#{performanceAppraisal.appraisalObject},#{performanceAppraisal.selfDefinedColumnsFlag},#{performanceAppraisal.appraisalStatus},#{performanceAppraisal.deleteFlag},#{performanceAppraisal.createBy},#{performanceAppraisal.createTime},#{performanceAppraisal.updateBy},#{performanceAppraisal.updateTime})
    </insert>
    <!--修改绩效考核表-->
    <update id="updatePerformanceAppraisal">
        UPDATE performance_appraisal
        SET
        <if test="performanceAppraisal.performanceRankId != null">
            performance_rank_id=#{performanceAppraisal.performanceRankId},
        </if>
        <if test="performanceAppraisal.performanceRankName != null and performanceAppraisal.performanceRankName != ''">
            performance_rank_name=#{performanceAppraisal.performanceRankName},
        </if>
        <if test="performanceAppraisal.appraisalYear != null">
            appraisal_year=#{performanceAppraisal.appraisalYear},
        </if>
        <if test="performanceAppraisal.appraisalName != null and performanceAppraisal.appraisalName != ''">
            appraisal_name=#{performanceAppraisal.appraisalName},
        </if>
        <if test="performanceAppraisal.cycleFlag != null">
            cycle_flag=#{performanceAppraisal.cycleFlag},
        </if>
        <if test="performanceAppraisal.cycleType != null">
            cycle_type=#{performanceAppraisal.cycleType},
        </if>
        <if test="performanceAppraisal.cycleNumber != null">
            cycle_number=#{performanceAppraisal.cycleNumber},
        </if>
        <if test="performanceAppraisal.appraisalStartDate != null">
            appraisal_start_date=#{performanceAppraisal.appraisalStartDate},
        </if>
        <if test="performanceAppraisal.appraisalEndDate != null">
            appraisal_end_date=#{performanceAppraisal.appraisalEndDate},
        </if>
        <if test="performanceAppraisal.filingDate != null">
            filing_date=#{performanceAppraisal.filingDate},
        </if>
        <if test="performanceAppraisal.appraisalFlow != null">
            appraisal_flow=#{performanceAppraisal.appraisalFlow},
        </if>
        <if test="performanceAppraisal.appraisalObject != null">
            appraisal_object=#{performanceAppraisal.appraisalObject},
        </if>
        <if test="performanceAppraisal.selfDefinedColumnsFlag != null">
            self_defined_columns_flag=#{performanceAppraisal.selfDefinedColumnsFlag},
        </if>
        <if test="performanceAppraisal.appraisalStatus != null">
            appraisal_status=#{performanceAppraisal.appraisalStatus},
        </if>
        <if test="performanceAppraisal.deleteFlag != null">
            delete_flag=#{performanceAppraisal.deleteFlag},
        </if>
        <if test="performanceAppraisal.createBy != null">
            create_by=#{performanceAppraisal.createBy},
        </if>
        <if test="performanceAppraisal.createTime != null">
            create_time=#{performanceAppraisal.createTime},
        </if>
        <if test="performanceAppraisal.updateBy != null">
            update_by=#{performanceAppraisal.updateBy},
        </if>
        <if test="performanceAppraisal.updateTime != null">
            update_time=#{performanceAppraisal.updateTime}
        </if>
        WHERE
        performance_appraisal_id=#{performanceAppraisal.performanceAppraisalId}
    </update>
    <!--逻辑删除绩效考核表-->
    <update id="logicDeletePerformanceAppraisalByPerformanceAppraisalId">
        UPDATE performance_appraisal
        SET delete_flag= 1,
        update_by=#{performanceAppraisal.updateBy},
        update_time=#{performanceAppraisal.updateTime}
        WHERE
        performance_appraisal_id=#{performanceAppraisal.performanceAppraisalId}
    </update>
    <!--逻辑批量删除绩效考核表-->
    <update id="logicDeletePerformanceAppraisalByPerformanceAppraisalIds">
        UPDATE performance_appraisal
        SET delete_flag= 1,
        update_by=#{updateBy},
        update_time=#{updateTime}
        WHERE
        performance_appraisal_id IN
        <foreach item="item"
                 collection="performanceAppraisalIds"
                 index="index" open="(" separator="," close=")">
            #{item}
        </foreach>
    </update>
    <!--批量新增绩效考核表-->
    <insert id="batchPerformanceAppraisal">
        INSERT INTO performance_appraisal
        (performance_rank_id,performance_rank_name,appraisal_year,appraisal_name,cycle_flag,cycle_type,cycle_number,appraisal_start_date,appraisal_end_date,filing_date,appraisal_flow,appraisal_object,self_defined_columns_flag,appraisal_status,delete_flag,create_by,create_time,update_by,update_time)
        VALUES
        <foreach item="item" index="index"
                 collection="performanceAppraisals"
                 separator=",">
            (#{item.performanceRankId},#{item.performanceRankName},#{item.appraisalYear},#{item.appraisalName},#{item.cycleFlag},#{item.cycleType},#{item.cycleNumber},#{item.appraisalStartDate},#{item.appraisalEndDate},#{item.filingDate},#{item.appraisalFlow},#{item.appraisalObject},#{item.selfDefinedColumnsFlag},#{item.appraisalStatus},#{item.deleteFlag},#{item.createBy},#{item.createTime},#{item.updateBy},#{item.updateTime})
        </foreach>
    </insert>

    <!--物理删除绩效考核表-->
    <delete id="deletePerformanceAppraisalByPerformanceAppraisalId">
        DELETE FROM performance_appraisal
        WHERE performance_appraisal_id=#{performanceAppraisal}

    </delete>
    <!--物理批量删除绩效考核表-->
    <delete id="deletePerformanceAppraisalByPerformanceAppraisalIds">
        DELETE FROM performance_appraisal
        WHERE performance_appraisal_id IN
        <foreach item="item"
                 collection="performanceAppraisalIds"
                 index="index" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>
    <!--批量修改绩效考核表-->
    <update id="updatePerformanceAppraisals">
        update performance_appraisal
        <trim prefix="set" suffixOverrides=",">
            <trim prefix="performance_rank_id=case" suffix="end,">
                <foreach collection="performanceAppraisalList" item="item" index="index">
                    <if test="item.performanceRankId != null">
                        when performance_appraisal_id=#{item.performanceAppraisalId} then #{item.performanceRankId}
                    </if>
                </foreach>
            </trim>
            <trim prefix="performance_rank_name=case" suffix="end,">
                <foreach collection="performanceAppraisalList" item="item" index="index">
                    <if test="item.performanceRankName != null and item.performanceRankName != ''">
                        when performance_appraisal_id=#{item.performanceAppraisalId} then #{item.performanceRankName}
                    </if>
                </foreach>
            </trim>
            <trim prefix="appraisal_year=case" suffix="end,">
                <foreach collection="performanceAppraisalList" item="item" index="index">
                    <if test="item.appraisalYear != null">
                        when performance_appraisal_id=#{item.performanceAppraisalId} then #{item.appraisalYear}
                    </if>
                </foreach>
            </trim>
            <trim prefix="appraisal_name=case" suffix="end,">
                <foreach collection="performanceAppraisalList" item="item" index="index">
                    <if test="item.appraisalName != null and item.appraisalName != ''">
                        when performance_appraisal_id=#{item.performanceAppraisalId} then #{item.appraisalName}
                    </if>
                </foreach>
            </trim>
            <trim prefix="cycle_flag=case" suffix="end,">
                <foreach collection="performanceAppraisalList" item="item" index="index">
                    <if test="item.cycleFlag != null">
                        when performance_appraisal_id=#{item.performanceAppraisalId} then #{item.cycleFlag}
                    </if>
                </foreach>
            </trim>
            <trim prefix="cycle_type=case" suffix="end,">
                <foreach collection="performanceAppraisalList" item="item" index="index">
                    <if test="item.cycleType != null">
                        when performance_appraisal_id=#{item.performanceAppraisalId} then #{item.cycleType}
                    </if>
                </foreach>
            </trim>
            <trim prefix="cycle_number=case" suffix="end,">
                <foreach collection="performanceAppraisalList" item="item" index="index">
                    <if test="item.cycleNumber != null">
                        when performance_appraisal_id=#{item.performanceAppraisalId} then #{item.cycleNumber}
                    </if>
                </foreach>
            </trim>
            <trim prefix="appraisal_start_date=case" suffix="end,">
                <foreach collection="performanceAppraisalList" item="item" index="index">
                    <if test="item.appraisalStartDate != null">
                        when performance_appraisal_id=#{item.performanceAppraisalId} then #{item.appraisalStartDate}
                    </if>
                </foreach>
            </trim>
            <trim prefix="appraisal_end_date=case" suffix="end,">
                <foreach collection="performanceAppraisalList" item="item" index="index">
                    <if test="item.appraisalEndDate != null">
                        when performance_appraisal_id=#{item.performanceAppraisalId} then #{item.appraisalEndDate}
                    </if>
                </foreach>
            </trim>
            <trim prefix="filing_date=case" suffix="end,">
                <foreach collection="performanceAppraisalList" item="item" index="index">
                    <if test="item.filingDate != null">
                        when performance_appraisal_id=#{item.performanceAppraisalId} then #{item.filingDate}
                    </if>
                </foreach>
            </trim>
            <trim prefix="appraisal_flow=case" suffix="end,">
                <foreach collection="performanceAppraisalList" item="item" index="index">
                    <if test="item.appraisalFlow != null">
                        when performance_appraisal_id=#{item.performanceAppraisalId} then #{item.appraisalFlow}
                    </if>
                </foreach>
            </trim>
            <trim prefix="appraisal_object=case" suffix="end,">
                <foreach collection="performanceAppraisalList" item="item" index="index">
                    <if test="item.appraisalObject != null">
                        when performance_appraisal_id=#{item.performanceAppraisalId} then #{item.appraisalObject}
                    </if>
                </foreach>
            </trim>
            <trim prefix="self_defined_columns_flag=case" suffix="end,">
                <foreach collection="performanceAppraisalList" item="item" index="index">
                    <if test="item.selfDefinedColumnsFlag != null">
                        when performance_appraisal_id=#{item.performanceAppraisalId} then #{item.selfDefinedColumnsFlag}
                    </if>
                </foreach>
            </trim>
            <trim prefix="appraisal_status=case" suffix="end,">
                <foreach collection="performanceAppraisalList" item="item" index="index">
                    <if test="item.appraisalStatus != null">
                        when performance_appraisal_id=#{item.performanceAppraisalId} then #{item.appraisalStatus}
                    </if>
                </foreach>
            </trim>
            <trim prefix="delete_flag=case" suffix="end,">
                <foreach collection="performanceAppraisalList" item="item" index="index">
                    <if test="item.deleteFlag != null">
                        when performance_appraisal_id=#{item.performanceAppraisalId} then #{item.deleteFlag}
                    </if>
                </foreach>
            </trim>
            <trim prefix="create_by=case" suffix="end,">
                <foreach collection="performanceAppraisalList" item="item" index="index">
                    <if test="item.createBy != null">
                        when performance_appraisal_id=#{item.performanceAppraisalId} then #{item.createBy}
                    </if>
                </foreach>
            </trim>
            <trim prefix="create_time=case" suffix="end,">
                <foreach collection="performanceAppraisalList" item="item" index="index">
                    <if test="item.createTime != null">
                        when performance_appraisal_id=#{item.performanceAppraisalId} then #{item.createTime}
                    </if>
                </foreach>
            </trim>
            <trim prefix="update_by=case" suffix="end,">
                <foreach collection="performanceAppraisalList" item="item" index="index">
                    <if test="item.updateBy != null">
                        when performance_appraisal_id=#{item.performanceAppraisalId} then #{item.updateBy}
                    </if>
                </foreach>
            </trim>
            <trim prefix="update_time=case" suffix="end,">
                <foreach collection="performanceAppraisalList" item="item" index="index">
                    <if test="item.updateTime != null">
                        when performance_appraisal_id=#{item.performanceAppraisalId} then #{item.updateTime}
                    </if>
                </foreach>
            </trim>
        </trim>
        where
        <foreach collection="performanceAppraisalList" separator="or" item="item" index="index">
            performance_appraisal_id=#{item.performanceAppraisalId}
        </foreach>
    </update>
</mapper>


