<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.qixiaowei.operate.cloud.mapper.performance.PerformanceRankMapper">
    <!--    查询绩效等级表-->
    <select id="selectPerformanceRankByPerformanceRankId"
            resultType="net.qixiaowei.operate.cloud.api.dto.performance.PerformanceRankDTO">
        SELECT
        performance_rank_id, performance_rank_category, performance_rank_name, performance_rank_description,
        delete_flag, create_by, create_time, update_by, update_time
        FROM performance_rank
        WHERE performance_rank_id=#{performanceRankId}
        and delete_flag=0
    </select>

    <!--    查询绩效等级表列表-->
    <select id="selectPerformanceRankList"
            resultType="net.qixiaowei.operate.cloud.api.dto.performance.PerformanceRankDTO">
        SELECT
        pr.performance_rank_id, pr.performance_rank_category, pr.performance_rank_name, pr.performance_rank_description,
        pr.delete_flag, pr.create_by, pr.create_time, pr.update_by, pr.update_time
        FROM performance_rank pr
        WHERE pr.delete_flag=0
        <if test="performanceRank.performanceRankId != null">
            and pr.performance_rank_id=#{performanceRank.performanceRankId}
        </if>
        <if test="performanceRank.performanceRankCategory != null">
            and pr.performance_rank_category=#{performanceRank.performanceRankCategory}
        </if>
        <if test="performanceRank.performanceRankName != null and performanceRank.performanceRankName != ''">
            and pr.performance_rank_name=#{performanceRank.performanceRankName}
        </if>
        <if test="performanceRank.performanceRankDescription != null and performanceRank.performanceRankDescription != ''">
            and pr.performance_rank_description=#{performanceRank.performanceRankDescription}
        </if>
        <if test="performanceRank.deleteFlag != null">
            and pr.delete_flag=#{performanceRank.deleteFlag}
        </if>
        <if test="performanceRank.createBy != null">
            and pr.create_by=#{performanceRank.createBy}
        </if>
        <if test="performanceRank.createTime != null">
            and pr.create_time=#{performanceRank.createTime}
        </if>
        <if test="performanceRank.updateBy != null">
            and pr.update_by=#{performanceRank.updateBy}
        </if>
        <if test="performanceRank.updateTime != null">
            and pr.update_time=#{performanceRank.updateTime}
        </if>
        <!-- 数据范围过滤 -->
        ${performanceRank.params.dataScope}
        ORDER BY pr.create_time DESC
    </select>
    <!--绩效等级名称重复校验-->
    <select id="checkUniqueName" resultType="java.lang.Integer">
        SELECT COUNT(performance_rank_name) FROM performance_rank
        WHERE performance_rank_name = #{performanceRankName}
        AND performance_rank_category = #{performanceRankCategory}
        AND delete_flag = 0
    </select>
    <!--查询与绩效等级关联的绩效等级系数Ids-->
    <select id="selectPerformanceRankFactorIds" resultType="java.lang.Long">
        SELECT performance_rank_factor_id FROM performance_rank_factor WHERE performance_rank_id IN
        <foreach collection="performanceRankIds" index="index" item="item" open="(" close=")" separator=",">
            #{item}
        </foreach>
        AND delete_flag = 0
    </select>
    <select id="isExist"
            resultType="net.qixiaowei.operate.cloud.api.dto.performance.PerformanceRankDTO">
        SELECT
        performance_rank_id, performance_rank_category, performance_rank_name, performance_rank_description,
        delete_flag, create_by, create_time, update_by, update_time
        FROM performance_rank
        WHERE delete_flag=0
        AND performance_rank_id IN
        <foreach collection="performanceRankIds" index="index" item="item" open="(" close=")" separator=",">
            #{item}
        </foreach>
    </select>
    <!--获取组织绩效等级体系表-->
    <select id="selectOrganizeDto"
            resultType="net.qixiaowei.operate.cloud.api.domain.performance.PerformanceRank">
        SELECT
        performance_rank_id,performance_rank_name,performance_rank_category,performance_rank_description,create_by,create_time,update_by,update_time
        FROM performance_rank
        WHERE delete_flag = 0 AND performance_rank_category = 1
    </select>
    <!--获取个人绩效等级体系表-->
    <select id="selectPersonDto"
            resultType="net.qixiaowei.operate.cloud.api.domain.performance.PerformanceRank">
        SELECT
        performance_rank_id,performance_rank_name,performance_rank_category,performance_rank_description,create_by,create_time,update_by,update_time
        FROM performance_rank
        WHERE delete_flag = 0 AND performance_rank_category = 2
    </select>
    <!--通过ids查找绩效等级列表-->
    <select id="selectPerformanceRank"
            resultType="net.qixiaowei.operate.cloud.api.domain.performance.PerformanceRank">
        SELECT performance_rank_id,performance_rank_name FROM performance_rank
        WHERE delete_flag = 0 AND performance_rank_id IN
        <foreach collection="orgPerformanceRankIds" item="item" index="index"
                 open="(" close=")" separator=",">
            #{item}
        </foreach>
    </select>
    <!--新增绩效等级表-->
    <insert id="insertPerformanceRank" useGeneratedKeys="true" keyProperty="performanceRankId">
        INSERT INTO performance_rank
        (performance_rank_category,performance_rank_name,performance_rank_description,delete_flag,create_by,create_time,update_by,update_time)
        VALUES
        (#{performanceRank.performanceRankCategory},#{performanceRank.performanceRankName},#{performanceRank.performanceRankDescription},#{performanceRank.deleteFlag},#{performanceRank.createBy},#{performanceRank.createTime},#{performanceRank.updateBy},#{performanceRank.updateTime})
    </insert>
    <!--修改绩效等级表-->
    <update id="updatePerformanceRank">
        UPDATE performance_rank
        SET
        <if test="performanceRank.performanceRankCategory != null">
            performance_rank_category=#{performanceRank.performanceRankCategory},
        </if>
        <if test="performanceRank.performanceRankName != null and performanceRank.performanceRankName != ''">
            performance_rank_name=#{performanceRank.performanceRankName},
        </if>
        <if test="performanceRank.performanceRankDescription != null and performanceRank.performanceRankDescription != ''">
            performance_rank_description=#{performanceRank.performanceRankDescription},
        </if>
        <if test="performanceRank.deleteFlag != null">
            delete_flag=#{performanceRank.deleteFlag},
        </if>
        <if test="performanceRank.createBy != null">
            create_by=#{performanceRank.createBy},
        </if>
        <if test="performanceRank.createTime != null">
            create_time=#{performanceRank.createTime},
        </if>
        <if test="performanceRank.updateBy != null">
            update_by=#{performanceRank.updateBy},
        </if>
        <if test="performanceRank.updateTime != null">
            update_time=#{performanceRank.updateTime}
        </if>
        WHERE
        performance_rank_id=#{performanceRank.performanceRankId}
        AND delete_flag = 0
    </update>
    <!--逻辑删除绩效等级表-->
    <update id="logicDeletePerformanceRankByPerformanceRankId">
        UPDATE performance_rank
        SET delete_flag= 1,
        update_by=#{performanceRank.updateBy},
        update_time=#{performanceRank.updateTime}
        WHERE
        performance_rank_id=#{performanceRank.performanceRankId}
    </update>
    <!--逻辑批量删除绩效等级表-->
    <update id="logicDeletePerformanceRankByPerformanceRankIds">
        UPDATE performance_rank
        SET delete_flag= 1,
        update_by=#{updateBy},
        update_time=#{updateTime}
        WHERE
        performance_rank_id IN
        <foreach item="item"
                 collection="performanceRankIds"
                 index="index" open="(" separator="," close=")">
            #{item}
        </foreach>
    </update>
    <!--批量新增绩效等级表-->
    <insert id="batchPerformanceRank">
        INSERT INTO performance_rank
        (performance_rank_category,performance_rank_name,performance_rank_description,delete_flag,create_by,create_time,update_by,update_time)
        VALUES
        <foreach item="item" index="index"
                 collection="performanceRanks"
                 separator=",">
            (#{item.performanceRankCategory},#{item.performanceRankName},#{item.performanceRankDescription},#{item.deleteFlag},#{item.createBy},#{item.createTime},#{item.updateBy},#{item.updateTime})
        </foreach>
    </insert>

    <!--物理删除绩效等级表-->
    <delete id="deletePerformanceRankByPerformanceRankId">
        DELETE FROM performance_rank
        WHERE performance_rank_id=#{performanceRank}

    </delete>
    <!--物理批量删除绩效等级表-->
    <delete id="deletePerformanceRankByPerformanceRankIds">
        DELETE FROM performance_rank
        WHERE performance_rank_id IN
        <foreach item="item"
                 collection="performanceRankIds"
                 index="index" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>
    <!--批量修改绩效等级表-->
    <update id="updatePerformanceRanks">
        update performance_rank
        <trim prefix="set" suffixOverrides=",">
            <trim prefix="performance_rank_id=case" suffix="end,">
            </trim>
            <trim prefix="performance_rank_category=case" suffix="end,">
                <foreach collection="performanceRankList" item="item" index="index">
                    <if test="item.performanceRankCategory != null">
                        when performance_rank_id=#{item.performanceRankId} then #{item.performanceRankCategory}
                    </if>
                </foreach>
            </trim>
            <trim prefix="performance_rank_name=case" suffix="end,">
                <foreach collection="performanceRankList" item="item" index="index">
                    <if test="item.performanceRankName != null and item.performanceRankName != ''">
                        when performance_rank_id=#{item.performanceRankId} then #{item.performanceRankName}
                    </if>
                </foreach>
            </trim>
            <trim prefix="performance_rank_description=case" suffix="end,">
                <foreach collection="performanceRankList" item="item" index="index">
                    <if test="item.performanceRankDescription != null and item.performanceRankDescription != ''">
                        when performance_rank_id=#{item.performanceRankId} then #{item.performanceRankDescription}
                    </if>
                </foreach>
            </trim>
            <trim prefix="delete_flag=case" suffix="end,">
                <foreach collection="performanceRankList" item="item" index="index">
                    <if test="item.deleteFlag != null">
                        when performance_rank_id=#{item.performanceRankId} then #{item.deleteFlag}
                    </if>
                </foreach>
            </trim>
            <trim prefix="create_by=case" suffix="end,">
                <foreach collection="performanceRankList" item="item" index="index">
                    <if test="item.createBy != null">
                        when performance_rank_id=#{item.performanceRankId} then #{item.createBy}
                    </if>
                </foreach>
            </trim>
            <trim prefix="create_time=case" suffix="end,">
                <foreach collection="performanceRankList" item="item" index="index">
                    <if test="item.createTime != null">
                        when performance_rank_id=#{item.performanceRankId} then #{item.createTime}
                    </if>
                </foreach>
            </trim>
            <trim prefix="update_by=case" suffix="end,">
                <foreach collection="performanceRankList" item="item" index="index">
                    <if test="item.updateBy != null">
                        when performance_rank_id=#{item.performanceRankId} then #{item.updateBy}
                    </if>
                </foreach>
            </trim>
            <trim prefix="update_time=case" suffix="end,">
                <foreach collection="performanceRankList" item="item" index="index">
                    <if test="item.updateTime != null">
                        when performance_rank_id=#{item.performanceRankId} then #{item.updateTime}
                    </if>
                </foreach>
            </trim>
        </trim>
        where
        <foreach collection="performanceRankList" separator="or" item="item" index="index">
            performance_rank_id=#{item.performanceRankId}
        </foreach>
        AND delete_flag = 0
    </update>
</mapper>


