<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.qixiaowei.strategy.cloud.mapper.strategyDecode.StrategyMeasureDetailMapper">
    <!--    查询战略举措清单详情表-->
    <select id="selectStrategyMeasureDetailByStrategyMeasureDetailId"
            resultType="net.qixiaowei.strategy.cloud.api.dto.strategyDecode.StrategyMeasureDetailDTO">
        SELECT
        strategy_measure_detail_id,strategy_measure_id,strategy_index_dimension_id,serial_number,strategy_measure_name,strategy_measure_source,sort,delete_flag,create_by,create_time,update_by,update_time
        FROM strategy_measure_detail
        WHERE strategy_measure_detail_id=#{strategyMeasureDetailId}
        and delete_flag=0
    </select>

    <!--    批量查询战略举措清单详情表-->
    <select id="selectStrategyMeasureDetailByStrategyMeasureDetailIds"
            resultType="net.qixiaowei.strategy.cloud.api.dto.strategyDecode.StrategyMeasureDetailDTO">
        SELECT
        strategy_measure_detail_id,strategy_measure_id,strategy_index_dimension_id,serial_number,strategy_measure_name,strategy_measure_source,sort,delete_flag,create_by,create_time,update_by,update_time
        FROM strategy_measure_detail
        WHERE strategy_measure_detail_id in
        <foreach item="item"
                 collection="strategyMeasureDetailIds"
                 index="index" open="(" separator="," close=")">
            #{item}
        </foreach>
        and delete_flag=0
    </select>

    <!--    查询战略举措清单详情表列表-->
    <select id="selectStrategyMeasureDetailList"
            resultType="net.qixiaowei.strategy.cloud.api.dto.strategyDecode.StrategyMeasureDetailDTO">
        SELECT
        strategy_measure_detail_id,strategy_measure_id,strategy_index_dimension_id,serial_number,strategy_measure_name,strategy_measure_source,sort,delete_flag,create_by,create_time,update_by,update_time
        FROM strategy_measure_detail
        WHERE delete_flag=0
        <if test="strategyMeasureDetail.strategyMeasureDetailId != null">
            and strategy_measure_detail_id=#{strategyMeasureDetail.strategyMeasureDetailId}
        </if>
        <if test="strategyMeasureDetail.strategyMeasureId != null">
            and strategy_measure_id=#{strategyMeasureDetail.strategyMeasureId}
        </if>
        <if test="strategyMeasureDetail.strategyIndexDimensionId != null">
            and strategy_index_dimension_id=#{strategyMeasureDetail.strategyIndexDimensionId}
        </if>
        <if test="strategyMeasureDetail.serialNumber != null">
            and serial_number=#{strategyMeasureDetail.serialNumber}
        </if>
        <if test="strategyMeasureDetail.strategyMeasureName != null and strategyMeasureDetail.strategyMeasureName != ''">
            and strategy_measure_name=#{strategyMeasureDetail.strategyMeasureName}
        </if>
        <if test="strategyMeasureDetail.strategyMeasureSource != null">
            and strategy_measure_source=#{strategyMeasureDetail.strategyMeasureSource}
        </if>
        <if test="strategyMeasureDetail.sort != null">
            and sort=#{strategyMeasureDetail.sort}
        </if>
        <if test="strategyMeasureDetail.deleteFlag != null">
            and delete_flag=#{strategyMeasureDetail.deleteFlag}
        </if>
        <if test="strategyMeasureDetail.createBy != null">
            and create_by=#{strategyMeasureDetail.createBy}
        </if>
        <if test="strategyMeasureDetail.createTime != null">
            and create_time=#{strategyMeasureDetail.createTime}
        </if>
        <if test="strategyMeasureDetail.updateBy != null">
            and update_by=#{strategyMeasureDetail.updateBy}
        </if>
        <if test="strategyMeasureDetail.updateTime != null">
            and update_time=#{strategyMeasureDetail.updateTime}
        </if>
    </select>
    <!--根据战略举措id查询战略举措清单详情表-->
    <select id="selectStrategyMeasureDetailVOByStrategyMeasureId"
            resultType="net.qixiaowei.strategy.cloud.api.vo.strategyDecode.StrategyMeasureDetailVO">
        SELECT
        smt.strategy_measure_id,
        smt.strategy_measure_task_id,
        smd.strategy_measure_detail_id,
        smd.serial_number,
        smd.strategy_index_dimension_id,
        sid.index_dimension_name,
        IFNULL( sid.index_dimension_code, '' ) AS index_dimension_code,
        CONCAT( sid.index_dimension_code, smd.serial_number ) AS serial_number_name,
        smd.sort,
        smd.strategy_measure_name,
        smd.strategy_measure_source,
        smt.key_task,
        smt.close_standard,
        smt.duty_department_id,
        smt.duty_employee_id,
        smt.duty_employee_name,
        smt.duty_employee_code,
        smt.sort AS task_sort
        FROM
        strategy_measure_detail smd
        LEFT JOIN strategy_measure_task smt ON smd.strategy_measure_detail_id = smt.strategy_measure_detail_id
        AND smd.delete_flag = 0
        LEFT JOIN strategy_index_dimension sid ON sid.strategy_index_dimension_id = smd.strategy_index_dimension_id
        AND sid.delete_flag = 0
        WHERE
        smt.delete_flag = 0
        AND smt.strategy_measure_id = #{strategyMeasureId}
        ORDER BY
        smd.sort,
        smd.serial_number,
        smt.sort ASC
    </select>
    <!--根据战略清单ID查找详情-->
    <select id="selectStrategyMeasureDetailByStrategyMeasureId"
            resultType="net.qixiaowei.strategy.cloud.api.dto.strategyDecode.StrategyMeasureDetailDTO">
        SELECT
        strategy_measure_detail_id,strategy_measure_id,strategy_index_dimension_id,serial_number,strategy_measure_name,strategy_measure_source,sort,delete_flag,create_by,create_time,update_by,update_time
        FROM strategy_measure_detail
        WHERE delete_flag=0
        AND strategy_measure_id = #{strategyMeasureId}
    </select>
    <!--根据举措ID集合查找详情-->
    <select id="selectStrategyMeasureDetailByStrategyMeasureIds"
            resultType="net.qixiaowei.strategy.cloud.api.dto.strategyDecode.StrategyMeasureDetailDTO">
        SELECT
        strategy_measure_detail_id,strategy_measure_id,strategy_index_dimension_id,serial_number,strategy_measure_name,strategy_measure_source,sort,delete_flag,create_by,create_time,update_by,update_time
        FROM strategy_measure_detail
        WHERE delete_flag=0
        AND strategy_measure_id
        IN
        <foreach collection="strategyMeasureIds" index="index" item="item" separator="," open="(" close=")">
            #{item}
        </foreach>
    </select>
    <!--新增战略举措清单详情表-->
    <insert id="insertStrategyMeasureDetail" useGeneratedKeys="true" keyProperty="strategyMeasureDetailId">
        INSERT INTO strategy_measure_detail
        (strategy_measure_id,strategy_index_dimension_id,serial_number,strategy_measure_name,strategy_measure_source,sort,delete_flag,create_by,create_time,update_by,update_time)
        VALUES
        (#{strategyMeasureDetail.strategyMeasureId},#{strategyMeasureDetail.strategyIndexDimensionId},#{strategyMeasureDetail.serialNumber},#{strategyMeasureDetail.strategyMeasureName},#{strategyMeasureDetail.strategyMeasureSource},#{strategyMeasureDetail.sort},#{strategyMeasureDetail.deleteFlag},#{strategyMeasureDetail.createBy},#{strategyMeasureDetail.createTime},#{strategyMeasureDetail.updateBy},#{strategyMeasureDetail.updateTime})
    </insert>
    <!--修改战略举措清单详情表-->
    <update id="updateStrategyMeasureDetail">
        UPDATE strategy_measure_detail
        SET
        <if test="strategyMeasureDetail.strategyMeasureId != null">
            strategy_measure_id=#{strategyMeasureDetail.strategyMeasureId},
        </if>
        <if test="strategyMeasureDetail.strategyIndexDimensionId != null">
            strategy_index_dimension_id=#{strategyMeasureDetail.strategyIndexDimensionId},
        </if>
        <if test="strategyMeasureDetail.serialNumber != null">
            serial_number=#{strategyMeasureDetail.serialNumber},
        </if>
        <if test="strategyMeasureDetail.strategyMeasureName != null and strategyMeasureDetail.strategyMeasureName != ''">
            strategy_measure_name=#{strategyMeasureDetail.strategyMeasureName},
        </if>
        <if test="strategyMeasureDetail.strategyMeasureSource != null">
            strategy_measure_source=#{strategyMeasureDetail.strategyMeasureSource},
        </if>
        <if test="strategyMeasureDetail.sort != null">
            sort=#{strategyMeasureDetail.sort},
        </if>
        <if test="strategyMeasureDetail.deleteFlag != null">
            delete_flag=#{strategyMeasureDetail.deleteFlag},
        </if>
        <if test="strategyMeasureDetail.createBy != null">
            create_by=#{strategyMeasureDetail.createBy},
        </if>
        <if test="strategyMeasureDetail.createTime != null">
            create_time=#{strategyMeasureDetail.createTime},
        </if>
        <if test="strategyMeasureDetail.updateBy != null">
            update_by=#{strategyMeasureDetail.updateBy},
        </if>
        <if test="strategyMeasureDetail.updateTime != null">
            update_time=#{strategyMeasureDetail.updateTime}
        </if>
        WHERE
        strategy_measure_detail_id=#{strategyMeasureDetail.strategyMeasureDetailId}
    </update>
    <!--逻辑删除战略举措清单详情表-->
    <update id="logicDeleteStrategyMeasureDetailByStrategyMeasureDetailId">
        UPDATE strategy_measure_detail
        SET delete_flag= 1,
        update_by=#{strategyMeasureDetail.updateBy},
        update_time=#{strategyMeasureDetail.updateTime}
        WHERE
        strategy_measure_detail_id=#{strategyMeasureDetail.strategyMeasureDetailId}
    </update>
    <!--逻辑批量删除战略举措清单详情表-->
    <update id="logicDeleteStrategyMeasureDetailByStrategyMeasureDetailIds">
        UPDATE strategy_measure_detail
        SET delete_flag= 1,
        update_by=#{updateBy},
        update_time=#{updateTime}
        WHERE
        strategy_measure_detail_id IN
        <foreach item="item"
                 collection="strategyMeasureDetailIds"
                 index="index" open="(" separator="," close=")">
            #{item}
        </foreach>
    </update>
    <!--批量新增战略举措清单详情表-->
    <insert id="batchStrategyMeasureDetail" useGeneratedKeys="true" keyProperty="strategyMeasureDetailId">
        INSERT INTO strategy_measure_detail
        (strategy_measure_id,strategy_index_dimension_id,serial_number,strategy_measure_name,strategy_measure_source,sort,delete_flag,create_by,create_time,update_by,update_time)
        VALUES
        <foreach item="item" index="index"
                 collection="strategyMeasureDetails"
                 separator=",">
            (#{item.strategyMeasureId},#{item.strategyIndexDimensionId},#{item.serialNumber},#{item.strategyMeasureName},#{item.strategyMeasureSource},#{item.sort},#{item.deleteFlag},#{item.createBy},#{item.createTime},#{item.updateBy},#{item.updateTime})
        </foreach>
    </insert>

    <!--物理删除战略举措清单详情表-->
    <delete id="deleteStrategyMeasureDetailByStrategyMeasureDetailId">
        DELETE FROM strategy_measure_detail
        WHERE strategy_measure_detail_id=#{strategyMeasureDetail}

    </delete>
    <!--物理批量删除战略举措清单详情表-->
    <delete id="deleteStrategyMeasureDetailByStrategyMeasureDetailIds">
        DELETE FROM strategy_measure_detail
        WHERE strategy_measure_detail_id IN
        <foreach item="item"
                 collection="strategyMeasureDetailIds"
                 index="index" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>
    <!--批量修改战略举措清单详情表-->
    <update id="updateStrategyMeasureDetails">
        update strategy_measure_detail
        <trim prefix="set" suffixOverrides=",">
            <trim prefix="strategy_measure_id=case" suffix="end,">
                <foreach collection="strategyMeasureDetailList" item="item" index="index">
                    <if test="item.strategyMeasureId != null">
                        when strategy_measure_detail_id=#{item.strategyMeasureDetailId} then #{item.strategyMeasureId}
                    </if>
                </foreach>
            </trim>
            <trim prefix="strategy_index_dimension_id=case" suffix="end,">
                <foreach collection="strategyMeasureDetailList" item="item" index="index">
                    <if test="item.strategyIndexDimensionId != null">
                        when strategy_measure_detail_id=#{item.strategyMeasureDetailId} then
                        #{item.strategyIndexDimensionId}
                    </if>
                </foreach>
            </trim>
            <trim prefix="serial_number=case" suffix="end,">
                <foreach collection="strategyMeasureDetailList" item="item" index="index">
                    <if test="item.serialNumber != null">
                        when strategy_measure_detail_id=#{item.strategyMeasureDetailId} then #{item.serialNumber}
                    </if>
                </foreach>
            </trim>
            <trim prefix="strategy_measure_name=case" suffix="end,">
                <foreach collection="strategyMeasureDetailList" item="item" index="index">
                    <if test="item.strategyMeasureName != null and item.strategyMeasureName != ''">
                        when strategy_measure_detail_id=#{item.strategyMeasureDetailId} then #{item.strategyMeasureName}
                    </if>
                </foreach>
            </trim>
            <trim prefix="strategy_measure_source=case" suffix="end,">
                <foreach collection="strategyMeasureDetailList" item="item" index="index">
                    <if test="item.strategyMeasureSource != null">
                        when strategy_measure_detail_id=#{item.strategyMeasureDetailId} then
                        #{item.strategyMeasureSource}
                    </if>
                </foreach>
            </trim>
            <trim prefix="sort=case" suffix="end,">
                <foreach collection="strategyMeasureDetailList" item="item" index="index">
                    <if test="item.sort != null">
                        when strategy_measure_detail_id=#{item.strategyMeasureDetailId} then #{item.sort}
                    </if>
                </foreach>
            </trim>
            <trim prefix="delete_flag=case" suffix="end,">
                <foreach collection="strategyMeasureDetailList" item="item" index="index">
                    <if test="item.deleteFlag != null">
                        when strategy_measure_detail_id=#{item.strategyMeasureDetailId} then #{item.deleteFlag}
                    </if>
                </foreach>
            </trim>
            <trim prefix="create_by=case" suffix="end,">
                <foreach collection="strategyMeasureDetailList" item="item" index="index">
                    <if test="item.createBy != null">
                        when strategy_measure_detail_id=#{item.strategyMeasureDetailId} then #{item.createBy}
                    </if>
                </foreach>
            </trim>
            <trim prefix="create_time=case" suffix="end,">
                <foreach collection="strategyMeasureDetailList" item="item" index="index">
                    <if test="item.createTime != null">
                        when strategy_measure_detail_id=#{item.strategyMeasureDetailId} then #{item.createTime}
                    </if>
                </foreach>
            </trim>
            <trim prefix="update_by=case" suffix="end,">
                <foreach collection="strategyMeasureDetailList" item="item" index="index">
                    <if test="item.updateBy != null">
                        when strategy_measure_detail_id=#{item.strategyMeasureDetailId} then #{item.updateBy}
                    </if>
                </foreach>
            </trim>
            <trim prefix="update_time=case" suffix="end,">
                <foreach collection="strategyMeasureDetailList" item="item" index="index">
                    <if test="item.updateTime != null">
                        when strategy_measure_detail_id=#{item.strategyMeasureDetailId} then #{item.updateTime}
                    </if>
                </foreach>
            </trim>
        </trim>
        where
        <foreach collection="strategyMeasureDetailList" separator="or" item="item" index="index">
            strategy_measure_detail_id=#{item.strategyMeasureDetailId}
        </foreach>
    </update>
</mapper>


