<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.qixiaowei.operate.cloud.mapper.salary.DeptAnnualBonusOperateMapper">
    <!--    查询部门年终奖经营绩效结果表-->
    <select id="selectDeptAnnualBonusOperateByDeptAnnualBonusOperateId"
            resultType="net.qixiaowei.operate.cloud.api.dto.salary.DeptAnnualBonusOperateDTO">
        SELECT
        dept_annual_bonus_operate_id,dept_annual_bonus_id,indicator_id,indicator_name,target_value,actual_value,delete_flag,create_by,create_time,update_by,update_time
        FROM dept_annual_bonus_operate
        WHERE  dept_annual_bonus_operate_id=#{deptAnnualBonusOperateId}
        and delete_flag=0
    </select>

    <!--    批量查询部门年终奖经营绩效结果表-->
    <select id="selectDeptAnnualBonusOperateByDeptAnnualBonusOperateIds"
            resultType="net.qixiaowei.operate.cloud.api.dto.salary.DeptAnnualBonusOperateDTO">
        SELECT
        dept_annual_bonus_operate_id,dept_annual_bonus_id,indicator_id,indicator_name,target_value,actual_value,delete_flag,create_by,create_time,update_by,update_time
        FROM dept_annual_bonus_operate
        WHERE  dept_annual_bonus_operate_id in
            <foreach item="item"
                     collection="deptAnnualBonusOperateIds"
                     index="index" open="(" separator="," close=")">
                #{item}
            </foreach>
        and delete_flag=0
    </select>

    <!--    查询部门年终奖经营绩效结果表列表-->
    <select id="selectDeptAnnualBonusOperateList" resultType="net.qixiaowei.operate.cloud.api.dto.salary.DeptAnnualBonusOperateDTO">
        SELECT
        dept_annual_bonus_operate_id,dept_annual_bonus_id,indicator_id,indicator_name,target_value,actual_value,delete_flag,create_by,create_time,update_by,update_time
        FROM dept_annual_bonus_operate
        WHERE delete_flag=0
                        <if test="deptAnnualBonusOperate.deptAnnualBonusOperateId != null">
                            and dept_annual_bonus_operate_id=#{deptAnnualBonusOperate.deptAnnualBonusOperateId}
                        </if>
                        <if test="deptAnnualBonusOperate.deptAnnualBonusId != null">
                            and dept_annual_bonus_id=#{deptAnnualBonusOperate.deptAnnualBonusId}
                        </if>
                        <if test="deptAnnualBonusOperate.indicatorId != null">
                            and indicator_id=#{deptAnnualBonusOperate.indicatorId}
                        </if>
                        <if test="deptAnnualBonusOperate.indicatorName != null and deptAnnualBonusOperate.indicatorName != ''">
                            and indicator_name=#{deptAnnualBonusOperate.indicatorName}
                        </if>
                        <if test="deptAnnualBonusOperate.targetValue != null">
                            and target_value=#{deptAnnualBonusOperate.targetValue}
                        </if>
                        <if test="deptAnnualBonusOperate.actualValue != null">
                            and actual_value=#{deptAnnualBonusOperate.actualValue}
                        </if>
                        <if test="deptAnnualBonusOperate.deleteFlag != null">
                            and delete_flag=#{deptAnnualBonusOperate.deleteFlag}
                        </if>
                        <if test="deptAnnualBonusOperate.createBy != null">
                            and create_by=#{deptAnnualBonusOperate.createBy}
                        </if>
                        <if test="deptAnnualBonusOperate.createTime != null">
                            and create_time=#{deptAnnualBonusOperate.createTime}
                        </if>
                        <if test="deptAnnualBonusOperate.updateBy != null">
                            and update_by=#{deptAnnualBonusOperate.updateBy}
                        </if>
                        <if test="deptAnnualBonusOperate.updateTime != null">
                            and update_time=#{deptAnnualBonusOperate.updateTime}
                        </if>
    </select>
    <!--新增部门年终奖经营绩效结果表-->
    <insert id="insertDeptAnnualBonusOperate" useGeneratedKeys="true" keyProperty="deptAnnualBonusOperateId">
        INSERT INTO dept_annual_bonus_operate (dept_annual_bonus_operate_id,dept_annual_bonus_id,indicator_id,indicator_name,target_value,actual_value,delete_flag,create_by,create_time,update_by,update_time)
        VALUES
        (#{deptAnnualBonusOperate.deptAnnualBonusId},#{deptAnnualBonusOperate.indicatorId},#{deptAnnualBonusOperate.indicatorName},#{deptAnnualBonusOperate.targetValue},#{deptAnnualBonusOperate.actualValue},#{deptAnnualBonusOperate.deleteFlag},#{deptAnnualBonusOperate.createBy},#{deptAnnualBonusOperate.createTime},#{deptAnnualBonusOperate.updateBy},#{deptAnnualBonusOperate.updateTime})
    </insert>
    <!--修改部门年终奖经营绩效结果表-->
    <update id="updateDeptAnnualBonusOperate">
        UPDATE dept_annual_bonus_operate
        SET
                    <if test="deptAnnualBonusOperate.deptAnnualBonusId != null">
                        dept_annual_bonus_id=#{deptAnnualBonusOperate.deptAnnualBonusId},
                    </if>
                    <if test="deptAnnualBonusOperate.indicatorId != null">
                        indicator_id=#{deptAnnualBonusOperate.indicatorId},
                    </if>
                    <if test="deptAnnualBonusOperate.indicatorName != null and deptAnnualBonusOperate.indicatorName != ''">
                        indicator_name=#{deptAnnualBonusOperate.indicatorName},
                    </if>
                    <if test="deptAnnualBonusOperate.targetValue != null">
                        target_value=#{deptAnnualBonusOperate.targetValue},
                    </if>
                    <if test="deptAnnualBonusOperate.actualValue != null">
                        actual_value=#{deptAnnualBonusOperate.actualValue},
                    </if>
                    <if test="deptAnnualBonusOperate.deleteFlag != null">
                        delete_flag=#{deptAnnualBonusOperate.deleteFlag},
                    </if>
                    <if test="deptAnnualBonusOperate.createBy != null">
                        create_by=#{deptAnnualBonusOperate.createBy},
                    </if>
                    <if test="deptAnnualBonusOperate.createTime != null">
                        create_time=#{deptAnnualBonusOperate.createTime},
                    </if>
                    <if test="deptAnnualBonusOperate.updateBy != null">
                        update_by=#{deptAnnualBonusOperate.updateBy},
                    </if>
                    <if test="deptAnnualBonusOperate.updateTime != null">
                        update_time=#{deptAnnualBonusOperate.updateTime}
                    </if>
        WHERE
                 dept_annual_bonus_operate_id=#{deptAnnualBonusOperate.deptAnnualBonusOperateId}
    </update>
    <!--逻辑删除部门年终奖经营绩效结果表-->
    <update id="logicDeleteDeptAnnualBonusOperateByDeptAnnualBonusOperateId">
        UPDATE dept_annual_bonus_operate
        SET     delete_flag= 1,
                update_by=#{deptAnnualBonusOperate.updateBy},
                update_time=#{deptAnnualBonusOperate.updateTime}
        WHERE
                dept_annual_bonus_operate_id=#{deptAnnualBonusOperate.deptAnnualBonusOperateId}
    </update>
    <!--逻辑批量删除部门年终奖经营绩效结果表-->
    <update id="logicDeleteDeptAnnualBonusOperateByDeptAnnualBonusOperateIds">
        UPDATE dept_annual_bonus_operate
        SET     delete_flag= 1,
                update_by=#{updateBy},
                update_time=#{updateTime}
        WHERE
         dept_annual_bonus_operate_id IN
            <foreach item="item"
                     collection="deptAnnualBonusOperateIds"
                     index="index" open="(" separator="," close=")">
                #{item}
            </foreach>
    </update>
    <!--批量新增部门年终奖经营绩效结果表-->
    <insert id="batchDeptAnnualBonusOperate">
        INSERT INTO dept_annual_bonus_operate (dept_annual_bonus_operate_id,dept_annual_bonus_id,indicator_id,indicator_name,target_value,actual_value,delete_flag,create_by,create_time,update_by,update_time)
        VALUES
        <foreach item="item" index="index"
                 collection="deptAnnualBonusOperates"
                 separator=",">
            (#{item.deptAnnualBonusId},#{item.indicatorId},#{item.indicatorName},#{item.targetValue},#{item.actualValue},#{item.deleteFlag},#{item.createBy},#{item.createTime},#{item.updateBy},#{item.updateTime})
        </foreach>
    </insert>

    <!--物理删除部门年终奖经营绩效结果表-->
    <delete id="deleteDeptAnnualBonusOperateByDeptAnnualBonusOperateId">
        DELETE FROM dept_annual_bonus_operate
        WHERE  dept_annual_bonus_operate_id=#{deptAnnualBonusOperate}

    </delete>
    <!--物理批量删除部门年终奖经营绩效结果表-->
    <delete id="deleteDeptAnnualBonusOperateByDeptAnnualBonusOperateIds">
        DELETE FROM dept_annual_bonus_operate
        WHERE  dept_annual_bonus_operate_id IN
            <foreach item="item"
                     collection="deptAnnualBonusOperateIds"
                     index="index" open="(" separator="," close=")">
                #{item}
            </foreach>
    </delete>
    <!--批量修改部门年终奖经营绩效结果表-->
    <update id="updateDeptAnnualBonusOperates">
        update dept_annual_bonus_operate
        <trim prefix="set" suffixOverrides=",">
                <trim prefix="dept_annual_bonus_id=case" suffix="end,">
                        <foreach collection="deptAnnualBonusOperateList" item="item" index="index">
                                <if test="item.deptAnnualBonusId != null">
                                    when dept_annual_bonus_operate_id=#{item.deptAnnualBonusOperateId} then #{item.deptAnnualBonusId}
                                </if>
                        </foreach>
                </trim>
                <trim prefix="indicator_id=case" suffix="end,">
                        <foreach collection="deptAnnualBonusOperateList" item="item" index="index">
                                <if test="item.indicatorId != null">
                                    when dept_annual_bonus_operate_id=#{item.deptAnnualBonusOperateId} then #{item.indicatorId}
                                </if>
                        </foreach>
                </trim>
                <trim prefix="indicator_name=case" suffix="end,">
                        <foreach collection="deptAnnualBonusOperateList" item="item" index="index">
                                <if test="item.indicatorName != null and item.indicatorName != ''">
                                    when dept_annual_bonus_operate_id=#{item.deptAnnualBonusOperateId} then #{item.indicatorName}
                                </if>
                        </foreach>
                </trim>
                <trim prefix="target_value=case" suffix="end,">
                        <foreach collection="deptAnnualBonusOperateList" item="item" index="index">
                                <if test="item.targetValue != null">
                                    when dept_annual_bonus_operate_id=#{item.deptAnnualBonusOperateId} then #{item.targetValue}
                                </if>
                        </foreach>
                </trim>
                <trim prefix="actual_value=case" suffix="end,">
                        <foreach collection="deptAnnualBonusOperateList" item="item" index="index">
                                <if test="item.actualValue != null">
                                    when dept_annual_bonus_operate_id=#{item.deptAnnualBonusOperateId} then #{item.actualValue}
                                </if>
                        </foreach>
                </trim>
                <trim prefix="delete_flag=case" suffix="end,">
                        <foreach collection="deptAnnualBonusOperateList" item="item" index="index">
                                <if test="item.deleteFlag != null">
                                    when dept_annual_bonus_operate_id=#{item.deptAnnualBonusOperateId} then #{item.deleteFlag}
                                </if>
                        </foreach>
                </trim>
                <trim prefix="create_by=case" suffix="end,">
                        <foreach collection="deptAnnualBonusOperateList" item="item" index="index">
                                <if test="item.createBy != null">
                                    when dept_annual_bonus_operate_id=#{item.deptAnnualBonusOperateId} then #{item.createBy}
                                </if>
                        </foreach>
                </trim>
                <trim prefix="create_time=case" suffix="end,">
                        <foreach collection="deptAnnualBonusOperateList" item="item" index="index">
                                <if test="item.createTime != null">
                                    when dept_annual_bonus_operate_id=#{item.deptAnnualBonusOperateId} then #{item.createTime}
                                </if>
                        </foreach>
                </trim>
                <trim prefix="update_by=case" suffix="end,">
                        <foreach collection="deptAnnualBonusOperateList" item="item" index="index">
                                <if test="item.updateBy != null">
                                    when dept_annual_bonus_operate_id=#{item.deptAnnualBonusOperateId} then #{item.updateBy}
                                </if>
                        </foreach>
                </trim>
                <trim prefix="update_time=case" suffix="end,">
                        <foreach collection="deptAnnualBonusOperateList" item="item" index="index">
                                <if test="item.updateTime != null">
                                    when dept_annual_bonus_operate_id=#{item.deptAnnualBonusOperateId} then #{item.updateTime}
                                </if>
                        </foreach>
                </trim>
        </trim>
        where
        <foreach collection="deptAnnualBonusOperateList" separator="or" item="item" index="index">
                    dept_annual_bonus_operate_id=#{item.deptAnnualBonusOperateId}
        </foreach>
    </update>
</mapper>


