<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.qixiaowei.operate.cloud.mapper.salary.EmpAnnualBonusObjectsMapper">
    <!--    查询个人年终奖发放对象表-->
    <select id="selectEmpAnnualBonusObjectsByEmpAnnualBonusObjectsId"
            resultType="net.qixiaowei.operate.cloud.api.dto.salary.EmpAnnualBonusObjectsDTO">
        SELECT
        emp_annual_bonus_objects_id, employee_annual_bonus_id, employee_id, choice_flag, performance_rank_factor_id, performance_bonus_factor, attendance_factor, recommend_value, comment_value, delete_flag, create_by, create_time, update_by, update_time
        FROM emp_annual_bonus_objects
        WHERE  emp_annual_bonus_objects_id=#{empAnnualBonusObjectsId}
        and delete_flag=0
    </select>

    <!--    批量查询个人年终奖发放对象表-->
    <select id="selectEmpAnnualBonusObjectsByEmpAnnualBonusObjectsIds"
            resultType="net.qixiaowei.operate.cloud.api.dto.salary.EmpAnnualBonusObjectsDTO">
        SELECT
        emp_annual_bonus_objects_id, employee_annual_bonus_id, employee_id, choice_flag, performance_rank_factor_id, performance_bonus_factor, attendance_factor, recommend_value, comment_value, delete_flag, create_by, create_time, update_by, update_time
        FROM emp_annual_bonus_objects
        WHERE  emp_annual_bonus_objects_id in
            <foreach item="item"
                     collection="empAnnualBonusObjectsIds"
                     index="index" open="(" separator="," close=")">
                #{item}
            </foreach>
        and delete_flag=0
    </select>

    <!--    查询个人年终奖发放对象表列表-->
    <select id="selectEmpAnnualBonusObjectsList" resultType="net.qixiaowei.operate.cloud.api.dto.salary.EmpAnnualBonusObjectsDTO">
        SELECT
        emp_annual_bonus_objects_id, employee_annual_bonus_id, employee_id, choice_flag, performance_rank_factor_id, performance_bonus_factor, attendance_factor, recommend_value, comment_value, delete_flag, create_by, create_time, update_by, update_time
        FROM emp_annual_bonus_objects
        WHERE delete_flag=0
                <if test="empAnnualBonusObjects.empAnnualBonusObjectsId != null">
                    and emp_annual_bonus_objects_id=#{empAnnualBonusObjects.empAnnualBonusObjectsId}
                </if>
                <if test="empAnnualBonusObjects.employeeAnnualBonusId != null">
                    and employee_annual_bonus_id=#{empAnnualBonusObjects.employeeAnnualBonusId}
                </if>
                <if test="empAnnualBonusObjects.employeeId != null">
                    and employee_id=#{empAnnualBonusObjects.employeeId}
                </if>
                <if test="empAnnualBonusObjects.choiceFlag != null">
                    and choice_flag=#{empAnnualBonusObjects.choiceFlag}
                </if>
                <if test="empAnnualBonusObjects.performanceRankFactorId != null">
                    and performance_rank_factor_id=#{empAnnualBonusObjects.performanceRankFactorId}
                </if>
                <if test="empAnnualBonusObjects.performanceBonusFactor != null">
                    and performance_bonus_factor=#{empAnnualBonusObjects.performanceBonusFactor}
                </if>
                <if test="empAnnualBonusObjects.attendanceFactor != null">
                    and attendance_factor=#{empAnnualBonusObjects.attendanceFactor}
                </if>
                <if test="empAnnualBonusObjects.recommendValue != null">
                    and recommend_value=#{empAnnualBonusObjects.recommendValue}
                </if>
                <if test="empAnnualBonusObjects.commentValue != null">
                    and comment_value=#{empAnnualBonusObjects.commentValue}
                </if>
                <if test="empAnnualBonusObjects.deleteFlag != null">
                    and delete_flag=#{empAnnualBonusObjects.deleteFlag}
                </if>
                <if test="empAnnualBonusObjects.createBy != null">
                    and create_by=#{empAnnualBonusObjects.createBy}
                </if>
                <if test="empAnnualBonusObjects.createTime != null">
                    and create_time=#{empAnnualBonusObjects.createTime}
                </if>
                <if test="empAnnualBonusObjects.updateBy != null">
                    and update_by=#{empAnnualBonusObjects.updateBy}
                </if>
                <if test="empAnnualBonusObjects.updateTime != null">
                    and update_time=#{empAnnualBonusObjects.updateTime}
                </if>
    </select>
    <!--新增个人年终奖发放对象表-->
    <insert id="insertEmpAnnualBonusObjects" useGeneratedKeys="true" keyProperty="empAnnualBonusObjectsId">
        INSERT INTO emp_annual_bonus_objects (employee_annual_bonus_id,employee_id,choice_flag,performance_rank_factor_id,performance_bonus_factor,attendance_factor,recommend_value,comment_value,delete_flag,create_by,create_time,update_by,update_time)
        VALUES
        (#{empAnnualBonusObjects.employeeAnnualBonusId},#{empAnnualBonusObjects.employeeId},#{empAnnualBonusObjects.choiceFlag},#{empAnnualBonusObjects.performanceRankFactorId},#{empAnnualBonusObjects.performanceBonusFactor},#{empAnnualBonusObjects.attendanceFactor},#{empAnnualBonusObjects.recommendValue},#{empAnnualBonusObjects.commentValue},#{empAnnualBonusObjects.deleteFlag},#{empAnnualBonusObjects.createBy},#{empAnnualBonusObjects.createTime},#{empAnnualBonusObjects.updateBy},#{empAnnualBonusObjects.updateTime})
    </insert>
    <!--修改个人年终奖发放对象表-->
    <update id="updateEmpAnnualBonusObjects">
        UPDATE emp_annual_bonus_objects
        SET
                    <if test="empAnnualBonusObjects.employeeAnnualBonusId != null">
                        employee_annual_bonus_id=#{empAnnualBonusObjects.employeeAnnualBonusId},
                    </if>
                    <if test="empAnnualBonusObjects.employeeId != null">
                        employee_id=#{empAnnualBonusObjects.employeeId},
                    </if>
                    <if test="empAnnualBonusObjects.choiceFlag != null">
                        choice_flag=#{empAnnualBonusObjects.choiceFlag},
                    </if>
                    <if test="empAnnualBonusObjects.performanceRankFactorId != null">
                        performance_rank_factor_id=#{empAnnualBonusObjects.performanceRankFactorId},
                    </if>
                    <if test="empAnnualBonusObjects.performanceBonusFactor != null">
                        performance_bonus_factor=#{empAnnualBonusObjects.performanceBonusFactor},
                    </if>
                    <if test="empAnnualBonusObjects.attendanceFactor != null">
                        attendance_factor=#{empAnnualBonusObjects.attendanceFactor},
                    </if>
                    <if test="empAnnualBonusObjects.recommendValue != null">
                        recommend_value=#{empAnnualBonusObjects.recommendValue},
                    </if>
                    <if test="empAnnualBonusObjects.commentValue != null">
                        comment_value=#{empAnnualBonusObjects.commentValue},
                    </if>
                    <if test="empAnnualBonusObjects.deleteFlag != null">
                        delete_flag=#{empAnnualBonusObjects.deleteFlag},
                    </if>
                    <if test="empAnnualBonusObjects.createBy != null">
                        create_by=#{empAnnualBonusObjects.createBy},
                    </if>
                    <if test="empAnnualBonusObjects.createTime != null">
                        create_time=#{empAnnualBonusObjects.createTime},
                    </if>
                    <if test="empAnnualBonusObjects.updateBy != null">
                        update_by=#{empAnnualBonusObjects.updateBy},
                    </if>
                    <if test="empAnnualBonusObjects.updateTime != null">
                        update_time=#{empAnnualBonusObjects.updateTime}
                    </if>
        WHERE
                 emp_annual_bonus_objects_id=#{empAnnualBonusObjects.empAnnualBonusObjectsId}
    </update>
    <!--逻辑删除个人年终奖发放对象表-->
    <update id="logicDeleteEmpAnnualBonusObjectsByEmpAnnualBonusObjectsId">
        UPDATE emp_annual_bonus_objects
        SET     delete_flag= 1,
                update_by=#{empAnnualBonusObjects.updateBy},
                update_time=#{empAnnualBonusObjects.updateTime}
        WHERE
                emp_annual_bonus_objects_id=#{empAnnualBonusObjects.empAnnualBonusObjectsId}
    </update>
    <!--逻辑批量删除个人年终奖发放对象表-->
    <update id="logicDeleteEmpAnnualBonusObjectsByEmpAnnualBonusObjectsIds">
        UPDATE emp_annual_bonus_objects
        SET     delete_flag= 1,
                update_by=#{updateBy},
                update_time=#{updateTime}
        WHERE
         emp_annual_bonus_objects_id IN
            <foreach item="item"
                     collection="empAnnualBonusObjectsIds"
                     index="index" open="(" separator="," close=")">
                #{item}
            </foreach>
    </update>
    <!--批量新增个人年终奖发放对象表-->
    <insert id="batchEmpAnnualBonusObjects">
        INSERT INTO emp_annual_bonus_objects (employee_annual_bonus_id,employee_id,choice_flag,performance_rank_factor_id,performance_bonus_factor,attendance_factor,recommend_value,comment_value,delete_flag,create_by,create_time,update_by,update_time)
        VALUES
        <foreach item="item" index="index"
                 collection="empAnnualBonusObjectss"
                 separator=",">
            (#{item.employeeAnnualBonusId},#{item.employeeId},#{item.choiceFlag},#{item.performanceRankFactorId},#{item.performanceBonusFactor},#{item.attendanceFactor},#{item.recommendValue},#{item.commentValue},#{item.deleteFlag},#{item.createBy},#{item.createTime},#{item.updateBy},#{item.updateTime})
        </foreach>
    </insert>

    <!--物理删除个人年终奖发放对象表-->
    <delete id="deleteEmpAnnualBonusObjectsByEmpAnnualBonusObjectsId">
        DELETE FROM emp_annual_bonus_objects
        WHERE  emp_annual_bonus_objects_id=#{empAnnualBonusObjects}

    </delete>
    <!--物理批量删除个人年终奖发放对象表-->
    <delete id="deleteEmpAnnualBonusObjectsByEmpAnnualBonusObjectsIds">
        DELETE FROM emp_annual_bonus_objects
        WHERE  emp_annual_bonus_objects_id IN
            <foreach item="item"
                     collection="empAnnualBonusObjectsIds"
                     index="index" open="(" separator="," close=")">
                #{item}
            </foreach>
    </delete>
    <!--批量修改个人年终奖发放对象表-->
    <update id="updateEmpAnnualBonusObjectss">
        update emp_annual_bonus_objects
        <trim prefix="set" suffixOverrides=",">
                <trim prefix="employee_annual_bonus_id=case" suffix="end,">
                        <foreach collection="empAnnualBonusObjectsList" item="item" index="index">
                                <if test="item.employeeAnnualBonusId != null">
                                    when emp_annual_bonus_objects_id=#{item.empAnnualBonusObjectsId} then #{item.employeeAnnualBonusId}
                                </if>
                        </foreach>
                </trim>
                <trim prefix="employee_id=case" suffix="end,">
                        <foreach collection="empAnnualBonusObjectsList" item="item" index="index">
                                <if test="item.employeeId != null">
                                    when emp_annual_bonus_objects_id=#{item.empAnnualBonusObjectsId} then #{item.employeeId}
                                </if>
                        </foreach>
                </trim>
                <trim prefix="choice_flag=case" suffix="end,">
                        <foreach collection="empAnnualBonusObjectsList" item="item" index="index">
                                <if test="item.choiceFlag != null">
                                    when emp_annual_bonus_objects_id=#{item.empAnnualBonusObjectsId} then #{item.choiceFlag}
                                </if>
                        </foreach>
                </trim>
                <trim prefix="performance_rank_factor_id=case" suffix="end,">
                        <foreach collection="empAnnualBonusObjectsList" item="item" index="index">
                                <if test="item.performanceRankFactorId != null">
                                    when emp_annual_bonus_objects_id=#{item.empAnnualBonusObjectsId} then #{item.performanceRankFactorId}
                                </if>
                        </foreach>
                </trim>
                <trim prefix="performance_bonus_factor=case" suffix="end,">
                        <foreach collection="empAnnualBonusObjectsList" item="item" index="index">
                                <if test="item.performanceBonusFactor != null">
                                    when emp_annual_bonus_objects_id=#{item.empAnnualBonusObjectsId} then #{item.performanceBonusFactor}
                                </if>
                        </foreach>
                </trim>
                <trim prefix="attendance_factor=case" suffix="end,">
                        <foreach collection="empAnnualBonusObjectsList" item="item" index="index">
                                <if test="item.attendanceFactor != null">
                                    when emp_annual_bonus_objects_id=#{item.empAnnualBonusObjectsId} then #{item.attendanceFactor}
                                </if>
                        </foreach>
                </trim>
                <trim prefix="recommend_value=case" suffix="end,">
                        <foreach collection="empAnnualBonusObjectsList" item="item" index="index">
                                <if test="item.recommendValue != null">
                                    when emp_annual_bonus_objects_id=#{item.empAnnualBonusObjectsId} then #{item.recommendValue}
                                </if>
                        </foreach>
                </trim>
                <trim prefix="comment_value=case" suffix="end,">
                        <foreach collection="empAnnualBonusObjectsList" item="item" index="index">
                                <if test="item.commentValue != null">
                                    when emp_annual_bonus_objects_id=#{item.empAnnualBonusObjectsId} then #{item.commentValue}
                                </if>
                        </foreach>
                </trim>
                <trim prefix="delete_flag=case" suffix="end,">
                        <foreach collection="empAnnualBonusObjectsList" item="item" index="index">
                                <if test="item.deleteFlag != null">
                                    when emp_annual_bonus_objects_id=#{item.empAnnualBonusObjectsId} then #{item.deleteFlag}
                                </if>
                        </foreach>
                </trim>
                <trim prefix="create_by=case" suffix="end,">
                        <foreach collection="empAnnualBonusObjectsList" item="item" index="index">
                                <if test="item.createBy != null">
                                    when emp_annual_bonus_objects_id=#{item.empAnnualBonusObjectsId} then #{item.createBy}
                                </if>
                        </foreach>
                </trim>
                <trim prefix="create_time=case" suffix="end,">
                        <foreach collection="empAnnualBonusObjectsList" item="item" index="index">
                                <if test="item.createTime != null">
                                    when emp_annual_bonus_objects_id=#{item.empAnnualBonusObjectsId} then #{item.createTime}
                                </if>
                        </foreach>
                </trim>
                <trim prefix="update_by=case" suffix="end,">
                        <foreach collection="empAnnualBonusObjectsList" item="item" index="index">
                                <if test="item.updateBy != null">
                                    when emp_annual_bonus_objects_id=#{item.empAnnualBonusObjectsId} then #{item.updateBy}
                                </if>
                        </foreach>
                </trim>
                <trim prefix="update_time=case" suffix="end,">
                        <foreach collection="empAnnualBonusObjectsList" item="item" index="index">
                                <if test="item.updateTime != null">
                                    when emp_annual_bonus_objects_id=#{item.empAnnualBonusObjectsId} then #{item.updateTime}
                                </if>
                        </foreach>
                </trim>
        </trim>
        where
        <foreach collection="empAnnualBonusObjectsList" separator="or" item="item" index="index">
                    emp_annual_bonus_objects_id=#{item.empAnnualBonusObjectsId}
        </foreach>
    </update>
</mapper>


