<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.qixiaowei.operate.cloud.mapper.salary.EmpSalaryAdjustPlanMapper">
    <!--    查询个人调薪计划表-->
    <select id="selectEmpSalaryAdjustPlanByEmpSalaryAdjustPlanId"
            resultType="net.qixiaowei.operate.cloud.api.dto.salary.EmpSalaryAdjustPlanDTO">
        SELECT
        esa.emp_salary_adjust_plan_id,
        esa.employee_id,
        esa.effective_date,
        esa.adjustment_type,
        esa.adjust_department_id,
        esa.adjust_department_name,
        esa.adjust_post_id,
        esa.adjust_post_name,
        esa.adjust_official_rank_system_id,
        esa.adjust_official_rank_system_name,
        esa.adjust_official_rank,
        esa.adjust_official_rank_name,
        esa.adjust_emolument,
        esa.adjust_explain,
        esa.status,
        ess.emp_salary_adjust_snap_id,
        ess.emp_salary_adjust_plan_id,
        ess.employee_name,
        ess.employee_code,
        ess.employment_date,
        ess.seniority,
        ess.department_id,
        ess.department_name,
        ess.department_leader_id,
        ess.department_leader_name,
        ess.post_id,
        ess.post_name,
        ess.official_rank_system_id,
        ess.official_rank_system_name,
        ess.official_rank,
        ess.official_rank_name,
        ess.basic_wage
        FROM emp_salary_adjust_plan esa
        LEFT JOIN emp_salary_adjust_snap ess ON esa.emp_salary_adjust_plan_id = ess.emp_salary_adjust_plan_id
        AND ess.delete_flag = 0
        WHERE esa.emp_salary_adjust_plan_id=#{empSalaryAdjustPlanId}
        and esa.delete_flag=0
    </select>

    <!--    批量查询个人调薪计划表-->
    <select id="selectEmpSalaryAdjustPlanByEmpSalaryAdjustPlanIds"
            resultType="net.qixiaowei.operate.cloud.api.dto.salary.EmpSalaryAdjustPlanDTO">
        SELECT
        emp_salary_adjust_plan_id,employee_id,effective_date,adjustment_type,adjust_department_id,adjust_department_name,adjust_post_id,adjust_post_name,adjust_official_rank_system_id,adjust_official_rank_system_name,adjust_official_rank,adjust_official_rank_name,adjust_emolument,adjust_explain,status,delete_flag,create_by,create_time,update_by,update_time
        FROM emp_salary_adjust_plan
        WHERE emp_salary_adjust_plan_id in
        <foreach item="item"
                 collection="empSalaryAdjustPlanIds"
                 index="index" open="(" separator="," close=")">
            #{item}
        </foreach>
        and delete_flag=0
    </select>

    <!--    查询个人调薪计划表列表-->
    <select id="selectEmpSalaryAdjustPlanList"
            resultType="net.qixiaowei.operate.cloud.api.dto.salary.EmpSalaryAdjustPlanDTO">
        SELECT
        esa.emp_salary_adjust_plan_id,
        esa.employee_id,
        esa.effective_date,
        esa.adjustment_type,
        esa.adjust_department_id,
        esa.adjust_department_name,
        esa.adjust_post_id,
        esa.adjust_post_name,
        esa.adjust_official_rank_system_id,
        esa.adjust_official_rank_system_name,
        esa.adjust_official_rank,
        esa.adjust_official_rank_name,
        esa.adjust_emolument,
        esa.adjust_explain,
        esa.status,
        ess.emp_salary_adjust_snap_id,
        ess.emp_salary_adjust_plan_id,
        ess.employee_name,
        ess.employee_code,
        ess.employment_date,
        ess.seniority,
        ess.department_id,
        ess.department_name,
        ess.department_leader_id,
        ess.department_leader_name,
        ess.post_id,
        ess.post_name,
        ess.official_rank_system_id,
        ess.official_rank_system_name,
        ess.official_rank,
        ess.official_rank_name,
        ess.basic_wage
        FROM emp_salary_adjust_plan esa
        LEFT JOIN emp_salary_adjust_snap ess
        ON esa.emp_salary_adjust_plan_id = ess.emp_salary_adjust_plan_id
        AND ess.delete_flag=0
        WHERE esa.delete_flag=0
        <if test="empSalaryAdjustPlan.empSalaryAdjustPlanId != null">
            and esa.emp_salary_adjust_plan_id=#{empSalaryAdjustPlan.empSalaryAdjustPlanId}
        </if>
        <if test="empSalaryAdjustPlan.status != null">
            and esa.status=#{empSalaryAdjustPlan.status}
        </if>
        <if test="empSalaryAdjustPlan.employeeId != null">
            and esa.employee_id=#{empSalaryAdjustPlan.employeeId}
        </if>
        <if test="empSalaryAdjustPlan.params.nowDate != null and empSalaryAdjustPlan.params.nowDate != null">
            and esa.effective_date &lt;= #{empSalaryAdjustPlan.params.nowDate}
        </if>
        <if test="empSalaryAdjustPlan.params.effectiveDateStart != null and empSalaryAdjustPlan.params.effectiveDateEnd != null">
            and esa.effective_date &gt;= #{empSalaryAdjustPlan.params.effectiveDateStart}
            and esa.effective_date &lt;= #{empSalaryAdjustPlan.params.effectiveDateEnd}
        </if>
        <if test="empSalaryAdjustPlan.adjustDepartmentId != null">
            and esa.adjust_department_id=#{empSalaryAdjustPlan.adjustDepartmentId}
        </if>
        <if test="empSalaryAdjustPlan.adjustDepartmentName != null and empSalaryAdjustPlan.adjustDepartmentName != ''">
            and esa.adjust_department_name=#{empSalaryAdjustPlan.adjustDepartmentName}
        </if>
        <if test="empSalaryAdjustPlan.adjustPostId != null">
            and esa.adjust_post_id=#{empSalaryAdjustPlan.adjustPostId}
        </if>
        <if test="empSalaryAdjustPlan.adjustPostName != null and empSalaryAdjustPlan.adjustPostName != ''">
            and esa.adjust_post_name like '%${empSalaryAdjustPlan.adjustPostName}%'
        </if>
        <if test="empSalaryAdjustPlan.adjustOfficialRankSystemId != null">
            and esa.adjust_official_rank_system_id=#{empSalaryAdjustPlan.adjustOfficialRankSystemId}
        </if>
        <if test="empSalaryAdjustPlan.adjustOfficialRankSystemName != null and empSalaryAdjustPlan.adjustOfficialRankSystemName != ''">
            and esa.adjust_official_rank_system_name like '%${empSalaryAdjustPlan.adjustOfficialRankSystemName}%'
        </if>
        <if test="empSalaryAdjustPlan.adjustOfficialRank != null">
            and esa.adjust_official_rank=#{empSalaryAdjustPlan.adjustOfficialRank}
        </if>
        <if test="empSalaryAdjustPlan.adjustOfficialRankName != null and empSalaryAdjustPlan.adjustOfficialRankName != ''">
            and esa.adjust_official_rank_name like '%${empSalaryAdjustPlan.adjustOfficialRankName}%'
        </if>
        <if test="empSalaryAdjustPlan.adjustEmolument != null">
            and esa.adjust_emolument=#{empSalaryAdjustPlan.adjustEmolument}
        </if>
        <if test="empSalaryAdjustPlan.params.employeeName != null and empSalaryAdjustPlan.params.employeeName != ''">
            and ess.employee_name like '%${empSalaryAdjustPlan.params.employeeName}%'
        </if>
        <if test="empSalaryAdjustPlan.params.employeeCode != null and empSalaryAdjustPlan.params.employeeCode != ''">
            and ess.employee_code like '%${empSalaryAdjustPlan.params.employeeCode}%'
        </if>
        <if test="empSalaryAdjustPlan.params.employmentDateStart != null and empSalaryAdjustPlan.params.employmentDateEnd != null">
            and ess.employment_date &gt;= #{empSalaryAdjustPlan.params.employmentDateStart}
            and ess.employment_date &lt;= #{empSalaryAdjustPlan.params.employmentDateEnd}
        </if>
        <if test="empSalaryAdjustPlan.params.seniority != null and empSalaryAdjustPlan.params.seniority != ''">
            and ess.seniority like '%${empSalaryAdjustPlan.params.seniority}%'
        </if>
        <if test="empSalaryAdjustPlan.params.departmentId != null">
            and ess.department_id=#{empSalaryAdjustPlan.params.departmentId}
        </if>
        <if test="empSalaryAdjustPlan.params.departmentName != null and empSalaryAdjustPlan.params.departmentName != ''">
            and ess.department_name like '%${empSalaryAdjustPlan.params.departmentName}%'
        </if>
        <if test="empSalaryAdjustPlan.params.departmentLeaderId != null">
            and ess.department_leader_id=#{empSalaryAdjustPlan.params.departmentLeaderId}
        </if>
        <if test="empSalaryAdjustPlan.params.departmentLeaderName != null and empSalaryAdjustPlan.params.departmentLeaderName != ''">
            and ess.department_leader_name like '%${empSalaryAdjustPlan.params.departmentLeaderName}%'
        </if>
        <if test="empSalaryAdjustPlan.params.postId != null">
            and ess.post_id=#{empSalaryAdjustPlan.params.postId}
        </if>
        <if test="empSalaryAdjustPlan.params.postName != null and empSalaryAdjustPlan.params.postName != ''">
            and ess.post_name=#{empSalaryAdjustPlan.params.postName}
        </if>
        <if test="empSalaryAdjustPlan.params.officialRankSystemId != null">
            and ess.official_rank_system_id=#{empSalaryAdjustPlan.params.officialRankSystemId}
        </if>
        <if test="empSalaryAdjustPlan.params.officialRankSystemName != null and empSalaryAdjustPlan.params.officialRankSystemName != ''">
            and ess.official_rank_system_name=#{empSalaryAdjustPlan.params.officialRankSystemName}
        </if>
        <if test="empSalaryAdjustPlan.params.officialRank != null">
            and ess.official_rank=#{empSalaryAdjustPlan.params.officialRank}
        </if>
        <if test="empSalaryAdjustPlan.params.officialRankName != null and empSalaryAdjustPlan.params.officialRankName != ''">
            and ess.official_rank_name=#{empSalaryAdjustPlan.params.officialRankName}
        </if>
        <if test="empSalaryAdjustPlan.params.basicWage != null">
            and ess.basic_wage=#{empSalaryAdjustPlan.params.basicWage}
        </if>
        <!--    员工过滤-->
        <if test="empSalaryAdjustPlan.params.employeeNameEqual != null and empSalaryAdjustPlan.params.employeeNameEqual.size() > 0">
            AND ess.employee_name IN
            <foreach item="item"
                     collection="empSalaryAdjustPlan.params.employeeNameEqual"
                     index="index" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test="empSalaryAdjustPlan.params.employeeNameNotEqual != null and empSalaryAdjustPlan.params.employeeNameNotEqual.size() > 0">
            AND (ess.employee_name NOT IN
            <foreach item="item"
                     collection="empSalaryAdjustPlan.params.employeeNameNotEqual"
                     index="index" open="(" separator="," close=")">
                #{item}
            </foreach>
            OR ess.employee_name IS NULL
            )
        </if>
        <if test="empSalaryAdjustPlan.params.employeeNameLike != null and empSalaryAdjustPlan.params.employeeNameLike.size() > 0">
            AND
            <foreach item="item"
                     collection="empSalaryAdjustPlan.params.employeeNameLike"
                     index="index" open="(" separator="OR" close=")">
                ess.employee_name LIKE concat('%', #{item}, '%')
            </foreach>
        </if>
        <if test="empSalaryAdjustPlan.params.employeeNameNotLike != null and empSalaryAdjustPlan.params.employeeNameNotLike.size() > 0">
            AND
            <foreach item="item"
                     collection="empSalaryAdjustPlan.params.employeeNameNotLike"
                     index="index" open="(" separator="OR" close=")">
                ess.employee_name NOT LIKE concat('%', #{item}, '%')
            </foreach>
        </if>
        <!--    入职开始日期-->
        <if test="empSalaryAdjustPlan.params.employmentDateEqual != null and empSalaryAdjustPlan.params.employmentDateEqual.size() > 0">
            AND ess.employment_date IN
            <foreach item="item"
                     collection="empSalaryAdjustPlan.params.employmentDateEqual"
                     index="index" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test="empSalaryAdjustPlan.params.employmentDateNotEqual != null and empSalaryAdjustPlan.params.employmentDateNotEqual.size() > 0">
            AND (ess.employment_date NOT IN
            <foreach item="item"
                     collection="empSalaryAdjustPlan.params.employmentDateNotEqual"
                     index="index" open="(" separator="," close=")">
                #{item}
            </foreach>
            OR ess.employment_date IS NULL
            )
        </if>
        <if test="empSalaryAdjustPlan.params.employmentDateBefore != null and empSalaryAdjustPlan.params.employmentDateBefore != ''">
            AND date_format(ess.employment_date,'%y%m%d') &lt;
            date_format(#{empSalaryAdjustPlan.params.employmentDateBefore},'%y%m%d')
        </if>
        <if test="empSalaryAdjustPlan.params.employmentDateNotBefore != null and empSalaryAdjustPlan.params.employmentDateNotBefore != ''">
            AND date_format(ess.employment_date,'%y%m%d') &gt;=
            date_format(#{empSalaryAdjustPlan.params.employmentDateNotBefore},'%y%m%d')
        </if>
        <if test="empSalaryAdjustPlan.params.employmentDateAfter != null and empSalaryAdjustPlan.params.employmentDateAfter != ''">
            AND date_format(ess.employment_date,'%y%m%d') &gt;
            date_format(#{empSalaryAdjustPlan.params.employmentDateAfter},'%y%m%d')
        </if>
        <if test="empSalaryAdjustPlan.params.employmentDateNotAfter != null and empSalaryAdjustPlan.params.employmentDateNotAfter != ''">
            AND date_format(ess.employment_date,'%y%m%d') &lt;=
            date_format(#{empSalaryAdjustPlan.params.employmentDateNotAfter},'%y%m%d')
        </if>
        <if test="empSalaryAdjustPlan.params.employmentDateStart != null and empSalaryAdjustPlan.params.employmentDateStart != ''">
            AND date_format(ess.employment_date,'%y%m%d') &gt;=
            date_format(#{empSalaryAdjustPlan.params.employmentDateStart},'%y%m%d')
        </if>
        <if test="empSalaryAdjustPlan.params.employmentDateEnd != null and empSalaryAdjustPlan.params.employmentDateEnd != ''">
            AND date_format(ess.employment_date,'%y%m%d') &lt;=
            date_format(#{empSalaryAdjustPlan.params.employmentDateEnd},'%y%m%d')
        </if>
        <!--    司龄-->
        <if test="empSalaryAdjustPlan.params.employmentDateEqual != null and empSalaryAdjustPlan.params.employmentDateEqual.size() > 0">
            AND ess.employment_date IN
            <foreach item="item"
                     collection="empSalaryAdjustPlan.params.employmentDateEqual"
                     index="index" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test="empSalaryAdjustPlan.params.employmentDateNotEqual != null and empSalaryAdjustPlan.params.employmentDateNotEqual.size() > 0">
            AND (ess.employment_date NOT IN
            <foreach item="item"
                     collection="empSalaryAdjustPlan.params.employmentDateNotEqual"
                     index="index" open="(" separator="," close=")">
                #{item}
            </foreach>
            OR ess.employment_date IS NULL
            )
        </if>
        <!--    调整职级体系-->
        <if test="empSalaryAdjustPlan.params.adjustOfficialRankSystemNameEqual != null and empSalaryAdjustPlan.params.adjustOfficialRankSystemNameEqual.size() > 0">
            AND esa.adjust_official_rank_system_name IN
            <foreach item="item"
                     collection="empSalaryAdjustPlan.params.adjustOfficialRankSystemNameEqual"
                     index="index" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test="empSalaryAdjustPlan.params.adjustOfficialRankSystemNameNotEqual != null and empSalaryAdjustPlan.params.adjustOfficialRankSystemNameNotEqual.size() > 0">
            AND (esa.adjust_official_rank_system_name NOT IN
            <foreach item="item"
                     collection="empSalaryAdjustPlan.params.adjustOfficialRankSystemNameNotEqual"
                     index="index" open="(" separator="," close=")">
                #{item}
            </foreach>
            OR esa.adjust_official_rank_system_name IS NULL
            )
        </if>
        <!--    调整职级 -->
        <if test="empSalaryAdjustPlan.params.adjustOfficialRankEqual != null and empSalaryAdjustPlan.params.adjustOfficialRankEqual.size() > 0">
            AND esa.adjust_official_rank IN
            <foreach item="item"
                     collection="empSalaryAdjustPlan.params.adjustOfficialRankEqual"
                     index="index" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test="empSalaryAdjustPlan.params.adjustOfficialRankNotEqual != null and empSalaryAdjustPlan.params.adjustOfficialRankNotEqual.size() > 0">
            AND (esa.adjust_official_rank NOT IN
            <foreach item="item"
                     collection="empSalaryAdjustPlan.params.adjustOfficialRankNotEqual"
                     index="index" open="(" separator="," close=")">
                #{item}
            </foreach>
            OR esa.adjust_official_rank IS NULL
            )
        </if>
        <if test="empSalaryAdjustPlan.params.adjustOfficialRankBefore != null and empSalaryAdjustPlan.params.adjustOfficialRankBefore != ''">
            AND esa.adjust_official_rank &lt; #{empSalaryAdjustPlan.params.adjustOfficialRankBefore}
        </if>
        <if test="empSalaryAdjustPlan.params.adjustOfficialRankNotBefore != null and empSalaryAdjustPlan.params.adjustOfficialRankNotBefore != ''">
            AND esa.adjust_official_rank &gt;= #{empSalaryAdjustPlan.params.adjustOfficialRankNotBefore}
        </if>
        <if test="empSalaryAdjustPlan.params.adjustOfficialRankAfter != null and empSalaryAdjustPlan.params.adjustOfficialRankAfter != ''">
            AND esa.adjust_official_rank &gt; #{empSalaryAdjustPlan.params.adjustOfficialRankAfter}
        </if>
        <if test="empSalaryAdjustPlan.params.adjustOfficialRankNotAfter != null and empSalaryAdjustPlan.params.adjustOfficialRankNotAfter != ''">
            AND esa.adjust_official_rank &lt;= #{empSalaryAdjustPlan.params.adjustOfficialRankNotAfter}
        </if>
        <if test="empSalaryAdjustPlan.params.adjustOfficialRankStart != null and empSalaryAdjustPlan.params.adjustOfficialRankStart != ''">
            AND esa.adjust_official_rank &gt;= #{empSalaryAdjustPlan.params.adjustOfficialRankStart}
        </if>
        <if test="empSalaryAdjustPlan.params.adjustOfficialRankEnd != null and empSalaryAdjustPlan.params.adjustOfficialRankEnd != ''">
            AND esa.adjust_official_rank &lt;= #{empSalaryAdjustPlan.params.adjustOfficialRankEnd}
        </if>
        <!--    调整工资 -->
        <if test="empSalaryAdjustPlan.params.adjustEmolumentEqual != null and empSalaryAdjustPlan.params.adjustEmolumentEqual.size() > 0">
            AND esa.adjust_emolument IN
            <foreach item="item"
                     collection="empSalaryAdjustPlan.params.adjustEmolumentEqual"
                     index="index" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test="empSalaryAdjustPlan.params.adjustEmolumentNotEqual != null and empSalaryAdjustPlan.params.adjustEmolumentNotEqual.size() > 0">
            AND (esa.adjust_emolument NOT IN
            <foreach item="item"
                     collection="empSalaryAdjustPlan.params.adjustEmolumentNotEqual"
                     index="index" open="(" separator="," close=")">
                #{item}
            </foreach>
            OR esa.adjust_emolument IS NULL
            )
        </if>
        <if test="empSalaryAdjustPlan.params.adjustEmolumentBefore != null and empSalaryAdjustPlan.params.adjustEmolumentBefore != ''">
            AND esa.adjust_emolument &lt; #{empSalaryAdjustPlan.params.adjustEmolumentBefore}
        </if>
        <if test="empSalaryAdjustPlan.params.adjustEmolumentNotBefore != null and empSalaryAdjustPlan.params.adjustEmolumentNotBefore != ''">
            AND esa.adjust_emolument &gt;= #{empSalaryAdjustPlan.params.adjustEmolumentNotBefore}
        </if>
        <if test="empSalaryAdjustPlan.params.adjustEmolumentAfter != null and empSalaryAdjustPlan.params.adjustEmolumentAfter != ''">
            AND esa.adjust_emolument &gt; #{empSalaryAdjustPlan.params.adjustEmolumentAfter}
        </if>
        <if test="empSalaryAdjustPlan.params.adjustEmolumentNotAfter != null and empSalaryAdjustPlan.params.adjustEmolumentNotAfter != ''">
            AND esa.adjust_emolument &lt;= #{empSalaryAdjustPlan.params.adjustEmolumentNotAfter}
        </if>
        <if test="empSalaryAdjustPlan.params.adjustEmolumentStart != null and empSalaryAdjustPlan.params.adjustEmolumentStart != ''">
            AND esa.adjust_emolument &gt;= #{empSalaryAdjustPlan.params.adjustEmolumentStart}
        </if>
        <if test="empSalaryAdjustPlan.params.adjustEmolumentEnd != null and empSalaryAdjustPlan.params.adjustEmolumentEnd != ''">
            AND esa.adjust_emolument &lt;= #{empSalaryAdjustPlan.params.adjustEmolumentEnd}
        </if>
        <!--    员工高级搜索-->
        <if test="empSalaryAdjustPlan.params.employeeIds != null and empSalaryAdjustPlan.params.employeeIds.size() > 0">
            AND esa.employee_id IN
            <foreach item="item"
                     collection="empSalaryAdjustPlan.params.employeeIds"
                     index="index" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <!--    调整部门高级搜索-->
        <if test="empSalaryAdjustPlan.params.adjustDepartmentIds != null and empSalaryAdjustPlan.params.adjustDepartmentIds.size() > 0">
            AND esa.adjust_department_id IN
            <foreach item="item"
                     collection="empSalaryAdjustPlan.params.adjustDepartmentIds"
                     index="index" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <!--    调整部门高级搜索-->
        <if test="empSalaryAdjustPlan.params.adjustPostIds != null and empSalaryAdjustPlan.params.adjustPostIds.size() > 0">
            AND esa.adjust_post_id IN
            <foreach item="item"
                     collection="empSalaryAdjustPlan.params.adjustPostIds"
                     index="index" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        ORDER BY esa.update_time DESC
    </select>
    <!--根据员工ID获取个人调薪计划表-->
    <select id="selectByEmployeeId"
            resultType="net.qixiaowei.operate.cloud.api.dto.salary.EmpSalaryAdjustPlanDTO">
        SELECT
        esp.emp_salary_adjust_plan_id,
        esp.employee_id,
        esp.effective_date,
        esp.adjustment_type,
        esp.adjust_department_id,
        esp.adjust_department_name,
        esp.adjust_post_id,
        esp.adjust_post_name,
        esp.adjust_official_rank_system_id,
        esp.adjust_official_rank_system_name,
        esp.adjust_official_rank,
        esp.adjust_official_rank_name,
        esp.adjust_emolument,
        esp.adjust_explain,
        esp.status,
        ess.post_id,
        ess.post_name,
        ess.official_rank_name,
        ess.basic_wage
        FROM emp_salary_adjust_plan esp
        LEFT JOIN emp_salary_adjust_snap ess
        ON esp.emp_salary_adjust_plan_id = ess.emp_salary_adjust_plan_id
        AND ess.delete_flag=0
        WHERE esp.delete_flag=0
        AND esp.status != 0
        AND esp.employee_id = #{employeeId}
    </select>
    <select id="selectByEmployeeIds"
            resultType="net.qixiaowei.operate.cloud.api.dto.salary.EmpSalaryAdjustPlanDTO">
        SELECT
        esp.emp_salary_adjust_plan_id,
        esp.employee_id,
        esp.effective_date,
        esp.adjustment_type,
        esp.adjust_department_id,
        esp.adjust_department_name,
        esp.adjust_post_id,
        esp.adjust_post_name,
        esp.adjust_official_rank_system_id,
        esp.adjust_official_rank_system_name,
        esp.adjust_official_rank,
        esp.adjust_official_rank_name,
        esp.adjust_emolument,
        esp.adjust_explain,
        esp.status,
        ess.post_id,
        ess.post_name,
        ess.official_rank_name,
        ess.basic_wage
        FROM emp_salary_adjust_plan esp
        LEFT JOIN emp_salary_adjust_snap ess
        ON esp.emp_salary_adjust_plan_id = ess.emp_salary_adjust_plan_id
        AND ess.delete_flag=0
        WHERE esp.delete_flag=0
        AND esp.status = 1
        AND esp.employee_id
        IN
        <foreach collection="employeeIds" index="index" item="item" open="(" close=")" separator=",">
            #{item}
        </foreach>
    </select>
    <select id="selectBySystemIds"
            resultType="net.qixiaowei.operate.cloud.api.dto.salary.EmpSalaryAdjustPlanDTO">
        SELECT
        esp.emp_salary_adjust_plan_id,
        esp.employee_id,
        esp.effective_date,
        esp.adjustment_type,
        esp.adjust_department_id,
        esp.adjust_department_name,
        esp.adjust_post_id,
        esp.adjust_post_name,
        esp.adjust_official_rank_system_id,
        esp.adjust_official_rank_system_name,
        esp.adjust_official_rank,
        esp.adjust_official_rank_name,
        esp.adjust_emolument,
        esp.adjust_explain,
        esp.status,
        ess.post_id,
        ess.post_name,
        ess.official_rank_name,
        ess.employee_name,
        ess.basic_wage
        FROM emp_salary_adjust_plan esp
        LEFT JOIN emp_salary_adjust_snap ess
        ON esp.emp_salary_adjust_plan_id = ess.emp_salary_adjust_plan_id
        AND ess.delete_flag=0
        WHERE esp.delete_flag=0
        AND esp.status = 1
        AND esp.adjust_official_rank_system_id
        IN
        <foreach collection="officialRankSystemIds" index="index" item="item" open="(" close=")" separator=",">
            #{item}
        </foreach>
    </select>
    <!--新增个人调薪计划表-->
    <insert id="insertEmpSalaryAdjustPlan" useGeneratedKeys="true" keyProperty="empSalaryAdjustPlanId">
        INSERT INTO emp_salary_adjust_plan
        (employee_id,effective_date,adjustment_type,adjust_department_id,adjust_department_name,adjust_post_id,adjust_post_name,adjust_official_rank_system_id,adjust_official_rank_system_name,adjust_official_rank,adjust_official_rank_name,adjust_emolument,adjust_explain,status,delete_flag,create_by,create_time,update_by,update_time)
        VALUES
        (#{empSalaryAdjustPlan.employeeId},#{empSalaryAdjustPlan.effectiveDate},#{empSalaryAdjustPlan.adjustmentType},#{empSalaryAdjustPlan.adjustDepartmentId},#{empSalaryAdjustPlan.adjustDepartmentName},#{empSalaryAdjustPlan.adjustPostId},#{empSalaryAdjustPlan.adjustPostName},#{empSalaryAdjustPlan.adjustOfficialRankSystemId},#{empSalaryAdjustPlan.adjustOfficialRankSystemName},#{empSalaryAdjustPlan.adjustOfficialRank},#{empSalaryAdjustPlan.adjustOfficialRankName},#{empSalaryAdjustPlan.adjustEmolument},#{empSalaryAdjustPlan.adjustExplain},#{empSalaryAdjustPlan.status},#{empSalaryAdjustPlan.deleteFlag},#{empSalaryAdjustPlan.createBy},#{empSalaryAdjustPlan.createTime},#{empSalaryAdjustPlan.updateBy},#{empSalaryAdjustPlan.updateTime})
    </insert>
    <!--修改个人调薪计划表-->
    <update id="updateEmpSalaryAdjustPlan">
        UPDATE emp_salary_adjust_plan
        SET
        <if test="empSalaryAdjustPlan.employeeId != null">
            employee_id=#{empSalaryAdjustPlan.employeeId},
        </if>
        effective_date=#{empSalaryAdjustPlan.effectiveDate},
        adjustment_type=#{empSalaryAdjustPlan.adjustmentType},
        adjust_department_id=#{empSalaryAdjustPlan.adjustDepartmentId},
        adjust_department_name=#{empSalaryAdjustPlan.adjustDepartmentName},
        adjust_post_id=#{empSalaryAdjustPlan.adjustPostId},
        adjust_post_name=#{empSalaryAdjustPlan.adjustPostName},
        adjust_official_rank_system_id=#{empSalaryAdjustPlan.adjustOfficialRankSystemId},
        adjust_official_rank_system_name=#{empSalaryAdjustPlan.adjustOfficialRankSystemName},
        adjust_official_rank=#{empSalaryAdjustPlan.adjustOfficialRank},
        adjust_official_rank_name=#{empSalaryAdjustPlan.adjustOfficialRankName},
        adjust_emolument=#{empSalaryAdjustPlan.adjustEmolument},
        <if test="empSalaryAdjustPlan.adjustExplain != null">
            adjust_explain=#{empSalaryAdjustPlan.adjustExplain},
        </if>
        <if test="empSalaryAdjustPlan.status != null">
            status=#{empSalaryAdjustPlan.status},
        </if>
        <if test="empSalaryAdjustPlan.deleteFlag != null">
            delete_flag=#{empSalaryAdjustPlan.deleteFlag},
        </if>
        <if test="empSalaryAdjustPlan.createBy != null">
            create_by=#{empSalaryAdjustPlan.createBy},
        </if>
        <if test="empSalaryAdjustPlan.createTime != null">
            create_time=#{empSalaryAdjustPlan.createTime},
        </if>
        <if test="empSalaryAdjustPlan.updateBy != null">
            update_by=#{empSalaryAdjustPlan.updateBy},
        </if>
        <if test="empSalaryAdjustPlan.updateTime != null">
            update_time=#{empSalaryAdjustPlan.updateTime}
        </if>
        WHERE
        emp_salary_adjust_plan_id=#{empSalaryAdjustPlan.empSalaryAdjustPlanId}
    </update>
    <!--逻辑删除个人调薪计划表-->
    <update id="logicDeleteEmpSalaryAdjustPlanByEmpSalaryAdjustPlanId">
        UPDATE emp_salary_adjust_plan
        SET delete_flag= 1,
        update_by=#{empSalaryAdjustPlan.updateBy},
        update_time=#{empSalaryAdjustPlan.updateTime}
        WHERE
        emp_salary_adjust_plan_id=#{empSalaryAdjustPlan.empSalaryAdjustPlanId}
    </update>
    <!--逻辑批量删除个人调薪计划表-->
    <update id="logicDeleteEmpSalaryAdjustPlanByEmpSalaryAdjustPlanIds">
        UPDATE emp_salary_adjust_plan
        SET delete_flag= 1,
        update_by=#{updateBy},
        update_time=#{updateTime}
        WHERE
        emp_salary_adjust_plan_id IN
        <foreach item="item"
                 collection="empSalaryAdjustPlanIds"
                 index="index" open="(" separator="," close=")">
            #{item}
        </foreach>
    </update>
    <!--批量新增个人调薪计划表-->
    <insert id="batchEmpSalaryAdjustPlan">
        INSERT INTO emp_salary_adjust_plan
        (employee_id,effective_date,adjustment_type,adjust_department_id,adjust_department_name,adjust_post_id,adjust_post_name,adjust_official_rank_system_id,adjust_official_rank_system_name,adjust_official_rank,adjust_official_rank_name,adjust_emolument,adjust_explain,status,delete_flag,create_by,create_time,update_by,update_time)
        VALUES
        <foreach item="item" index="index"
                 collection="empSalaryAdjustPlans"
                 separator=",">
            (#{item.employeeId},#{item.effectiveDate},#{item.adjustmentType},#{item.adjustDepartmentId},#{item.adjustDepartmentName},#{item.adjustPostId},#{item.adjustPostName},#{item.adjustOfficialRankSystemId},#{item.adjustOfficialRankSystemName},#{item.adjustOfficialRank},#{item.adjustOfficialRankName},#{item.adjustEmolument},#{item.adjustExplain},#{item.status},#{item.deleteFlag},#{item.createBy},#{item.createTime},#{item.updateBy},#{item.updateTime})
        </foreach>
    </insert>

    <!--物理删除个人调薪计划表-->
    <delete id="deleteEmpSalaryAdjustPlanByEmpSalaryAdjustPlanId">
        DELETE FROM emp_salary_adjust_plan
        WHERE emp_salary_adjust_plan_id=#{empSalaryAdjustPlan}

    </delete>
    <!--物理批量删除个人调薪计划表-->
    <delete id="deleteEmpSalaryAdjustPlanByEmpSalaryAdjustPlanIds">
        DELETE FROM emp_salary_adjust_plan
        WHERE emp_salary_adjust_plan_id IN
        <foreach item="item"
                 collection="empSalaryAdjustPlanIds"
                 index="index" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>
    <!--批量修改个人调薪计划表-->
    <update id="updateEmpSalaryAdjustPlans">
        update emp_salary_adjust_plan
        <trim prefix="set" suffixOverrides=",">
            <trim prefix="employee_id=case" suffix="end,">
                <foreach collection="empSalaryAdjustPlanList" item="item" index="index">
                    <if test="item.employeeId != null">
                        when emp_salary_adjust_plan_id=#{item.empSalaryAdjustPlanId} then #{item.employeeId}
                    </if>
                </foreach>
            </trim>
            <trim prefix="effective_date=case" suffix="end,">
                <foreach collection="empSalaryAdjustPlanList" item="item" index="index">
                    <if test="item.effectiveDate != null">
                        when emp_salary_adjust_plan_id=#{item.empSalaryAdjustPlanId} then #{item.effectiveDate}
                    </if>
                </foreach>
            </trim>
            <trim prefix="adjustment_type=case" suffix="end,">
                <foreach collection="empSalaryAdjustPlanList" item="item" index="index">
                    <if test="item.adjustmentType != null and item.adjustmentType != ''">
                        when emp_salary_adjust_plan_id=#{item.empSalaryAdjustPlanId} then #{item.adjustmentType}
                    </if>
                </foreach>
            </trim>
            <trim prefix="adjust_department_id=case" suffix="end,">
                <foreach collection="empSalaryAdjustPlanList" item="item" index="index">
                    <if test="item.adjustDepartmentId != null">
                        when emp_salary_adjust_plan_id=#{item.empSalaryAdjustPlanId} then #{item.adjustDepartmentId}
                    </if>
                </foreach>
            </trim>
            <trim prefix="adjust_department_name=case" suffix="end,">
                <foreach collection="empSalaryAdjustPlanList" item="item" index="index">
                    <if test="item.adjustDepartmentName != null and item.adjustDepartmentName != ''">
                        when emp_salary_adjust_plan_id=#{item.empSalaryAdjustPlanId} then #{item.adjustDepartmentName}
                    </if>
                </foreach>
            </trim>
            <trim prefix="adjust_post_id=case" suffix="end,">
                <foreach collection="empSalaryAdjustPlanList" item="item" index="index">
                    <if test="item.adjustPostId != null">
                        when emp_salary_adjust_plan_id=#{item.empSalaryAdjustPlanId} then #{item.adjustPostId}
                    </if>
                </foreach>
            </trim>
            <trim prefix="adjust_post_name=case" suffix="end,">
                <foreach collection="empSalaryAdjustPlanList" item="item" index="index">
                    <if test="item.adjustPostName != null and item.adjustPostName != ''">
                        when emp_salary_adjust_plan_id=#{item.empSalaryAdjustPlanId} then #{item.adjustPostName}
                    </if>
                </foreach>
            </trim>
            <trim prefix="adjust_official_rank_system_id=case" suffix="end,">
                <foreach collection="empSalaryAdjustPlanList" item="item" index="index">
                    <if test="item.adjustOfficialRankSystemId != null">
                        when emp_salary_adjust_plan_id=#{item.empSalaryAdjustPlanId} then
                        #{item.adjustOfficialRankSystemId}
                    </if>
                </foreach>
            </trim>
            <trim prefix="adjust_official_rank_system_name=case" suffix="end,">
                <foreach collection="empSalaryAdjustPlanList" item="item" index="index">
                    <if test="item.adjustOfficialRankSystemName != null and item.adjustOfficialRankSystemName != ''">
                        when emp_salary_adjust_plan_id=#{item.empSalaryAdjustPlanId} then
                        #{item.adjustOfficialRankSystemName}
                    </if>
                </foreach>
            </trim>
            <trim prefix="adjust_official_rank=case" suffix="end,">
                <foreach collection="empSalaryAdjustPlanList" item="item" index="index">
                    <if test="item.adjustOfficialRank != null">
                        when emp_salary_adjust_plan_id=#{item.empSalaryAdjustPlanId} then #{item.adjustOfficialRank}
                    </if>
                </foreach>
            </trim>
            <trim prefix="adjust_official_rank_name=case" suffix="end,">
                <foreach collection="empSalaryAdjustPlanList" item="item" index="index">
                    <if test="item.adjustOfficialRankName != null and item.adjustOfficialRankName != ''">
                        when emp_salary_adjust_plan_id=#{item.empSalaryAdjustPlanId} then #{item.adjustOfficialRankName}
                    </if>
                </foreach>
            </trim>
            <trim prefix="adjust_emolument=case" suffix="end,">
                <foreach collection="empSalaryAdjustPlanList" item="item" index="index">
                    <if test="item.adjustEmolument != null">
                        when emp_salary_adjust_plan_id=#{item.empSalaryAdjustPlanId} then #{item.adjustEmolument}
                    </if>
                </foreach>
            </trim>
            <trim prefix="adjust_explain=case" suffix="end,">
                <foreach collection="empSalaryAdjustPlanList" item="item" index="index">
                    <if test="item.adjustExplain != null and item.adjustExplain != ''">
                        when emp_salary_adjust_plan_id=#{item.empSalaryAdjustPlanId} then #{item.adjustExplain}
                    </if>
                </foreach>
            </trim>
            <trim prefix="status=case" suffix="end,">
                <foreach collection="empSalaryAdjustPlanList" item="item" index="index">
                    <if test="item.status != null">
                        when emp_salary_adjust_plan_id=#{item.empSalaryAdjustPlanId} then #{item.status}
                    </if>
                </foreach>
            </trim>
            <trim prefix="delete_flag=case" suffix="end,">
                <foreach collection="empSalaryAdjustPlanList" item="item" index="index">
                    <if test="item.deleteFlag != null">
                        when emp_salary_adjust_plan_id=#{item.empSalaryAdjustPlanId} then #{item.deleteFlag}
                    </if>
                </foreach>
            </trim>
            <trim prefix="create_by=case" suffix="end,">
                <foreach collection="empSalaryAdjustPlanList" item="item" index="index">
                    <if test="item.createBy != null">
                        when emp_salary_adjust_plan_id=#{item.empSalaryAdjustPlanId} then #{item.createBy}
                    </if>
                </foreach>
            </trim>
            <trim prefix="create_time=case" suffix="end,">
                <foreach collection="empSalaryAdjustPlanList" item="item" index="index">
                    <if test="item.createTime != null">
                        when emp_salary_adjust_plan_id=#{item.empSalaryAdjustPlanId} then #{item.createTime}
                    </if>
                </foreach>
            </trim>
            <trim prefix="update_by=case" suffix="end,">
                <foreach collection="empSalaryAdjustPlanList" item="item" index="index">
                    <if test="item.updateBy != null">
                        when emp_salary_adjust_plan_id=#{item.empSalaryAdjustPlanId} then #{item.updateBy}
                    </if>
                </foreach>
            </trim>
            <trim prefix="update_time=case" suffix="end,">
                <foreach collection="empSalaryAdjustPlanList" item="item" index="index">
                    <if test="item.updateTime != null">
                        when emp_salary_adjust_plan_id=#{item.empSalaryAdjustPlanId} then #{item.updateTime}
                    </if>
                </foreach>
            </trim>
        </trim>
        where
        <foreach collection="empSalaryAdjustPlanList" separator="or" item="item" index="index">
            emp_salary_adjust_plan_id=#{item.empSalaryAdjustPlanId}
        </foreach>
    </update>
</mapper>


