<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.qixiaowei.operate.cloud.mapper.salary.SalaryItemMapper">
    <!--    查询工资项-->
    <select id="selectSalaryItemBySalaryItemId"
            resultType="net.qixiaowei.operate.cloud.api.dto.salary.SalaryItemDTO">
        SELECT
        salary_item_id, first_level_item, second_level_item, third_level_item, scope, sort, delete_flag, create_by,
        create_time, update_by, update_time
        FROM salary_item
        WHERE salary_item_id=#{salaryItemId}
        and delete_flag=0
    </select>

    <!--    查询工资项列表-->
    <select id="selectSalaryItemList" resultType="net.qixiaowei.operate.cloud.api.dto.salary.SalaryItemDTO">
        SELECT
        salary_item_id, first_level_item, second_level_item, third_level_item, scope, sort, delete_flag, create_by,
        create_time, update_by, update_time
        FROM salary_item
        WHERE delete_flag=0
        <if test="salaryItem.salaryItemId != null">
            and salary_item_id=#{salaryItem.salaryItemId}
        </if>
        <if test="salaryItem.firstLevelItem != null">
            and first_level_item=#{salaryItem.firstLevelItem}
        </if>
        <if test="salaryItem.secondLevelItem != null">
            and second_level_item=#{salaryItem.secondLevelItem}
        </if>
        <if test="salaryItem.thirdLevelItem != null and salaryItem.thirdLevelItem != ''">
            and third_level_item like concat('%', #{salaryItem.thirdLevelItem}, '%')
        </if>
        <if test="salaryItem.scope != null">
            and scope=#{salaryItem.scope}
        </if>
        <if test="salaryItem.sort != null">
            and sort=#{salaryItem.sort}
        </if>
        <if test="salaryItem.deleteFlag != null">
            and delete_flag=#{salaryItem.deleteFlag}
        </if>
        <if test="salaryItem.createBy != null">
            and create_by=#{salaryItem.createBy}
        </if>
        <if test="salaryItem.createTime != null">
            and create_time=#{salaryItem.createTime}
        </if>
        <if test="salaryItem.updateBy != null">
            and update_by=#{salaryItem.updateBy}
        </if>
        <if test="salaryItem.updateTime != null">
            and update_time=#{salaryItem.updateTime}
        </if>
    </select>
    <!--根据id集合获取数据-->
    <select id="getSalaryItemByIds" resultType="net.qixiaowei.operate.cloud.api.dto.salary.SalaryItemDTO">
        SELECT salary_item_id, first_level_item, second_level_item, third_level_item, scope, sort, delete_flag,
        create_by, create_time, update_by, update_time
        FROM salary_item
        WHERE salary_item_id IN
        <foreach item="item"
                 collection="salaryItemIds"
                 index="index" open="(" separator="," close=")">
            #{item}
        </foreach>
        AND delete_flag = 0
    </select>
    <select id="getSalaryItemByThirdLevelItem"
            resultType="net.qixiaowei.operate.cloud.api.dto.salary.SalaryItemDTO">
        SELECT salary_item_id, first_level_item, second_level_item, third_level_item, scope, sort, delete_flag,
        create_by, create_time, update_by, update_time
        FROM salary_item
        WHERE third_level_item = #{thirdLevelItem}
        AND delete_flag = 0
    </select>
    <!--通过ID集合查找工资项-->
    <select id="selectSalaryItemBySalaryItemIds"
            resultType="net.qixiaowei.operate.cloud.api.dto.salary.SalaryItemDTO">
        SELECT salary_item_id, first_level_item, second_level_item, third_level_item, scope, sort, delete_flag,
        create_by, create_time, update_by, update_time
        FROM salary_item
        WHERE salary_item_id
        IN
        <foreach collection="salaryItemIds" item="item" index="index" open="(" close=")" separator=",">
            #{item}
        </foreach>
        AND delete_flag = 0
    </select>
<!--    从工资条配置中取值，取所有部门级且二级工资项目属于奖金的工资项目-->
    <select id="selectSalaryAddPrefabricate"
            resultType="net.qixiaowei.operate.cloud.api.dto.salary.SalaryItemDTO">
        SELECT salary_item_id, first_level_item, second_level_item, third_level_item, scope, sort, delete_flag,
               create_by, create_time, update_by, update_time
        FROM salary_item
        WHERE first_level_item =2
        AND second_level_item IN (1,2,3,4)
        AND  scope =1
        AND delete_flag=0
    </select>
<!--    查询战略奖的工资项id-->
    <select id="selectSalaryItemByAward" resultType="net.qixiaowei.operate.cloud.api.dto.salary.SalaryItemDTO">
        SELECT
            salary_item_id, first_level_item, second_level_item, third_level_item, scope, sort, delete_flag, create_by,
            create_time, update_by, update_time
        FROM salary_item
        WHERE third_level_item='战略奖'
          and delete_flag=0
    </select>
<!--    所有二级工资项目为奖金且级别为部门级的三级工资项目-->
    <select id="selectSalaryItemByBonus" resultType="net.qixiaowei.operate.cloud.api.dto.salary.SalaryItemDTO">
        SELECT
            salary_item_id, first_level_item, second_level_item, third_level_item, scope, sort, delete_flag, create_by,
            create_time, update_by, update_time
        FROM salary_item
        WHERE first_level_item=2
          and  second_level_item=4
          and scope =1
          and delete_flag=0
    </select>
    <!--新增工资项-->
    <insert id="insertSalaryItem" useGeneratedKeys="true" keyProperty="salaryItemId">
        INSERT INTO salary_item
        (first_level_item,second_level_item,third_level_item,scope,sort,delete_flag,create_by,create_time,update_by,update_time)
        VALUES
        (#{salaryItem.firstLevelItem},#{salaryItem.secondLevelItem},#{salaryItem.thirdLevelItem},#{salaryItem.scope},#{salaryItem.sort},#{salaryItem.deleteFlag},#{salaryItem.createBy},#{salaryItem.createTime},#{salaryItem.updateBy},#{salaryItem.updateTime})
    </insert>
    <!--修改工资项-->
    <update id="updateSalaryItem">
        UPDATE salary_item
        SET
        <if test="salaryItem.firstLevelItem != null">
            first_level_item=#{salaryItem.firstLevelItem},
        </if>
        <if test="salaryItem.secondLevelItem != null">
            second_level_item=#{salaryItem.secondLevelItem},
        </if>
        <if test="salaryItem.thirdLevelItem != null and salaryItem.thirdLevelItem != ''">
            third_level_item=#{salaryItem.thirdLevelItem},
        </if>
        <if test="salaryItem.scope != null">
            scope=#{salaryItem.scope},
        </if>
        <if test="salaryItem.sort != null">
            sort=#{salaryItem.sort},
        </if>
        <if test="salaryItem.deleteFlag != null">
            delete_flag=#{salaryItem.deleteFlag},
        </if>
        <if test="salaryItem.createBy != null">
            create_by=#{salaryItem.createBy},
        </if>
        <if test="salaryItem.createTime != null">
            create_time=#{salaryItem.createTime},
        </if>
        <if test="salaryItem.updateBy != null">
            update_by=#{salaryItem.updateBy},
        </if>
        <if test="salaryItem.updateTime != null">
            update_time=#{salaryItem.updateTime}
        </if>
        WHERE
        salary_item_id=#{salaryItem.salaryItemId}
        AND
        delete_flag = 0
    </update>
    <!--逻辑删除工资项-->
    <update id="logicDeleteSalaryItemBySalaryItemId">
        UPDATE salary_item
        SET delete_flag= 1,
        update_by=#{salaryItem.updateBy},
        update_time=#{salaryItem.updateTime}
        WHERE
        salary_item_id=#{salaryItem.salaryItemId}
    </update>
    <!--逻辑批量删除工资项-->
    <update id="logicDeleteSalaryItemBySalaryItemIds">
        UPDATE salary_item
        SET delete_flag= 1,
        update_by=#{updateBy},
        update_time=#{updateTime}
        WHERE
        salary_item_id IN
        <foreach item="item"
                 collection="salaryItemIds"
                 index="index" open="(" separator="," close=")">
            #{item}
        </foreach>
    </update>
    <!--批量新增工资项-->
    <insert id="batchSalaryItem">
        INSERT INTO salary_item
        (first_level_item,second_level_item,third_level_item,scope,sort,delete_flag,create_by,create_time,update_by,update_time)
        VALUES
        <foreach item="item" index="index"
                 collection="salaryItems"
                 separator=",">
            (#{item.firstLevelItem},#{item.secondLevelItem},#{item.thirdLevelItem},#{item.scope},#{item.sort},#{item.deleteFlag},#{item.createBy},#{item.createTime},#{item.updateBy},#{item.updateTime})
        </foreach>
    </insert>

    <!--物理删除工资项-->
    <delete id="deleteSalaryItemBySalaryItemId">
        DELETE FROM salary_item
        WHERE salary_item_id=#{salaryItem}

    </delete>
    <!--物理批量删除工资项-->
    <delete id="deleteSalaryItemBySalaryItemIds">
        DELETE FROM salary_item
        WHERE salary_item_id IN
        <foreach item="item"
                 collection="salaryItemIds"
                 index="index" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>
    <!--批量修改工资项-->
    <update id="updateSalaryItems">
        update salary_item
        <trim prefix="set" suffixOverrides=",">
            <trim prefix="salary_item_id=case" suffix="end,">
            </trim>
            <trim prefix="first_level_item=case" suffix="end,">
                <foreach collection="salaryItemList" item="item" index="index">
                    <if test="item.firstLevelItem != null">
                        when salary_item_id=#{item.salaryItemId} then #{item.firstLevelItem}
                    </if>
                </foreach>
            </trim>
            <trim prefix="second_level_item=case" suffix="end,">
                <foreach collection="salaryItemList" item="item" index="index">
                    <if test="item.secondLevelItem != null">
                        when salary_item_id=#{item.salaryItemId} then #{item.secondLevelItem}
                    </if>
                </foreach>
            </trim>
            <trim prefix="third_level_item=case" suffix="end,">
                <foreach collection="salaryItemList" item="item" index="index">
                    <if test="item.thirdLevelItem != null and item.thirdLevelItem != ''">
                        when salary_item_id=#{item.salaryItemId} then #{item.thirdLevelItem}
                    </if>
                </foreach>
            </trim>
            <trim prefix="scope=case" suffix="end,">
                <foreach collection="salaryItemList" item="item" index="index">
                    <if test="item.scope != null">
                        when salary_item_id=#{item.salaryItemId} then #{item.scope}
                    </if>
                </foreach>
            </trim>
            <trim prefix="sort=case" suffix="end,">
                <foreach collection="salaryItemList" item="item" index="index">
                    <if test="item.sort != null">
                        when salary_item_id=#{item.salaryItemId} then #{item.sort}
                    </if>
                </foreach>
            </trim>
            <trim prefix="delete_flag=case" suffix="end,">
                <foreach collection="salaryItemList" item="item" index="index">
                    <if test="item.deleteFlag != null">
                        when salary_item_id=#{item.salaryItemId} then #{item.deleteFlag}
                    </if>
                </foreach>
            </trim>
            <trim prefix="create_by=case" suffix="end,">
                <foreach collection="salaryItemList" item="item" index="index">
                    <if test="item.createBy != null">
                        when salary_item_id=#{item.salaryItemId} then #{item.createBy}
                    </if>
                </foreach>
            </trim>
            <trim prefix="create_time=case" suffix="end,">
                <foreach collection="salaryItemList" item="item" index="index">
                    <if test="item.createTime != null">
                        when salary_item_id=#{item.salaryItemId} then #{item.createTime}
                    </if>
                </foreach>
            </trim>
            <trim prefix="update_by=case" suffix="end,">
                <foreach collection="salaryItemList" item="item" index="index">
                    <if test="item.updateBy != null">
                        when salary_item_id=#{item.salaryItemId} then #{item.updateBy}
                    </if>
                </foreach>
            </trim>
            <trim prefix="update_time=case" suffix="end,">
                <foreach collection="salaryItemList" item="item" index="index">
                    <if test="item.updateTime != null">
                        when salary_item_id=#{item.salaryItemId} then #{item.updateTime}
                    </if>
                </foreach>
            </trim>
        </trim>
        where
        <foreach collection="salaryItemList" separator="or" item="item" index="index">
            salary_item_id=#{item.salaryItemId}
        </foreach>
        AND
        delete_flag = 0
    </update>
</mapper>


