<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.qixiaowei.system.manage.mapper.basic.IndustryMapper">
    <!--    查询行业-->
    <select id="selectIndustryByIndustryId"
            resultType="net.qixiaowei.system.manage.api.dto.basic.IndustryDTO">
        SELECT
        i1.industry_id,
        i1.parent_industry_id,
        i1.ancestors,
        i1.industry_code,
        i1.industry_name,
        i1.level,
        i1.status,
        i1.delete_flag,
        i1.create_by,
        i1.create_time,
        i1.update_by,
        i1.update_time,
        i2.industry_name AS parent_industry_name
        FROM industry i1
        LEFT JOIN industry i2
        ON i1.parent_industry_id = i2.industry_id
        AND i2.delete_flag=0
        WHERE i1.industry_id=#{industryId}
        and i1.delete_flag=0
    </select>
    <!--根据id集合判断是否存在-->
    <select id="isExist" resultType="net.qixiaowei.system.manage.api.dto.basic.IndustryDTO">
        SELECT industry_id, parent_industry_id, ancestors, industry_code, industry_name, level, status, delete_flag,
        create_by,
        create_time, update_by, update_time
        FROM industry WHERE industry_id IN
        <foreach item="item"
                 collection="industryIds"
                 index="index" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>
    <!--    查询行业列表-->
    <select id="selectIndustryList" resultType="net.qixiaowei.system.manage.api.dto.basic.IndustryDTO">
        SELECT
        i1.industry_id,
        i1.parent_industry_id,
        i1.ancestors,
        i1.industry_code,
        i1.industry_name,
        i1.level,
        i1.status,
        i1.delete_flag,
        i1.create_by,
        i1.create_time,
        i1.update_by,
        i1.update_time,
        i2.industry_name as parent_industry_name
        FROM industry i1
        LEFT JOIN industry i2
        ON i1.parent_industry_id = i2.industry_id
        AND i2.delete_flag=0
        WHERE i1.delete_flag=0
        <if test="industry.industryId != null and industry.industryId != ''">
            and i1.industry_id=#{industry.industryId}
        </if>
        <if test="industry.parentIndustryId != null">
            and i1.parent_industry_id=#{industry.parentIndustryId}
        </if>
        <if test="industry.ancestors != null and industry.ancestors != ''">
            and i1.ancestors=#{industry.ancestors}
        </if>
        <if test="industry.industryCode != null and industry.industryCode != ''">
            and i1.industry_code like concat('%', #{industry.industryCode}, '%')
        </if>
        <if test="industry.industryName != null and industry.industryName != ''">
            and i1.industry_name like concat('%', #{industry.industryName}, '%')
        </if>
        <if test="industry.level != null and industry.level != ''">
            and i1.level=#{industry.level}
        </if>
        <if test="industry.status != null">
            and i1.status=#{industry.status}
        </if>
        <if test="industry.deleteFlag != null and industry.deleteFlag != ''">
            and i1.delete_flag=#{industry.deleteFlag}
        </if>
        <if test="industry.createBy != null and industry.createBy != ''">
            and i1.create_by=#{industry.createBy}
        </if>
        <if test="industry.updateBy != null and industry.updateBy != ''">
            and i1.update_by=#{industry.updateBy}
        </if>
        <!--    行业编码过滤-->
        <if test="industry.params.industryCodeEqual != null and industry.params.industryCodeEqual.size() > 0">
            AND i1.industry_code IN
            <foreach item="item"
                     collection="industry.params.industryCodeEqual"
                     index="index" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test="industry.params.industryCodeNotEqual != null and industry.params.industryCodeNotEqual.size() > 0">
            AND (i1.industry_code NOT IN
            <foreach item="item"
                     collection="industry.params.industryCodeNotEqual"
                     index="index" open="(" separator="," close=")">
                #{item}
            </foreach>
            OR i1.industry_code IS NULL
            )
        </if>
        <if test="industry.params.industryCodeLike != null and industry.params.industryCodeLike.size() > 0">
            AND(
            <foreach item="item"
                     collection="industry.params.industryCodeLike"
                     index="index" open="(" separator="OR" close=")">
                i1.industry_code LIKE concat('%', #{item}, '%')
            </foreach>)
        </if>
        <if test="industry.params.industryCodeNotLike != null and industry.params.industryCodeNotLike.size() > 0">
            AND
            <foreach item="item"
                     collection="industry.params.industryCodeNotLike"
                     index="index" open="(" separator="AND" close=")">
                i1.industry_code NOT LIKE concat('%', #{item}, '%')
            </foreach>
        </if>
        <!--    行业名称过滤-->
        <if test="industry.params.industryNameEqual != null and industry.params.industryNameEqual.size() > 0">
            AND i1.industry_name IN
            <foreach item="item"
                     collection="industry.params.industryNameEqual"
                     index="index" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test="industry.params.industryNameNotEqual != null and industry.params.industryNameNotEqual.size() > 0">
            AND (i1.industry_name NOT IN
            <foreach item="item"
                     collection="industry.params.industryNameNotEqual"
                     index="index" open="(" separator="," close=")">
                #{item}
            </foreach>
            OR i1.industry_name IS NULL
            )
        </if>
        <if test="industry.params.industryNameLike != null and industry.params.industryNameLike.size() > 0">
            AND
            <foreach item="item"
                     collection="industry.params.industryNameLike"
                     index="index" open="(" separator="OR" close=")">
                i1.industry_name LIKE concat('%', #{item}, '%')
            </foreach>
        </if>
        <if test="industry.params.industryNameNotLike != null and industry.params.industryNameNotLike.size() > 0">
            AND
            <foreach item="item"
                     collection="industry.params.industryNameNotLike"
                     index="index" open="(" separator="AND" close=")">
                i1.industry_name NOT LIKE concat('%', #{item}, '%')
            </foreach>
        </if>
        <!--    上级行业过滤-->
        <if test="industry.params.parentIndustryNameEqual != null and industry.params.parentIndustryNameEqual.size() > 0">
            AND i2.industry_name IN
            <foreach item="item"
                     collection="industry.params.parentIndustryNameEqual"
                     index="index" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test="industry.params.parentIndustryNameNotEqual != null and industry.params.parentIndustryNameNotEqual.size() > 0">
            AND (i2.industry_name NOT IN
            <foreach item="item"
                     collection="industry.params.parentIndustryNameNotEqual"
                     index="index" open="(" separator="," close=")">
                #{item}
            </foreach>
            OR i2.industry_name IS NULL
            )
        </if>
        <if test="industry.params.parentIndustryNameNull != null">
            and i2.industry_name IS NULL OR i2.industry_name OR !=''
        </if>
        <if test="industry.params.parentIndustryNameNotNull != null">
            and i2.industry_name IS NOT NULL OR i2.industry_name OR !=''
        </if>
        <!--    行业层级过滤-->
        <if test="industry.params.levelEqual != null and industry.params.levelEqual.size() > 0">
            AND i1.level IN
            <foreach item="item"
                     collection="industry.params.levelEqual"
                     index="index" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test="industry.params.levelNotEqual != null and industry.params.levelNotEqual.size() > 0">
            AND (i1.level NOT IN
            <foreach item="item"
                     collection="industry.params.levelNotEqual"
                     index="index" open="(" separator="," close=")">
                #{item}
            </foreach>
            OR i1.level IS NULL
            )
        </if>
<!--        <if test="industry.params.levelGreaterThan != null">-->
<!--            AND-->
<!--            <foreach item="item"-->
<!--                     collection="industry.params.levelGreaterThan"-->
<!--                     index="index" open="(" separator="OR" close=")">-->
<!--                i1.level &gt; #{item}-->
<!--            </foreach>-->
<!--        </if>-->
<!--        <if test="industry.params.levelNotGreaterThan != null">-->
<!--            AND-->
<!--            <foreach item="item"-->
<!--                     collection="industry.params.levelNotGreaterThan"-->
<!--                     index="index" open="(" separator="OR" close=")">-->
<!--                i1.level &lt;= #{item}-->
<!--            </foreach>-->
<!--        </if>-->
<!--        <if test="industry.params.levelLessThan != null">-->
<!--            AND-->
<!--            <foreach item="item"-->
<!--                     collection="industry.params.levelLessThan"-->
<!--                     index="index" open="(" separator="OR" close=")">-->
<!--                i1.level &lt; #{item}-->
<!--            </foreach>-->
<!--        </if>-->
<!--        <if test="industry.params.levelNotLessThan != null">-->
<!--            AND-->
<!--            <foreach item="item"-->
<!--                     collection="industry.params.levelNotLessThan"-->
<!--                     index="index" open="(" separator="OR" close=")">-->
<!--                i1.level &gt;= #{item}-->
<!--            </foreach>-->
<!--        </if>-->
        <!--    行业状态过滤-->
        <if test="industry.params.statusEqual != null and industry.params.statusEqual.size() > 0">
            AND i1.status IN
            <foreach item="item"
                     collection="industry.params.statusEqual"
                     index="index" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test="industry.params.statusNotEqual != null and industry.params.statusNotEqual.size() > 0">
            AND (i1.status NOT IN
            <foreach item="item"
                     collection="industry.params.statusNotEqual"
                     index="index" open="(" separator="," close=")">
                #{item}
            </foreach>
            OR i1.status IS NULL
            )
        </if>
        <!-- 数据范围过滤 -->
        ${industry.params.dataScope}
        ORDER BY i1.create_time DESC
    </select>

    <!--    查询行业编码集合-->
    <select id="getIndustryCodes" resultType="java.lang.String">
        SELECT industry_code FROM industry WHERE delete_flag=0 AND industry_code LIKE CONCAT(#{prefixCodeRule},'%')
        ORDER BY industry_code ASC
    </select>

    <!--新增行业-->
    <insert id="insertIndustry" useGeneratedKeys="true" keyProperty="industryId">
        INSERT INTO industry
        (parent_industry_id,ancestors,industry_code,industry_name,level,status,delete_flag,create_by,create_time,update_by,update_time)
        VALUES
        (#{industry.parentIndustryId},#{industry.ancestors},#{industry.industryCode},#{industry.industryName},#{industry.level},#{industry.status},#{industry.deleteFlag},#{industry.createBy},#{industry.createTime},#{industry.updateBy},#{industry.updateTime})
    </insert>

    <!--修改行业-->
    <update id="updateIndustry">
        UPDATE industry
        SET
        <if test="industry.industryId != null and industry.industryId != ''">
            industry_id=#{industry.industryId},
        </if>
        <if test="industry.parentIndustryId != null">
            parent_industry_id=#{industry.parentIndustryId},
        </if>
        <if test="industry.industryCode != null and industry.industryCode != ''">
            industry_code=#{industry.industryCode},
        </if>
        <if test="industry.industryName != null and industry.industryName != ''">
            industry_name=#{industry.industryName},
        </if>
        <if test="industry.level != null">
            level=#{industry.level},
        </if>
        <if test="industry.status != null">
            status=#{industry.status},
        </if>
        <if test="industry.deleteFlag != null">
            delete_flag=#{industry.deleteFlag},
        </if>
        <if test="industry.createBy != null">
            create_by=#{industry.createBy},
        </if>
        <if test="industry.createTime != null">
            create_time=#{industry.createTime},
        </if>
        <if test="industry.updateBy != null">
            update_by=#{industry.updateBy},
        </if>
        <if test="industry.updateTime != null">
            update_time=#{industry.updateTime},
        </if>
        ancestors=#{industry.ancestors}
        WHERE
        industry_id=#{industry.industryId}
    </update>
    <!--新增时修改行业祖级列表ID-->
    <update id="updateAncestors">
        UPDATE industry
        SET
        <if test="industry.ancestors != null and industry.ancestors != ''">
            ancestors=#{industry.ancestors},
        </if>
        <if test="industry.level != null and industry.level != ''">
            level=#{industry.level},
        </if>
        <if test="industry.updateBy != null and industry.updateBy != ''">
            update_by=#{industry.updateBy},
        </if>
        <if test="industry.updateTime != null">
            update_time=#{industry.updateTime}
        </if>
        WHERE
        industry_id=#{industry.industryId}
    </update>
    <!--逻辑删除行业-->
    <update id="logicDeleteIndustryByIndustryId">
        UPDATE industry
        SET delete_flag= 1,
        update_by=#{industry.updateBy},
        update_time=#{industry.updateTime}
        WHERE
        FIND_IN_SET(#{industryId},ancestors)
    </update>
    <!--逻辑批量删除行业-->
    <update id="logicDeleteIndustryByIndustryIds">
        UPDATE industry
        SET delete_flag= 1,
        update_by=#{updateBy},
        update_time=#{updateTime}
        WHERE
        industry_id IN
        <foreach item="item"
                 collection="industryIds"
                 index="index" open="(" separator="," close=")">
            #{item}
        </foreach>
    </update>

    <!-- 根据父级查找子级-->
    <select id="selectSon" resultType="net.qixiaowei.system.manage.api.dto.basic.IndustryDTO">
        SELECT
        industry_id, parent_industry_id, ancestors, industry_code, industry_name, level, status, delete_flag, create_by,
        create_time, update_by, update_time
        FROM industry
        WHERE FIND_IN_SET(#{industryId},ancestors)
        AND delete_flag = 0
    </select>

    <!-- 根据list批量查找子级-->
    <select id="selectSons" resultType="java.lang.Long">
        SELECT
        industry_id
        FROM industry
        WHERE
        <foreach item="item" index="index"
                 collection="industryIds"
                 separator="or">
            FIND_IN_SET(#{item},ancestors)
        </foreach>
    </select>

    <!--获取启用行业类型-->
    <select id="getEnableType" resultType="java.lang.Integer">

    </select>
    <select id="checkUnique" resultType="net.qixiaowei.system.manage.api.dto.basic.IndustryDTO">
        SELECT
        industry_id, parent_industry_id, ancestors, industry_code, industry_name, level, status, delete_flag, create_by,
        create_time, update_by, update_time
        FROM industry
        WHERE BINARY industry_code=#{industryCode}
        and delete_flag=0
    </select>
    <!--获取行业层级列表-->
    <select id="getLevelList" resultType="java.lang.Integer">
        SELECT
        level
        FROM industry
        WHERE delete_flag = 0
        GROUP BY `level`
        ORDER BY `level` ASC
    </select>
    <!--    根据code集合查询行业信息-->
    <select id="selectCodeList" resultType="net.qixiaowei.system.manage.api.dto.basic.IndustryDTO">
        SELECT
        industry_id, parent_industry_id, ancestors, industry_code, industry_name, level, status, delete_flag, create_by,
        create_time, update_by, update_time
        FROM industry
        WHERE industry_code in
        <foreach item="item"
                 collection="industryCodes"
                 index="index" open="(" separator="," close=")">
            #{item}
        </foreach>
        and delete_flag=0
    </select>
    <!--通过Id集合查询行业信息-->
    <select id="selectIndustryByIndustryIds"
            resultType="net.qixiaowei.system.manage.api.dto.basic.IndustryDTO">
        SELECT
        industry_id, parent_industry_id, ancestors, industry_code, industry_name, level, status, delete_flag, create_by,
        create_time, update_by, update_time
        FROM industry
        WHERE delete_flag=0
        AND industry_id
        IN
        <foreach collection="industryIds" separator="," open="(" close=")" index="index" item="item">
            #{item}
        </foreach>
    </select>
    <!--根据id查询所有子级数据-->
    <select id="selectAncestors" resultType="net.qixiaowei.system.manage.api.dto.basic.IndustryDTO">
        SELECT
        industry_id,
        parent_industry_id,
        ancestors,
        industry_code,
        industry_name,
        LEVEL,
        STATUS,
        delete_flag,
        create_by,
        create_time,
        update_by,
        update_time
        FROM (
        SELECT
        industry_id,
        parent_industry_id,
        ancestors,
        industry_code,
        industry_name,
        LEVEL,
        STATUS,
        delete_flag,
        create_by,
        create_time,
        update_by,
        update_time
        FROM
        industry
        WHERE
        delete_flag = 0
        <if test="industryId != null">
            and industry_id=#{industryId}
        </if>
        UNION
        SELECT
        industry_id,
        parent_industry_id,
        ancestors,
        industry_code,
        industry_name,
        LEVEL,
        STATUS,
        delete_flag,
        create_by,
        create_time,
        update_by,
        update_time
        FROM
        industry
        <if test="industryId != null">
            WHERE find_in_set( #{industryId}, ancestors )
        </if>
        AND delete_flag = 0
        ) AS ancestors
    </select>
    <!--批量新增行业-->
    <insert id="batchIndustry">
        INSERT INTO industry
        (parent_industry_id,ancestors,industry_code,industry_name,level,status,delete_flag,create_by,create_time,update_by,update_time)
        VALUES
        <foreach item="item" index="index"
                 collection="industryIds"
                 separator=",">
            (#{item.parentIndustryId},#{item.ancestors},#{item.industryCode},#{item.industryName},#{item.level},#{item.status},#{item.deleteFlag},#{item.createBy},#{item.createTime},#{item.updateBy},#{item.updateTime})
        </foreach>
    </insert>

    <!--物理删除行业-->
    <delete id="deleteIndustryByIndustryId">
        DELETE FROM industry
        WHERE industry_id like #{industry}
    </delete>
    <!--物理批量删除行业-->
    <delete id="deleteIndustryByIndustryIds">
        DELETE FROM industry
        WHERE industry_id IN
        <foreach item="item"
                 collection="industryIds"
                 index="index" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>
    <!--批量修改行业-->
    <update id="updateIndustrys">
        update industry
        <trim prefix="set" suffixOverrides=",">
            <trim prefix="parent_industry_id=case" suffix="end,">
                <foreach collection="industryList" item="item" index="index">
                    <if test="item.parentIndustryId != null">
                        when industry_id=#{item.industryId} then #{item.parentIndustryId}
                    </if>
                </foreach>
            </trim>
            <trim prefix="ancestors=case" suffix="end,">
                <foreach collection="industryList" item="item" index="index">
                    when industry_id=#{item.industryId} then #{item.ancestors}
                </foreach>
            </trim>
            <trim prefix="industry_code=case" suffix="end,">
                <foreach collection="industryList" item="item" index="index">
                    <if test="item.industryCode != null and item.industryCode != ''">
                        when industry_id=#{item.industryId} then #{item.industryCode}
                    </if>
                </foreach>
            </trim>
            <trim prefix="industry_name=case" suffix="end,">
                <foreach collection="industryList" item="item" index="index">
                    <if test="item.industryName != null and item.industryName != ''">
                        when industry_id=#{item.industryId} then #{item.industryName}
                    </if>
                </foreach>
            </trim>
            <trim prefix="level=case" suffix="end,">
                <foreach collection="industryList" item="item" index="index">
                    <if test="item.level != null">
                        when industry_id=#{item.industryId} then #{item.level}
                    </if>
                </foreach>
            </trim>
            <trim prefix="status=case" suffix="end,">
                <foreach collection="industryList" item="item" index="index">
                    <if test="item.status != null">
                        when industry_id=#{item.industryId} then #{item.status}
                    </if>
                </foreach>
            </trim>
            <trim prefix="delete_flag=case" suffix="end,">
                <foreach collection="industryList" item="item" index="index">
                    <if test="item.deleteFlag != null">
                        when industry_id=#{item.industryId} then #{item.deleteFlag}
                    </if>
                </foreach>
            </trim>
            <trim prefix="create_by=case" suffix="end,">
                <foreach collection="industryList" item="item" index="index">
                    <if test="item.createBy != null">
                        when industry_id=#{item.industryId} then #{item.createBy}
                    </if>
                </foreach>
            </trim>
            <trim prefix="create_time=case" suffix="end,">
                <foreach collection="industryList" item="item" index="index">
                    <if test="item.createTime != null">
                        when industry_id=#{item.industryId} then #{item.createTime}
                    </if>
                </foreach>
            </trim>
            <trim prefix="update_by=case" suffix="end,">
                <foreach collection="industryList" item="item" index="index">
                    <if test="item.updateBy != null">
                        when industry_id=#{item.industryId} then #{item.updateBy}
                    </if>
                </foreach>
            </trim>
            <trim prefix="update_time=case" suffix="end,">
                <foreach collection="industryList" item="item" index="index">
                    <if test="item.updateTime != null">
                        when industry_id=#{item.industryId} then #{item.updateTime}
                    </if>
                </foreach>
            </trim>
        </trim>
        where
        <foreach collection="industryList" separator="or" item="item" index="index">
            industry_id=#{item.industryId}
        </foreach>
    </update>


</mapper>


