<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.qixiaowei.system.manage.mapper.basic.IndustryDefaultMapper">
    <!--    查询默认行业-->
    <select id="selectIndustryDefaultByIndustryId"
            resultType="net.qixiaowei.system.manage.api.dto.basic.IndustryDefaultDTO">
        SELECT
        industry_id, parent_industry_id, ancestors, industry_code, industry_name, level, status, delete_flag, create_by,
        create_time, update_by, update_time
        FROM industry_default
        WHERE industry_id=#{industryId}
        and delete_flag=0
    </select>
    <!--    查询默认行业列表-->
    <select id="selectIndustryDefaultList" resultType="net.qixiaowei.system.manage.api.dto.basic.IndustryDefaultDTO">
        SELECT
        i1.industry_id,
        i1.parent_industry_id,
        i1.ancestors,
        i1.industry_code,
        i1.industry_name,
        i1.level,
        i1.status,
        i1.delete_flag,
        i1.create_by,
        i1.create_time,
        i1.update_by,
        i1.update_time,
        (select i2.industry_name from industry_default i2 where i1.parent_industry_id = i2.industry_id and i2.delete_flag=0) as parent_industry_name
        FROM industry_default i1
        WHERE i1.delete_flag=0
        <if test="industryDefault.industryId != null and industryDefault.industryId != ''">
            and i1.industry_id=#{industryDefault.industryId}
        </if>
        <if test="industryDefault.parentIndustryId != null and industryDefault.parentIndustryId != ''">
            and i1.parent_industry_id=#{industryDefault.parentIndustryId}
        </if>
        <if test="industryDefault.ancestors != null and industryDefault.ancestors != ''">
            and i1.ancestors=#{industryDefault.ancestors}
        </if>
        <if test="industryDefault.industryCode != null and industryDefault.industryCode != ''">
            and i1.industry_code like concat('%', #{industryDefault.industryCode}, '%')
        </if>
        <if test="industryDefault.industryName != null and industryDefault.industryName != ''">
            and i1.industry_name like concat('%', #{industryDefault.industryName}, '%')
        </if>
        <if test="industryDefault.level != null">
            and i1.level=#{industryDefault.level}
        </if>
        <if test="industryDefault.status != null">
            and i1.status=#{industryDefault.status}
        </if>
        <if test="industryDefault.deleteFlag != null">
            and i1.delete_flag=#{industryDefault.deleteFlag}
        </if>
        <if test="industryDefault.createBy != null">
            and i1.create_by=#{industryDefault.createBy}
        </if>
        <if test="industryDefault.updateBy != null and industryDefault.updateBy != ''">
            and i1.update_by=#{industryDefault.updateBy}
        </if>
    </select>
    <!--默认行业唯一性校验-->

    <!-- 根据父级查找子级-->
    <select id="selectSon" resultType="java.lang.Long">
        SELECT
        industry_id
        FROM industry_default
        WHERE
        FIND_IN_SET(#{industryId},ancestors)
    </select>
    <!-- 根据list批量查找子级-->
    <select id="selectSons" resultType="java.lang.Long">
        SELECT
        industry_id
        FROM industry_default
        WHERE
        <foreach item="item" index="index"
                 collection="industryIds"
                 separator="or">
            FIND_IN_SET(#{item},ancestors)
        </foreach>
    </select>
    <!--根据id集合判断是否存在-->
    <select id="isExist" resultType="Long">
        SELECT industry_id FROM industry_default WHERE industry_id IN
        <foreach item="item"
                 collection="industryIds"
                 index="index" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>
    <!--级联查询父菜单-->
    <select id="selectIndustryDefaultTreeList" resultMap="treeVoMap">
        SELECT
        industry_id, parent_industry_id, ancestors, industry_code, industry_name, level, status, delete_flag, create_by,
        create_time, update_by, update_time
        FROM industry_default
        WHERE delete_flag = 0
        <if test="industryDefault.parentIndustryId != null and industryDefault.parentIndustryId != ''">
            parent_industry_id = #{industryDefault.parentIndustryId}
        </if>
        <if test="industryDefault.industryId != null and industryDefault.industryId != ''">
            and industry_id = #{industryDefault.industryId}
        </if>
        <if test="industryDefault.ancestors != null and industryDefault.ancestors != ''">
            and ancestors = #{industryDefault.ancestors}
        </if>
        <if test="industryDefault.industryCode != null and industryDefault.industryCode != ''">
            and industry_code like concat('%', #{industryDefault.industryCode}, '%')
        </if>
        <if test="industryDefault.industryName != null and industryDefault.industryName != ''">
            and industry_name like concat('%', #{industryDefault.industryName}, '%')
        </if>
        <if test="industryDefault.level != null and industryDefault.level != ''">
            and level = #{industryDefault.level}
        </if>
        <if test="industryDefault.status != null and industryDefault.status != ''">
            and status = #{industryDefault.status}
        </if>
        <if test="industryDefault.deleteFlag != null and industryDefault.deleteFlag != ''">
            and delete_flag = #{industryDefault.deleteFlag}
        </if>
        <if test="industryDefault.createBy != null and industryDefault.createBy != ''">
            and create_by = #{industryDefault.createBy}
        </if>
        <if test="industryDefault.createTime != null">
            and create_time = #{industryDefault.createTime}
        </if>
        <if test="industryDefault.updateBy != null and industryDefault.updateBy != ''">
            and update_by = #{industryDefault.updateBy}
        </if>
        <if test="industryDefault.updateTime != null">
            and update_time = #{industryDefault.updateTime}
        </if>
    </select>
    <!--级联查询子菜单-->
    <select id="findIndustryTreeByPid" resultMap="treeVoMap">
        SELECT
        industry_id, parent_industry_id, ancestors, industry_code, industry_name, level, status, delete_flag, create_by,
        create_time, update_by, update_time
        FROM industry_default
        WHERE parent_industry_id = #{parentIndustryId} and delete_flag = 0
    </select>
    <select id="checkUnique" resultType="net.qixiaowei.system.manage.api.dto.basic.IndustryDefaultDTO">
        SELECT
        industry_id, parent_industry_id, ancestors, industry_code, industry_name, level, status, delete_flag, create_by,
        create_time, update_by, update_time
        FROM industry_default
        WHERE delete_flag=0
        AND industry_code = #{industryCode}
    </select>
    <!--获取默认行业层级列表-->
    <select id="selectLevelList" resultType="java.lang.Integer">
        SELECT
        level
        FROM industry_default
        WHERE delete_flag = 0
        GROUP BY `level`
        ORDER BY `level` ASC
    </select>
    <!--返回类型-->
    <resultMap id="treeVoMap" type="net.qixiaowei.system.manage.api.dto.basic.IndustryDefaultDTO">
        <id column="industry_id" property="industryId" jdbcType="BIGINT"/>
        <result column="parent_industry_id" property="parentIndustryId" jdbcType="BIGINT"/>
        <result column="ancestors" property="ancestors" jdbcType="VARCHAR"/>
        <result column="industry_code" property="industryCode" jdbcType="TINYINT"/>
        <result column="industry_name" property="industryName" jdbcType="VARCHAR"/>
        <result column="level" property="level" jdbcType="VARCHAR"/>
        <result column="status" property="status" jdbcType="INTEGER"/>
        <result column="delete_flag" property="deleteFlag" jdbcType="TINYINT"/>
        <result column="create_by" property="createBy" jdbcType="BIGINT"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="update_by" property="updateBy" jdbcType="BIGINT"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
        <collection property="childDefaultIndustry"
                    ofType="net.qixiaowei.system.manage.api.dto.basic.IndustryDefaultDTO"
                    column="industry_id" select="findIndustryTreeByPid"/>
    </resultMap>
    <!--新增默认行业-->
    <insert id="insertIndustryDefault" useGeneratedKeys="true" keyProperty="industryId">
        INSERT INTO industry_default
        (parent_industry_id,ancestors,industry_code,industry_name,level,status,delete_flag,create_by,create_time,update_by,update_time)
        VALUES
        (#{industryDefault.parentIndustryId},#{industryDefault.ancestors},#{industryDefault.industryCode},#{industryDefault.industryName},#{industryDefault.level},#{industryDefault.status},#{industryDefault.deleteFlag},#{industryDefault.createBy},#{industryDefault.createTime},#{industryDefault.updateBy},#{industryDefault.updateTime})
    </insert>
    <!--修改默认行业-->
    <update id="updateIndustryDefault">
        UPDATE industry_default
        SET
        <if test="industryDefault.industryId != null and industryDefault.industryId != ''">
            industry_id=#{industryDefault.industryId},
        </if>
        <if test="industryDefault.parentIndustryId != null and industryDefault.parentIndustryId != ''">
            parent_industry_id=#{industryDefault.parentIndustryId},
        </if>
        <if test="industryDefault.ancestors != null and industryDefault.ancestors != ''">
            ancestors=#{industryDefault.ancestors},
        </if>
        <if test="industryDefault.industryCode != null and industryDefault.industryCode != ''">
            industry_code=#{industryDefault.industryCode},
        </if>
        <if test="industryDefault.industryName != null and industryDefault.industryName != ''">
            industry_name=#{industryDefault.industryName},
        </if>
        <if test="industryDefault.level != null and industryDefault.level != ''">
            level=#{industryDefault.level},
        </if>
        <if test="industryDefault.status != null and industryDefault.status != ''">
            status=#{industryDefault.status},
        </if>
        <if test="industryDefault.deleteFlag != null and industryDefault.deleteFlag != ''">
            delete_flag=#{industryDefault.deleteFlag},
        </if>
        <if test="industryDefault.createBy != null and industryDefault.createBy != ''">
            create_by=#{industryDefault.createBy},
        </if>
        <if test="industryDefault.createTime != null">
            create_time=#{industryDefault.createTime},
        </if>
        <if test="industryDefault.updateBy != null and industryDefault.updateBy != ''">
            update_by=#{industryDefault.updateBy},
        </if>
        <if test="industryDefault.updateTime != null">
            update_time=#{industryDefault.updateTime}
        </if>
        WHERE
        industry_id=#{industryDefault.industryId}
    </update>
    <!--逻辑删除默认行业-->
    <update id="logicDeleteIndustryDefaultByIndustryId">
        UPDATE industry_default
        SET delete_flag= 1,
        update_by=#{industryDefault.updateBy},
        update_time=#{industryDefault.updateTime}
        WHERE
        industry_id=#{industryDefault.industryId}
    </update>
    <!--逻辑批量删除默认行业-->
    <update id="logicDeleteIndustryDefaultByIndustryIds">
        UPDATE industry_default
        SET delete_flag= 1,
        update_by=#{updateBy},
        update_time=#{updateTime}
        WHERE
        industry_id IN
        <foreach item="item"
                 collection="industryIds"
                 index="index" open="(" separator="," close=")">
            #{item}
        </foreach>
    </update>
    <!--批量新增默认行业-->
    <insert id="batchIndustryDefault">
        INSERT INTO industry_default
        (parent_industry_id,ancestors,industry_code,industry_name,level,status,delete_flag,create_by,create_time,update_by,update_time)
        VALUES
        <foreach item="item" index="index"
                 collection="industryDefaults"
                 separator=",">
            (#{item.parentIndustryId},#{item.ancestors},#{item.industryCode},#{item.industryName},#{item.level},#{item.status},#{item.deleteFlag},#{item.createBy},#{item.createTime},#{item.updateBy},#{item.updateTime})
        </foreach>
    </insert>

    <!--物理删除默认行业-->
    <delete id="deleteIndustryDefaultByIndustryId">
        DELETE FROM industry_default
        WHERE industry_id=#{industryDefault}

    </delete>
    <!--物理批量删除默认行业-->
    <delete id="deleteIndustryDefaultByIndustryIds">
        DELETE FROM industry_default
        WHERE industry_id IN
        <foreach item="item"
                 collection="industryIds"
                 index="index" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>
    <!--批量修改默认行业-->
    <update id="updateIndustryDefaults">
        update industry_default
        <trim prefix="set" suffixOverrides=",">
            <trim prefix="parent_industry_id=case" suffix="end,">
                <foreach collection="industryDefaultList" item="item" index="index">
                    <if test="item.parentIndustryId != null and item.parentIndustryId != ''">
                        when industry_id=#{item.industryId} then #{item.parentIndustryId}
                    </if>
                </foreach>
            </trim>
            <trim prefix="ancestors=case" suffix="end,">
                <foreach collection="industryDefaultList" item="item" index="index">
                    <if test="item.ancestors != null and item.ancestors != ''">
                        when industry_id=#{item.industryId} then #{item.ancestors}
                    </if>
                </foreach>
            </trim>
            <trim prefix="industry_code=case" suffix="end,">
                <foreach collection="industryDefaultList" item="item" index="index">
                    <if test="item.industryCode != null and item.industryCode != ''">
                        when industry_id=#{item.industryId} then #{item.industryCode}
                    </if>
                </foreach>
            </trim>
            <trim prefix="industry_name=case" suffix="end,">
                <foreach collection="industryDefaultList" item="item" index="index">
                    <if test="item.industryName != null and item.industryName != ''">
                        when industry_id=#{item.industryId} then #{item.industryName}
                    </if>
                </foreach>
            </trim>
            <trim prefix="level=case" suffix="end,">
                <foreach collection="industryDefaultList" item="item" index="index">
                    <if test="item.level != null and item.level != ''">
                        when industry_id=#{item.industryId} then #{item.level}
                    </if>
                </foreach>
            </trim>
            <trim prefix="status=case" suffix="end,">
                <foreach collection="industryDefaultList" item="item" index="index">
                    <if test="item.status != null and item.status != ''">
                        when industry_id=#{item.industryId} then #{item.status}
                    </if>
                </foreach>
            </trim>
            <trim prefix="delete_flag=case" suffix="end,">
                <foreach collection="industryDefaultList" item="item" index="index">
                    <if test="item.deleteFlag != null and item.deleteFlag != ''">
                        when industry_id=#{item.industryId} then #{item.deleteFlag}
                    </if>
                </foreach>
            </trim>
            <trim prefix="create_by=case" suffix="end,">
                <foreach collection="industryDefaultList" item="item" index="index">
                    <if test="item.createBy != null and item.createBy != ''">
                        when industry_id=#{item.industryId} then #{item.createBy}
                    </if>
                </foreach>
            </trim>
            <trim prefix="create_time=case" suffix="end,">
                <foreach collection="industryDefaultList" item="item" index="index">
                    <if test="item.createTime != null">
                        when industry_id=#{item.industryId} then #{item.createTime}
                    </if>
                </foreach>
            </trim>
            <trim prefix="update_by=case" suffix="end,">
                <foreach collection="industryDefaultList" item="item" index="index">
                    <if test="item.updateBy != null and item.updateBy != ''">
                        when industry_id=#{item.industryId} then #{item.updateBy}
                    </if>
                </foreach>
            </trim>
            <trim prefix="update_time=case" suffix="end,">
                <foreach collection="industryDefaultList" item="item" index="index">
                    <if test="item.updateTime != null">
                        when industry_id=#{item.industryId} then #{item.updateTime}
                    </if>
                </foreach>
            </trim>
        </trim>
        where
        <foreach collection="industryDefaultList" separator="or" item="item" index="index">
            industry_id=#{item.industryId}
        </foreach>
    </update>
    <!--根据ids更新子级状态-->
    <update id="updateStatus">
        UPDATE industry_default
        SET
        status = #{status},
        update_by = #{updateBy},
        update_time = #{updateTime}
        WHERE industry_id IN
        <foreach item="item"
                 collection="industryIds"
                 index="index" open="(" separator="," close=")">
            #{item}
        </foreach>
        AND delete_flag = 0
    </update>
</mapper>


