<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.qixiaowei.system.manage.mapper.system.RoleMenuMapper">

    <select id="checkMenuExistRole" resultType="Integer">
        select count(1) from role_menu where menu_id = #{menuId}  and delete_flag = 0
    </select>
    <!--    查询角色菜单表-->
    <select id="selectRoleMenuByRoleMenuId"
            resultType="net.qixiaowei.system.manage.api.dto.system.RoleMenuDTO">
        SELECT
        role_menu_id, role_id, menu_id, delete_flag, create_by, create_time, update_by, update_time
        FROM role_menu
        WHERE  role_menu_id=#{roleMenuId}
        and delete_flag=0
    </select>

    <select id="selectRoleMenuListByRoleId" resultType="net.qixiaowei.system.manage.api.dto.system.RoleMenuDTO">
        SELECT
        role_menu_id, role_id, menu_id, delete_flag, create_by, create_time, update_by, update_time
        FROM role_menu
        WHERE delete_flag = 0 AND role_id=#{roleId}
    </select>

    <!--    查询角色菜单表列表-->
    <select id="selectRoleMenuList" resultType="net.qixiaowei.system.manage.api.dto.system.RoleMenuDTO">
        SELECT
        role_menu_id, role_id, menu_id, delete_flag, create_by, create_time, update_by, update_time
        FROM role_menu
        WHERE delete_flag=0
                <if test="roleMenu.roleMenuId != null">
                    and role_menu_id=#{roleMenu.roleMenuId}
                </if>
                <if test="roleMenu.roleId != null">
                    and role_id=#{roleMenu.roleId}
                </if>
                <if test="roleMenu.menuId != null">
                    and menu_id=#{roleMenu.menuId}
                </if>
                <if test="roleMenu.deleteFlag != null">
                    and delete_flag=#{roleMenu.deleteFlag}
                </if>
                <if test="roleMenu.createBy != null">
                    and create_by=#{roleMenu.createBy}
                </if>
                <if test="roleMenu.createTime != null">
                    and create_time=#{roleMenu.createTime}
                </if>
                <if test="roleMenu.updateBy != null">
                    and update_by=#{roleMenu.updateBy}
                </if>
                <if test="roleMenu.updateTime != null">
                    and update_time=#{roleMenu.updateTime}
                </if>
    </select>
    <!--新增角色菜单表-->
    <insert id="insertRoleMenu" useGeneratedKeys="true" keyProperty="roleMenuId">
        INSERT INTO role_menu (role_id,menu_id,delete_flag,create_by,create_time,update_by,update_time)
        VALUES
        (#{roleMenu.roleId},#{roleMenu.menuId},#{roleMenu.deleteFlag},#{roleMenu.createBy},#{roleMenu.createTime},#{roleMenu.updateBy},#{roleMenu.updateTime})
    </insert>
    <!--修改角色菜单表-->
    <update id="updateRoleMenu">
        UPDATE role_menu
        SET
                    <if test="roleMenu.roleId != null">
                        role_id=#{roleMenu.roleId},
                    </if>
                    <if test="roleMenu.menuId != null">
                        menu_id=#{roleMenu.menuId},
                    </if>
                    <if test="roleMenu.deleteFlag != null">
                        delete_flag=#{roleMenu.deleteFlag},
                    </if>
                    <if test="roleMenu.createBy != null">
                        create_by=#{roleMenu.createBy},
                    </if>
                    <if test="roleMenu.createTime != null">
                        create_time=#{roleMenu.createTime},
                    </if>
                    <if test="roleMenu.updateBy != null">
                        update_by=#{roleMenu.updateBy},
                    </if>
                    <if test="roleMenu.updateTime != null">
                        update_time=#{roleMenu.updateTime}
                    </if>
        WHERE
                 role_menu_id=#{roleMenu.roleMenuId}
    </update>
    <!--逻辑删除角色菜单表-->
    <update id="logicDeleteRoleMenuByRoleMenuId">
        UPDATE role_menu
        SET     delete_flag= 1,
                update_by=#{roleMenu.updateBy},
                update_time=#{roleMenu.updateTime}
        WHERE
                role_menu_id=#{roleMenu.roleMenuId}
    </update>
    <!--逻辑批量删除角色菜单表-->
    <update id="logicDeleteRoleMenuByRoleMenuIds">
        UPDATE role_menu
        SET     delete_flag= 1,
                update_by=#{updateBy},
                update_time=#{updateTime}
        WHERE
         role_menu_id IN
            <foreach item="item"
                     collection="roleMenuIds"
                     index="index" open="(" separator="," close=")">
                #{item}
            </foreach>
    </update>
    <!--批量新增角色菜单表-->
    <insert id="batchRoleMenu">
        INSERT INTO role_menu (role_id,menu_id,delete_flag,create_by,create_time,update_by,update_time)
        VALUES
        <foreach item="item" index="index"
                 collection="roleMenus"
                 separator=",">
            (#{item.roleId},#{item.menuId},#{item.deleteFlag},#{item.createBy},#{item.createTime},#{item.updateBy},#{item.updateTime})
        </foreach>
    </insert>

    <!--物理删除角色菜单表-->
    <delete id="deleteRoleMenuByRoleMenuId">
        DELETE FROM role_menu
        WHERE  role_menu_id=#{roleMenu}

    </delete>
    <!--物理批量删除角色菜单表-->
    <delete id="deleteRoleMenuByRoleMenuIds">
        DELETE FROM role_menu
        WHERE  role_menu_id IN
            <foreach item="item"
                     collection="roleMenuIds"
                     index="index" open="(" separator="," close=")">
                #{item}
            </foreach>
    </delete>
    <!--批量修改角色菜单表-->
    <update id="updateRoleMenus">
        update role_menu
        <trim prefix="set" suffixOverrides=",">
            <trim prefix="role_menu_id=case" suffix="end,">
            </trim>
            <trim prefix="role_id=case" suffix="end,">
                <foreach collection="roleMenuList" item="item" index="index">
                             <if test="item.roleId != null">
                                 when role_menu_id=#{item.roleMenuId} then #{item.roleId}
                             </if>
                </foreach>
            </trim>
            <trim prefix="menu_id=case" suffix="end,">
                <foreach collection="roleMenuList" item="item" index="index">
                             <if test="item.menuId != null">
                                 when role_menu_id=#{item.roleMenuId} then #{item.menuId}
                             </if>
                </foreach>
            </trim>
            <trim prefix="delete_flag=case" suffix="end,">
                <foreach collection="roleMenuList" item="item" index="index">
                             <if test="item.deleteFlag != null">
                                 when role_menu_id=#{item.roleMenuId} then #{item.deleteFlag}
                             </if>
                </foreach>
            </trim>
            <trim prefix="create_by=case" suffix="end,">
                <foreach collection="roleMenuList" item="item" index="index">
                             <if test="item.createBy != null">
                                 when role_menu_id=#{item.roleMenuId} then #{item.createBy}
                             </if>
                </foreach>
            </trim>
            <trim prefix="create_time=case" suffix="end,">
                <foreach collection="roleMenuList" item="item" index="index">
                             <if test="item.createTime != null">
                                 when role_menu_id=#{item.roleMenuId} then #{item.createTime}
                             </if>
                </foreach>
            </trim>
            <trim prefix="update_by=case" suffix="end,">
                <foreach collection="roleMenuList" item="item" index="index">
                             <if test="item.updateBy != null">
                                 when role_menu_id=#{item.roleMenuId} then #{item.updateBy}
                             </if>
                </foreach>
            </trim>
            <trim prefix="update_time=case" suffix="end,">
                <foreach collection="roleMenuList" item="item" index="index">
                             <if test="item.updateTime != null">
                                 when role_menu_id=#{item.roleMenuId} then #{item.updateTime}
                             </if>
                </foreach>
            </trim>
        </trim>
        where
        <foreach collection="roleMenuList" separator="or" item="item" index="index">
                    role_menu_id=#{item.roleMenuId}
        </foreach>
    </update>
</mapper>


