<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.qixiaowei.system.manage.mapper.tenant.TenantMapper">
    <!--    查询租户表-->
    <select id="selectTenantByTenantId"
            resultType="net.qixiaowei.system.manage.api.dto.tenant.TenantDTO">
        SELECT t.tenant_id,
               t.tenant_code,
               t.tenant_name,
               t.tenant_address,
               t.tenant_industry,
               t.domain,
               t.admin_account,
               t.admin_password,
               t.support_staff,
               t.login_background,
               t.tenant_logo,
               t.tenant_status,
               t.delete_flag,
               t.create_by,
               t.create_time,
               t.update_by,
               t.update_time
        FROM tenant t
        WHERE t.tenant_id = #{tenantId}
          and t.delete_flag = 0
    </select>

    <select id="selectTenantByDomain"
            resultType="net.qixiaowei.system.manage.api.dto.tenant.TenantDTO">
        SELECT t.tenant_id,
        t.tenant_code,
        t.tenant_name,
        t.tenant_address,
        t.tenant_industry,
        t.domain,
        t.admin_account,
        t.admin_password,
        t.support_staff,
        t.login_background,
        t.tenant_logo,
        t.tenant_status,
        t.delete_flag,
        t.create_by,
        t.create_time,
        t.update_by,
        t.update_time
        FROM tenant t
        WHERE t.domain = #{domain}
        and t.delete_flag = 0
    </select>

    <select id="selectTenantByTenantCode"
            resultType="net.qixiaowei.system.manage.api.dto.tenant.TenantDTO">
        SELECT t.tenant_id,
        t.tenant_code,
        t.tenant_name,
        t.tenant_address,
        t.tenant_industry,
        t.domain,
        t.admin_account,
        t.admin_password,
        t.support_staff,
        t.login_background,
        t.tenant_logo,
        t.tenant_status,
        t.delete_flag,
        t.create_by,
        t.create_time,
        t.update_by,
        t.update_time
        FROM tenant t
        WHERE t.tenant_code = #{tenantCode}
        and t.delete_flag = 0
    </select>

    <!--    查询租户表列表-->
    <select id="selectTenantList" resultType="net.qixiaowei.system.manage.api.dto.tenant.TenantDTO">
        select
        e.employee_name,
        id.industry_name as tenant_industry_name,
        t.tenant_id,
        t.tenant_code,
        t.tenant_name,
        t.tenant_address,
        t.tenant_industry,
        t.domain,
        t.admin_account,
        t.admin_password,
        t.support_staff,
        t.login_background,
        t.tenant_logo,
        t.tenant_status,
        t.delete_flag,
        t.create_by,
        t.create_time,
        t.update_by,
        t.update_time
        from
        tenant t
        left join industry_default id
        on t.tenant_industry = id.industry_id
        and id.delete_flag = 0
        left join employee e
        on e.employee_id in (t.support_staff)
        and e.delete_flag = 0
        where t.delete_flag = 0
        <if test="tenant.tenantIds  != null and tenant.tenantIds.size()!=0">
            and   t.tenant_id  in
            <foreach item="item"
                     collection="tenant.tenantIds"
                     index="index" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test="tenant.tenantIndustryName != null and tenant.tenantIndustryName != ''">
            and   id.industry_name  like '%${tenant.tenantIndustryName}%'
        </if>
        <if test="tenant.supportStaffName != null and tenant.supportStaffName != ''">
          and   e.employee_name like '%${tenant.supportStaffName}%'
        </if>
        <if test="tenant.tenantId != null and tenant.tenantId != ''">
            and t.tenant_id like '%${tenant.tenantId}%'
        </if>
        <if test="tenant.tenantCode != null and tenant.tenantCode != ''">
            and t.tenant_code like '%${tenant.tenantCode}%'
        </if>
        <if test="tenant.tenantName != null and tenant.tenantName != ''">
            and t.tenant_name like '%${tenant.tenantName}%'
        </if>
        <if test="tenant.tenantAddress != null and tenant.tenantAddress != ''">
            and t.tenant_address like '%${tenant.tenantAddress}%'
        </if>
        <if test="tenant.tenantIndustry != null and tenant.tenantIndustry != ''">
            and t.tenant_industry like '%${tenant.tenantIndustry}%'
        </if>
        <if test="tenant.domain != null and tenant.domain != ''">
            and t.domain like '%${tenant.domain}%'
        </if>
        <if test="tenant.adminAccount != null and tenant.adminAccount != ''">
            and t.admin_account like '%${tenant.adminAccount}%'
        </if>
        <if test="tenant.adminPassword != null and tenant.adminPassword != ''">
            and t.admin_password like '%${tenant.adminPassword}%'
        </if>
        <if test="tenant.loginBackground != null and tenant.loginBackground != ''">
            and t.login_background like '%${tenant.loginBackground}%'
        </if>
        <if test="tenant.tenantLogo != null and tenant.tenantLogo != ''">
            and t.tenant_logo like '%${tenant.tenantLogo}%'
        </if>
        <if test="tenant.tenantStatus != null">
            and t.tenant_status =#{tenant.tenantStatus}
        </if>
    </select>
    <!--新增租户表-->
    <insert id="insertTenant" useGeneratedKeys="true" keyProperty="tenantId">
        INSERT INTO tenant (tenant_code, tenant_name, tenant_address, tenant_industry, domain, admin_account,
                            admin_password, support_staff, login_background, tenant_logo, tenant_status, delete_flag,
                            create_by, create_time, update_by, update_time)
        VALUES (#{tenant.tenantCode}, #{tenant.tenantName}, #{tenant.tenantAddress}, #{tenant.tenantIndustry},
                #{tenant.domain}, #{tenant.adminAccount}, #{tenant.adminPassword}, #{tenant.supportStaff},
                #{tenant.loginBackground}, #{tenant.tenantLogo}, #{tenant.tenantStatus}, #{tenant.deleteFlag},
                #{tenant.createBy}, #{tenant.createTime}, #{tenant.updateBy}, #{tenant.updateTime})
    </insert>
    <!--修改租户表-->
    <update id="updateTenant">
        UPDATE tenant
        SET
        <if test="tenant.tenantCode != null and tenant.tenantCode != ''">
            tenant_code=#{tenant.tenantCode},
        </if>
        <if test="tenant.tenantName != null and tenant.tenantName != ''">
            tenant_name=#{tenant.tenantName},
        </if>
        <if test="tenant.tenantAddress != null and tenant.tenantAddress != ''">
            tenant_address=#{tenant.tenantAddress},
        </if>
        <if test="tenant.tenantIndustry != null">
            tenant_industry=#{tenant.tenantIndustry},
        </if>
        <if test="tenant.domain != null and tenant.domain != ''">
            domain=#{tenant.domain},
        </if>
        <if test="tenant.adminAccount != null and tenant.adminAccount != ''">
            admin_account=#{tenant.adminAccount},
        </if>
        <if test="tenant.adminPassword != null and tenant.adminPassword != ''">
            admin_password=#{tenant.adminPassword},
        </if>
        <if test="tenant.supportStaff != null and tenant.supportStaff != ''">
            support_staff=#{tenant.supportStaff},
        </if>
        <if test="tenant.loginBackground != null and tenant.loginBackground != ''">
            login_background=#{tenant.loginBackground},
        </if>
        <if test="tenant.tenantLogo != null and tenant.tenantLogo != ''">
            tenant_logo=#{tenant.tenantLogo},
        </if>
        <if test="tenant.tenantStatus != null">
            tenant_status=#{tenant.tenantStatus},
        </if>
        <if test="tenant.deleteFlag != null">
            delete_flag=#{tenant.deleteFlag},
        </if>
        <if test="tenant.createBy != null">
            create_by=#{tenant.createBy},
        </if>
        <if test="tenant.createTime != null">
            create_time=#{tenant.createTime},
        </if>
        <if test="tenant.updateBy != null">
            update_by=#{tenant.updateBy},
        </if>
        <if test="tenant.updateTime != null">
            update_time=#{tenant.updateTime}
        </if>
        WHERE
        tenant_id=#{tenant.tenantId}
    </update>
    <!--逻辑删除租户表-->
    <update id="logicDeleteTenantByTenantId">
        UPDATE tenant
        SET delete_flag= 1,
            update_by=#{tenant.updateBy},
            update_time=#{tenant.updateTime}
        WHERE tenant_id = #{tenant.tenantId}
    </update>
    <!--逻辑批量删除租户表-->
    <update id="logicDeleteTenantByTenantIds">
        UPDATE tenant
        SET delete_flag= 1,
        update_by=#{updateBy},
        update_time=#{updateTime}
        WHERE
        tenant_id IN
        <foreach item="item"
                 collection="tenantIds"
                 index="index" open="(" separator="," close=")">
            #{item}
        </foreach>
    </update>
    <!--批量新增租户表-->
    <insert id="batchTenant">
        INSERT INTO tenant
        (tenant_code,tenant_name,tenant_address,tenant_industry,domain,admin_account,admin_password,support_staff,login_background,tenant_logo,tenant_status,delete_flag,create_by,create_time,update_by,update_time)
        VALUES
        <foreach item="item" index="index"
                 collection="tenants"
                 separator=",">
            (#{item.tenantCode},#{item.tenantName},#{item.tenantAddress},#{item.tenantIndustry},#{item.domain},#{item.adminAccount},#{item.adminPassword},#{item.supportStaff},#{item.loginBackground},#{item.tenantLogo},#{item.tenantStatus},#{item.deleteFlag},#{item.createBy},#{item.createTime},#{item.updateBy},#{item.updateTime})
        </foreach>
    </insert>

    <!--物理删除租户表-->
    <delete id="deleteTenantByTenantId">
        DELETE
        FROM tenant
        WHERE tenant_id = #{tenant}

    </delete>
    <!--物理批量删除租户表-->
    <delete id="deleteTenantByTenantIds">
        DELETE FROM tenant
        WHERE tenant_id IN
        <foreach item="item"
                 collection="tenantIds"
                 index="index" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>
    <!--批量修改租户表-->
    <update id="updateTenants">
        update tenant
        <trim prefix="set" suffixOverrides=",">
            <trim prefix="tenant_code=case" suffix="end,">
                <foreach collection="tenantList" item="item" index="index">
                    <if test="item.tenantCode != null and item.tenantCode != ''">
                        when tenant_id=#{item.tenantId} then #{item.tenantCode}
                    </if>
                </foreach>
            </trim>
            <trim prefix="tenant_name=case" suffix="end,">
                <foreach collection="tenantList" item="item" index="index">
                    <if test="item.tenantName != null and item.tenantName != ''">
                        when tenant_id=#{item.tenantId} then #{item.tenantName}
                    </if>
                </foreach>
            </trim>
            <trim prefix="tenant_address=case" suffix="end,">
                <foreach collection="tenantList" item="item" index="index">
                    <if test="item.tenantAddress != null and item.tenantAddress != ''">
                        when tenant_id=#{item.tenantId} then #{item.tenantAddress}
                    </if>
                </foreach>
            </trim>
            <trim prefix="tenant_industry=case" suffix="end,">
                <foreach collection="tenantList" item="item" index="index">
                    <if test="item.tenantIndustry != null">
                        when tenant_id=#{item.tenantId} then #{item.tenantIndustry}
                    </if>
                </foreach>
            </trim>
            <trim prefix="domain=case" suffix="end,">
                <foreach collection="tenantList" item="item" index="index">
                    <if test="item.domain != null and item.domain != ''">
                        when tenant_id=#{item.tenantId} then #{item.domain}
                    </if>
                </foreach>
            </trim>
            <trim prefix="admin_account=case" suffix="end,">
                <foreach collection="tenantList" item="item" index="index">
                    <if test="item.adminAccount != null and item.adminAccount != ''">
                        when tenant_id=#{item.tenantId} then #{item.adminAccount}
                    </if>
                </foreach>
            </trim>
            <trim prefix="admin_password=case" suffix="end,">
                <foreach collection="tenantList" item="item" index="index">
                    <if test="item.adminPassword != null and item.adminPassword != ''">
                        when tenant_id=#{item.tenantId} then #{item.adminPassword}
                    </if>
                </foreach>
            </trim>
            <trim prefix="support_staff=case" suffix="end,">
                <foreach collection="tenantList" item="item" index="index">
                    <if test="item.supportStaff != null and item.supportStaff != ''">
                        when tenant_id=#{item.tenantId} then #{item.supportStaff}
                    </if>
                </foreach>
            </trim>
            <trim prefix="login_background=case" suffix="end,">
                <foreach collection="tenantList" item="item" index="index">
                    <if test="item.loginBackground != null and item.loginBackground != ''">
                        when tenant_id=#{item.tenantId} then #{item.loginBackground}
                    </if>
                </foreach>
            </trim>
            <trim prefix="tenant_logo=case" suffix="end,">
                <foreach collection="tenantList" item="item" index="index">
                    <if test="item.tenantLogo != null and item.tenantLogo != ''">
                        when tenant_id=#{item.tenantId} then #{item.tenantLogo}
                    </if>
                </foreach>
            </trim>
            <trim prefix="tenant_status=case" suffix="end,">
                <foreach collection="tenantList" item="item" index="index">
                    <if test="item.tenantStatus != null">
                        when tenant_id=#{item.tenantId} then #{item.tenantStatus}
                    </if>
                </foreach>
            </trim>
            <trim prefix="delete_flag=case" suffix="end,">
                <foreach collection="tenantList" item="item" index="index">
                    <if test="item.deleteFlag != null">
                        when tenant_id=#{item.tenantId} then #{item.deleteFlag}
                    </if>
                </foreach>
            </trim>
            <trim prefix="create_by=case" suffix="end,">
                <foreach collection="tenantList" item="item" index="index">
                    <if test="item.createBy != null">
                        when tenant_id=#{item.tenantId} then #{item.createBy}
                    </if>
                </foreach>
            </trim>
            <trim prefix="create_time=case" suffix="end,">
                <foreach collection="tenantList" item="item" index="index">
                    <if test="item.createTime != null">
                        when tenant_id=#{item.tenantId} then #{item.createTime}
                    </if>
                </foreach>
            </trim>
            <trim prefix="update_by=case" suffix="end,">
                <foreach collection="tenantList" item="item" index="index">
                    <if test="item.updateBy != null">
                        when tenant_id=#{item.tenantId} then #{item.updateBy}
                    </if>
                </foreach>
            </trim>
            <trim prefix="update_time=case" suffix="end,">
                <foreach collection="tenantList" item="item" index="index">
                    <if test="item.updateTime != null">
                        when tenant_id=#{item.tenantId} then #{item.updateTime}
                    </if>
                </foreach>
            </trim>
        </trim>
        where
        <foreach collection="tenantList" separator="or" item="item" index="index">
            tenant_id=#{item.tenantId}
        </foreach>
    </update>
</mapper>


