<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.qixiaowei.operate.cloud.mapper.bonus.DeptAnnualBonusMapper">
    <!--    查询部门年终奖表-->
    <select id="selectDeptAnnualBonusByDeptAnnualBonusId"
            resultType="net.qixiaowei.operate.cloud.api.dto.bonus.DeptAnnualBonusDTO">
        SELECT
        dept_annual_bonus_id,annual_bonus_year,company_annual_bonus,department_annual_bonus,status,delete_flag,create_by,create_time,update_by,update_time
        FROM dept_annual_bonus
        WHERE  dept_annual_bonus_id=#{deptAnnualBonusId}
        and delete_flag=0
    </select>

    <!--    批量查询部门年终奖表-->
    <select id="selectDeptAnnualBonusByDeptAnnualBonusIds"
            resultType="net.qixiaowei.operate.cloud.api.dto.bonus.DeptAnnualBonusDTO">
        SELECT
        dept_annual_bonus_id,annual_bonus_year,company_annual_bonus,department_annual_bonus,status,delete_flag,create_by,create_time,update_by,update_time
        FROM dept_annual_bonus
        WHERE  dept_annual_bonus_id in
            <foreach item="item"
                     collection="deptAnnualBonusIds"
                     index="index" open="(" separator="," close=")">
                #{item}
            </foreach>
        and delete_flag=0
    </select>

    <!--    查询部门年终奖表列表-->
    <select id="selectDeptAnnualBonusList" resultType="net.qixiaowei.operate.cloud.api.dto.bonus.DeptAnnualBonusDTO">
        SELECT
        dept_annual_bonus_id,annual_bonus_year,company_annual_bonus,department_annual_bonus,status,delete_flag,create_by,create_time,update_by,update_time
        FROM dept_annual_bonus
        WHERE delete_flag=0
                        <if test="deptAnnualBonus.deptAnnualBonusId != null">
                            and dept_annual_bonus_id=#{deptAnnualBonus.deptAnnualBonusId}
                        </if>
                        <if test="deptAnnualBonus.annualBonusYear != null">
                            and annual_bonus_year=#{deptAnnualBonus.annualBonusYear}
                        </if>
                        <if test="deptAnnualBonus.companyAnnualBonus != null">
                            and company_annual_bonus=#{deptAnnualBonus.companyAnnualBonus}
                        </if>
                        <if test="deptAnnualBonus.departmentAnnualBonus != null">
                            and department_annual_bonus=#{deptAnnualBonus.departmentAnnualBonus}
                        </if>
                        <if test="deptAnnualBonus.status != null">
                            and status=#{deptAnnualBonus.status}
                        </if>
                        <if test="deptAnnualBonus.deleteFlag != null">
                            and delete_flag=#{deptAnnualBonus.deleteFlag}
                        </if>
                        <if test="deptAnnualBonus.createBy != null">
                            and create_by=#{deptAnnualBonus.createBy}
                        </if>
                        <if test="deptAnnualBonus.createTime != null">
                            and create_time=#{deptAnnualBonus.createTime}
                        </if>
                        <if test="deptAnnualBonus.updateBy != null">
                            and update_by=#{deptAnnualBonus.updateBy}
                        </if>
                        <if test="deptAnnualBonus.updateTime != null">
                            and update_time=#{deptAnnualBonus.updateTime}
                        </if>
    </select>
<!--    根据年份和一级部门年终奖-->
    <select id="selectDeptAnnualBonusByAnnualBonusYear"
            resultType="net.qixiaowei.operate.cloud.api.dto.bonus.DeptAnnualBonusDTO">
        SELECT dab.department_annual_bonus
        from dept_annual_bonus dab
                 left join dept_annual_bonus_factor dabf
                           on dab.dept_annual_bonus_id = dabf.dept_annual_bonus_id
                               and dabf.delete_flag = 0
        WHERE dab.delete_flag = 0
          and dab.annual_bonus_year=#{deptAnnualBonus.annualBonusYear}
          and dabf.department_id=#{deptAnnualBonus.departmentId}
    </select>
<!--    根据部门年终奖年份查询部门年终奖表-->
    <select id="selectDeptAnnualBonusByAnnualBonusYearAdd"
            resultType="net.qixiaowei.operate.cloud.api.dto.bonus.DeptAnnualBonusDTO">
        SELECT
            dept_annual_bonus_id,annual_bonus_year,company_annual_bonus,department_annual_bonus,status,delete_flag,create_by,create_time,update_by,update_time
        FROM dept_annual_bonus
        WHERE  annual_bonus_year=#{annualBonusYear}
          and delete_flag=0
    </select>
    <!--新增部门年终奖表-->
    <insert id="insertDeptAnnualBonus" useGeneratedKeys="true" keyProperty="deptAnnualBonusId">
        INSERT INTO dept_annual_bonus (annual_bonus_year,company_annual_bonus,department_annual_bonus,status,delete_flag,create_by,create_time,update_by,update_time)
        VALUES
        (#{deptAnnualBonus.annualBonusYear},#{deptAnnualBonus.companyAnnualBonus},#{deptAnnualBonus.departmentAnnualBonus},#{deptAnnualBonus.status},#{deptAnnualBonus.deleteFlag},#{deptAnnualBonus.createBy},#{deptAnnualBonus.createTime},#{deptAnnualBonus.updateBy},#{deptAnnualBonus.updateTime})
    </insert>
    <!--修改部门年终奖表-->
    <update id="updateDeptAnnualBonus">
        UPDATE dept_annual_bonus
        SET
                    <if test="deptAnnualBonus.annualBonusYear != null">
                        annual_bonus_year=#{deptAnnualBonus.annualBonusYear},
                    </if>
                    <if test="deptAnnualBonus.companyAnnualBonus != null">
                        company_annual_bonus=#{deptAnnualBonus.companyAnnualBonus},
                    </if>
                    <if test="deptAnnualBonus.departmentAnnualBonus != null">
                        department_annual_bonus=#{deptAnnualBonus.departmentAnnualBonus},
                    </if>
                    <if test="deptAnnualBonus.status != null">
                        status=#{deptAnnualBonus.status},
                    </if>
                    <if test="deptAnnualBonus.deleteFlag != null">
                        delete_flag=#{deptAnnualBonus.deleteFlag},
                    </if>
                    <if test="deptAnnualBonus.createBy != null">
                        create_by=#{deptAnnualBonus.createBy},
                    </if>
                    <if test="deptAnnualBonus.createTime != null">
                        create_time=#{deptAnnualBonus.createTime},
                    </if>
                    <if test="deptAnnualBonus.updateBy != null">
                        update_by=#{deptAnnualBonus.updateBy},
                    </if>
                    <if test="deptAnnualBonus.updateTime != null">
                        update_time=#{deptAnnualBonus.updateTime}
                    </if>
        WHERE
                 dept_annual_bonus_id=#{deptAnnualBonus.deptAnnualBonusId}
    </update>
    <!--逻辑删除部门年终奖表-->
    <update id="logicDeleteDeptAnnualBonusByDeptAnnualBonusId">
        UPDATE dept_annual_bonus
        SET     delete_flag= 1,
                update_by=#{deptAnnualBonus.updateBy},
                update_time=#{deptAnnualBonus.updateTime}
        WHERE
                dept_annual_bonus_id=#{deptAnnualBonus.deptAnnualBonusId}
    </update>
    <!--逻辑批量删除部门年终奖表-->
    <update id="logicDeleteDeptAnnualBonusByDeptAnnualBonusIds">
        UPDATE dept_annual_bonus
        SET     delete_flag= 1,
                update_by=#{updateBy},
                update_time=#{updateTime}
        WHERE
         dept_annual_bonus_id IN
            <foreach item="item"
                     collection="deptAnnualBonusIds"
                     index="index" open="(" separator="," close=")">
                #{item}
            </foreach>
    </update>
    <!--批量新增部门年终奖表-->
    <insert id="batchDeptAnnualBonus">
        INSERT INTO dept_annual_bonus (annual_bonus_year,company_annual_bonus,department_annual_bonus,status,delete_flag,create_by,create_time,update_by,update_time)
        VALUES
        <foreach item="item" index="index"
                 collection="deptAnnualBonuss"
                 separator=",">
            (#{item.annualBonusYear},#{item.companyAnnualBonus},#{item.departmentAnnualBonus},#{item.status},#{item.deleteFlag},#{item.createBy},#{item.createTime},#{item.updateBy},#{item.updateTime})
        </foreach>
    </insert>

    <!--物理删除部门年终奖表-->
    <delete id="deleteDeptAnnualBonusByDeptAnnualBonusId">
        DELETE FROM dept_annual_bonus
        WHERE  dept_annual_bonus_id=#{deptAnnualBonus}

    </delete>
    <!--物理批量删除部门年终奖表-->
    <delete id="deleteDeptAnnualBonusByDeptAnnualBonusIds">
        DELETE FROM dept_annual_bonus
        WHERE  dept_annual_bonus_id IN
            <foreach item="item"
                     collection="deptAnnualBonusIds"
                     index="index" open="(" separator="," close=")">
                #{item}
            </foreach>
    </delete>
    <!--批量修改部门年终奖表-->
    <update id="updateDeptAnnualBonuss">
        update dept_annual_bonus
        <trim prefix="set" suffixOverrides=",">
                <trim prefix="annual_bonus_year=case" suffix="end,">
                        <foreach collection="deptAnnualBonusList" item="item" index="index">
                                <if test="item.annualBonusYear != null">
                                    when dept_annual_bonus_id=#{item.deptAnnualBonusId} then #{item.annualBonusYear}
                                </if>
                        </foreach>
                </trim>
                <trim prefix="company_annual_bonus=case" suffix="end,">
                        <foreach collection="deptAnnualBonusList" item="item" index="index">
                                <if test="item.companyAnnualBonus != null">
                                    when dept_annual_bonus_id=#{item.deptAnnualBonusId} then #{item.companyAnnualBonus}
                                </if>
                        </foreach>
                </trim>
                <trim prefix="department_annual_bonus=case" suffix="end,">
                        <foreach collection="deptAnnualBonusList" item="item" index="index">
                                <if test="item.departmentAnnualBonus != null">
                                    when dept_annual_bonus_id=#{item.deptAnnualBonusId} then #{item.departmentAnnualBonus}
                                </if>
                        </foreach>
                </trim>
                <trim prefix="status=case" suffix="end,">
                        <foreach collection="deptAnnualBonusList" item="item" index="index">
                                <if test="item.status != null">
                                    when dept_annual_bonus_id=#{item.deptAnnualBonusId} then #{item.status}
                                </if>
                        </foreach>
                </trim>
                <trim prefix="delete_flag=case" suffix="end,">
                        <foreach collection="deptAnnualBonusList" item="item" index="index">
                                <if test="item.deleteFlag != null">
                                    when dept_annual_bonus_id=#{item.deptAnnualBonusId} then #{item.deleteFlag}
                                </if>
                        </foreach>
                </trim>
                <trim prefix="create_by=case" suffix="end,">
                        <foreach collection="deptAnnualBonusList" item="item" index="index">
                                <if test="item.createBy != null">
                                    when dept_annual_bonus_id=#{item.deptAnnualBonusId} then #{item.createBy}
                                </if>
                        </foreach>
                </trim>
                <trim prefix="create_time=case" suffix="end,">
                        <foreach collection="deptAnnualBonusList" item="item" index="index">
                                <if test="item.createTime != null">
                                    when dept_annual_bonus_id=#{item.deptAnnualBonusId} then #{item.createTime}
                                </if>
                        </foreach>
                </trim>
                <trim prefix="update_by=case" suffix="end,">
                        <foreach collection="deptAnnualBonusList" item="item" index="index">
                                <if test="item.updateBy != null">
                                    when dept_annual_bonus_id=#{item.deptAnnualBonusId} then #{item.updateBy}
                                </if>
                        </foreach>
                </trim>
                <trim prefix="update_time=case" suffix="end,">
                        <foreach collection="deptAnnualBonusList" item="item" index="index">
                                <if test="item.updateTime != null">
                                    when dept_annual_bonus_id=#{item.deptAnnualBonusId} then #{item.updateTime}
                                </if>
                        </foreach>
                </trim>
        </trim>
        where
        <foreach collection="deptAnnualBonusList" separator="or" item="item" index="index">
                    dept_annual_bonus_id=#{item.deptAnnualBonusId}
        </foreach>
    </update>
</mapper>


