<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.qixiaowei.operate.cloud.mapper.bonus.DeptBonusBudgetItemsMapper">
    <!--    查询部门奖金预算项目表-->
    <select id="selectDeptBonusBudgetItemsByDeptBonusBudgetItemsId"
            resultType="net.qixiaowei.operate.cloud.api.dto.bonus.DeptBonusBudgetItemsDTO">
        SELECT
            dept_bonus_budget_items_id, dept_bonus_budget_id, dept_bonus_budget_details_id, salary_item_id, bonus_percentage, sort, delete_flag, create_by, create_time, update_by, update_time
        FROM dept_bonus_budget_items
        WHERE  dept_bonus_budget_items_id=#{deptBonusBudgetItemsId}
          and delete_flag=0
    </select>

    <!--    批量查询部门奖金预算项目表-->
    <select id="selectDeptBonusBudgetItemsByDeptBonusBudgetItemsIds"
            resultType="net.qixiaowei.operate.cloud.api.dto.bonus.DeptBonusBudgetItemsDTO">
        SELECT
        dept_bonus_budget_items_id, dept_bonus_budget_id, dept_bonus_budget_details_id, salary_item_id, bonus_percentage, sort, delete_flag, create_by, create_time, update_by, update_time
        FROM dept_bonus_budget_items
        WHERE  dept_bonus_budget_items_id in
        <foreach item="item"
                 collection="deptBonusBudgetItemsIds"
                 index="index" open="(" separator="," close=")">
            #{item}
        </foreach>
        and delete_flag=0
    </select>

    <!--    查询部门奖金预算项目表列表-->
    <select id="selectDeptBonusBudgetItemsList" resultType="net.qixiaowei.operate.cloud.api.dto.bonus.DeptBonusBudgetItemsDTO">
        SELECT
        dept_bonus_budget_items_id, dept_bonus_budget_id, dept_bonus_budget_details_id, salary_item_id, bonus_percentage, sort, delete_flag, create_by, create_time, update_by, update_time
        FROM dept_bonus_budget_items
        WHERE delete_flag=0
        <if test="deptBonusBudgetItems.deptBonusBudgetItemsId != null">
            and dept_bonus_budget_items_id=#{deptBonusBudgetItems.deptBonusBudgetItemsId}
        </if>
        <if test="deptBonusBudgetItems.deptBonusBudgetId != null">
            and dept_bonus_budget_id=#{deptBonusBudgetItems.deptBonusBudgetId}
        </if>
        <if test="deptBonusBudgetItems.deptBonusBudgetDetailsId != null">
            and dept_bonus_budget_details_id=#{deptBonusBudgetItems.deptBonusBudgetDetailsId}
        </if>
        <if test="deptBonusBudgetItems.salaryItemId != null">
            and salary_item_id=#{deptBonusBudgetItems.salaryItemId}
        </if>
        <if test="deptBonusBudgetItems.bonusPercentage != null">
            and bonus_percentage=#{deptBonusBudgetItems.bonusPercentage}
        </if>
        <if test="deptBonusBudgetItems.sort != null">
            and sort=#{deptBonusBudgetItems.sort}
        </if>
        <if test="deptBonusBudgetItems.deleteFlag != null">
            and delete_flag=#{deptBonusBudgetItems.deleteFlag}
        </if>
        <if test="deptBonusBudgetItems.createBy != null">
            and create_by=#{deptBonusBudgetItems.createBy}
        </if>
        <if test="deptBonusBudgetItems.createTime != null">
            and create_time=#{deptBonusBudgetItems.createTime}
        </if>
        <if test="deptBonusBudgetItems.updateBy != null">
            and update_by=#{deptBonusBudgetItems.updateBy}
        </if>
        <if test="deptBonusBudgetItems.updateTime != null">
            and update_time=#{deptBonusBudgetItems.updateTime}
        </if>
    </select>
    <!--    根据部门奖金预算明细表id集合批量查询部门奖金预算项目表-->
    <select id="selectDeptBonusBudgetItemsByDeptBonusBudgetDetailsIds"
            resultType="net.qixiaowei.operate.cloud.api.dto.bonus.DeptBonusBudgetItemsDTO">
        SELECT
        si.third_level_item as salaryItemName,
        dbbi.dept_bonus_budget_items_id,
        dbbi.dept_bonus_budget_id,
        dbbi.dept_bonus_budget_details_id,
        dbbi.salary_item_id,
        dbbi.bonus_percentage,
        dbbi.sort,
        dbbi.delete_flag,
        dbbi.create_by,
        dbbi.create_time,
        dbbi.update_by,
        dbbi.update_time
        FROM
        dept_bonus_budget_items dbbi
        left join salary_item si
        on si.salary_item_id  =dbbi .salary_item_id
        and si.delete_flag =0
        WHERE  dbbi.dept_bonus_budget_details_id in
        <foreach item="item"
                 collection="deptBonusBudgetDetailsIds"
                 index="index" open="(" separator="," close=")">
            #{item}
        </foreach>
        and dbbi.delete_flag=0
        order by dbbi.sort
    </select>
    <!--    根据部门奖金预算主表id查询公司奖金预算明细表-->
    <select id="selectCompanyBonusBudgetDetailsByCompanyBonusBudgetId"
            resultType="net.qixiaowei.operate.cloud.api.dto.bonus.DeptBonusCompanyDTO">
        SELECT
            si.third_level_item as salaryItemName,
            dbbi.dept_bonus_budget_items_id,
            dbbi.dept_bonus_budget_id,
            dbbi.dept_bonus_budget_details_id,
            dbbi.salary_item_id,
            dbbi.bonus_percentage,
            dbbi.sort,
            dbbi.delete_flag,
            dbbi.create_by,
            dbbi.create_time,
            dbbi.update_by,
            dbbi.update_time
        FROM
            dept_bonus_budget_items dbbi
                left join dept_bonus_budget dbb
                          on dbb.dept_bonus_budget_id  =dbbi.dept_bonus_budget_id
                              and dbbi.delete_flag =0
                left join salary_item si
                          on si.salary_item_id  =dbbi .salary_item_id
                              and si.delete_flag =0
        WHERE  dbbi.dept_bonus_budget_details_id =0
          and dbbi.delete_flag=0
          and dbbi.dept_bonus_budget_id=#{deptBonusBudgetId}
        order by dbbi.sort
    </select>
<!--    根据部门奖金预算主表id集合查询公司奖金预算明细表-->
    <select id="selectCompanyBonusBudgetDetailsByCompanyBonusBudgetIds"
            resultType="net.qixiaowei.operate.cloud.api.dto.bonus.DeptBonusCompanyDTO">
        SELECT
            si.third_level_item as salaryItemName,
            dbbi.dept_bonus_budget_items_id,
            dbbi.dept_bonus_budget_id,
            dbbi.dept_bonus_budget_details_id,
            dbbi.salary_item_id,
            dbbi.bonus_percentage,
            dbbi.sort,
            dbbi.delete_flag,
            dbbi.create_by,
            dbbi.create_time,
            dbbi.update_by,
            dbbi.update_time
        FROM
            dept_bonus_budget_items dbbi
                left join dept_bonus_budget dbb
                          on dbb.dept_bonus_budget_id  =dbbi.dept_bonus_budget_id
                              and dbbi.delete_flag =0
                left join salary_item si
                          on si.salary_item_id  =dbbi .salary_item_id
                              and si.delete_flag =0
        WHERE  dbbi.dept_bonus_budget_details_id =0
          and dbbi.delete_flag=0
          and dbbi.dept_bonus_budget_id in
        <foreach item="item"
                 collection="deptBonusBudgetIds"
                 index="index" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>
    <!--新增部门奖金预算项目表-->
    <insert id="insertDeptBonusBudgetItems" useGeneratedKeys="true" keyProperty="deptBonusBudgetItemsId">
        INSERT INTO dept_bonus_budget_items (dept_bonus_budget_id,dept_bonus_budget_details_id,salary_item_id,bonus_percentage,sort,delete_flag,create_by,create_time,update_by,update_time)
        VALUES
            (#{deptBonusBudgetItems.deptBonusBudgetId},#{deptBonusBudgetItems.deptBonusBudgetDetailsId},#{deptBonusBudgetItems.salaryItemId},#{deptBonusBudgetItems.bonusPercentage},#{deptBonusBudgetItems.sort},#{deptBonusBudgetItems.deleteFlag},#{deptBonusBudgetItems.createBy},#{deptBonusBudgetItems.createTime},#{deptBonusBudgetItems.updateBy},#{deptBonusBudgetItems.updateTime})
    </insert>
    <!--修改部门奖金预算项目表-->
    <update id="updateDeptBonusBudgetItems">
        UPDATE dept_bonus_budget_items
        SET
        <if test="deptBonusBudgetItems.deptBonusBudgetId != null">
            dept_bonus_budget_id=#{deptBonusBudgetItems.deptBonusBudgetId},
        </if>
        <if test="deptBonusBudgetItems.deptBonusBudgetDetailsId != null">
            dept_bonus_budget_details_id=#{deptBonusBudgetItems.deptBonusBudgetDetailsId},
        </if>
        <if test="deptBonusBudgetItems.salaryItemId != null">
            salary_item_id=#{deptBonusBudgetItems.salaryItemId},
        </if>
        <if test="deptBonusBudgetItems.bonusPercentage != null">
            bonus_percentage=#{deptBonusBudgetItems.bonusPercentage},
        </if>
        <if test="deptBonusBudgetItems.sort != null">
            sort=#{deptBonusBudgetItems.sort},
        </if>
        <if test="deptBonusBudgetItems.deleteFlag != null">
            delete_flag=#{deptBonusBudgetItems.deleteFlag},
        </if>
        <if test="deptBonusBudgetItems.createBy != null">
            create_by=#{deptBonusBudgetItems.createBy},
        </if>
        <if test="deptBonusBudgetItems.createTime != null">
            create_time=#{deptBonusBudgetItems.createTime},
        </if>
        <if test="deptBonusBudgetItems.updateBy != null">
            update_by=#{deptBonusBudgetItems.updateBy},
        </if>
        <if test="deptBonusBudgetItems.updateTime != null">
            update_time=#{deptBonusBudgetItems.updateTime}
        </if>
        WHERE
        dept_bonus_budget_items_id=#{deptBonusBudgetItems.deptBonusBudgetItemsId}
    </update>
    <!--逻辑删除部门奖金预算项目表-->
    <update id="logicDeleteDeptBonusBudgetItemsByDeptBonusBudgetItemsId">
        UPDATE dept_bonus_budget_items
        SET     delete_flag= 1,
                update_by=#{deptBonusBudgetItems.updateBy},
                update_time=#{deptBonusBudgetItems.updateTime}
        WHERE
                dept_bonus_budget_items_id=#{deptBonusBudgetItems.deptBonusBudgetItemsId}
    </update>
    <!--逻辑批量删除部门奖金预算项目表-->
    <update id="logicDeleteDeptBonusBudgetItemsByDeptBonusBudgetItemsIds">
        UPDATE dept_bonus_budget_items
        SET     delete_flag= 1,
        update_by=#{updateBy},
        update_time=#{updateTime}
        WHERE
        dept_bonus_budget_items_id IN
        <foreach item="item"
                 collection="deptBonusBudgetItemsIds"
                 index="index" open="(" separator="," close=")">
            #{item}
        </foreach>
    </update>
    <!--批量新增部门奖金预算项目表-->
    <insert id="batchDeptBonusBudgetItems">
        INSERT INTO dept_bonus_budget_items (dept_bonus_budget_id,dept_bonus_budget_details_id,salary_item_id,bonus_percentage,sort,delete_flag,create_by,create_time,update_by,update_time)
        VALUES
        <foreach item="item" index="index"
                 collection="deptBonusBudgetItemss"
                 separator=",">
            (#{item.deptBonusBudgetId},#{item.deptBonusBudgetDetailsId},#{item.salaryItemId},#{item.bonusPercentage},#{item.sort},#{item.deleteFlag},#{item.createBy},#{item.createTime},#{item.updateBy},#{item.updateTime})
        </foreach>
    </insert>

    <!--物理删除部门奖金预算项目表-->
    <delete id="deleteDeptBonusBudgetItemsByDeptBonusBudgetItemsId">
        DELETE FROM dept_bonus_budget_items
        WHERE  dept_bonus_budget_items_id=#{deptBonusBudgetItems}

    </delete>
    <!--物理批量删除部门奖金预算项目表-->
    <delete id="deleteDeptBonusBudgetItemsByDeptBonusBudgetItemsIds">
        DELETE FROM dept_bonus_budget_items
        WHERE  dept_bonus_budget_items_id IN
        <foreach item="item"
                 collection="deptBonusBudgetItemsIds"
                 index="index" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>
    <!--批量修改部门奖金预算项目表-->
    <update id="updateDeptBonusBudgetItemss">
        update dept_bonus_budget_items
        <trim prefix="set" suffixOverrides=",">
            <trim prefix="dept_bonus_budget_id=case" suffix="end,">
                <foreach collection="deptBonusBudgetItemsList" item="item" index="index">
                    <if test="item.deptBonusBudgetId != null">
                        when dept_bonus_budget_items_id=#{item.deptBonusBudgetItemsId} then #{item.deptBonusBudgetId}
                    </if>
                </foreach>
            </trim>
            <trim prefix="dept_bonus_budget_details_id=case" suffix="end,">
                <foreach collection="deptBonusBudgetItemsList" item="item" index="index">
                    <if test="item.deptBonusBudgetDetailsId != null">
                        when dept_bonus_budget_items_id=#{item.deptBonusBudgetItemsId} then #{item.deptBonusBudgetDetailsId}
                    </if>
                </foreach>
            </trim>
            <trim prefix="salary_item_id=case" suffix="end,">
                <foreach collection="deptBonusBudgetItemsList" item="item" index="index">
                    <if test="item.salaryItemId != null">
                        when dept_bonus_budget_items_id=#{item.deptBonusBudgetItemsId} then #{item.salaryItemId}
                    </if>
                </foreach>
            </trim>
            <trim prefix="bonus_percentage=case" suffix="end,">
                <foreach collection="deptBonusBudgetItemsList" item="item" index="index">
                    <if test="item.bonusPercentage != null">
                        when dept_bonus_budget_items_id=#{item.deptBonusBudgetItemsId} then #{item.bonusPercentage}
                    </if>
                </foreach>
            </trim>
            <trim prefix="sort=case" suffix="end,">
                <foreach collection="deptBonusBudgetItemsList" item="item" index="index">
                    <if test="item.sort != null">
                        when dept_bonus_budget_items_id=#{item.deptBonusBudgetItemsId} then #{item.sort}
                    </if>
                </foreach>
            </trim>
            <trim prefix="delete_flag=case" suffix="end,">
                <foreach collection="deptBonusBudgetItemsList" item="item" index="index">
                    <if test="item.deleteFlag != null">
                        when dept_bonus_budget_items_id=#{item.deptBonusBudgetItemsId} then #{item.deleteFlag}
                    </if>
                </foreach>
            </trim>
            <trim prefix="create_by=case" suffix="end,">
                <foreach collection="deptBonusBudgetItemsList" item="item" index="index">
                    <if test="item.createBy != null">
                        when dept_bonus_budget_items_id=#{item.deptBonusBudgetItemsId} then #{item.createBy}
                    </if>
                </foreach>
            </trim>
            <trim prefix="create_time=case" suffix="end,">
                <foreach collection="deptBonusBudgetItemsList" item="item" index="index">
                    <if test="item.createTime != null">
                        when dept_bonus_budget_items_id=#{item.deptBonusBudgetItemsId} then #{item.createTime}
                    </if>
                </foreach>
            </trim>
            <trim prefix="update_by=case" suffix="end,">
                <foreach collection="deptBonusBudgetItemsList" item="item" index="index">
                    <if test="item.updateBy != null">
                        when dept_bonus_budget_items_id=#{item.deptBonusBudgetItemsId} then #{item.updateBy}
                    </if>
                </foreach>
            </trim>
            <trim prefix="update_time=case" suffix="end,">
                <foreach collection="deptBonusBudgetItemsList" item="item" index="index">
                    <if test="item.updateTime != null">
                        when dept_bonus_budget_items_id=#{item.deptBonusBudgetItemsId} then #{item.updateTime}
                    </if>
                </foreach>
            </trim>
        </trim>
        where
        <foreach collection="deptBonusBudgetItemsList" separator="or" item="item" index="index">
            dept_bonus_budget_items_id=#{item.deptBonusBudgetItemsId}
        </foreach>
    </update>
</mapper>


